files/workflows/BVfAulYx68lz1rvu.json
{"createdAt":"2025-09-10T08:26:34.799Z","updatedAt":"2025-09-10T13:26:36.256Z","id":"BVfAulYx68lz1rvu","name":"Apify Get Data","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"44b996fd-803f-4d9b-84d8-8e80ae1c0a46","name":"limit","value":"={{ $json.limit }}","type":"number"},{"id":"163191a6-4d96-4f17-8059-a40aabb61561","name":"offset","value":"={{ $json.offset +100}}","type":"number"},{"id":"0bb58c04-6edc-4910-97ed-7269cd5dbcc7","name":"=count","value":"={{ $items(\"Get dataset items1\").length }}","type":"number"},{"id":"92f6def6-0609-4053-9c48-130e4219258d","name":"dataset_id","value":"={{ $('Get row(s) in sheet').last().json.datdaset_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,-960],"id":"1a846dd4-da7b-4f1a-bf8f-86a301534b60","name":"Edit Fields"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[672,-960],"id":"173e7afc-8229-4e6d-a9f2-ac3c766ffd1e","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"3e3bbe19-103d-4089-9f44-87248840f7f2","name":"offset","value":0,"type":"number"},{"id":"a4ea2296-a62b-41bf-8726-64a7928393cf","name":"limit","value":100,"type":"number"},{"id":"affdfb10-e179-44bd-a3b6-1fcd77805057","name":"dataset_id","value":"={{ $json.datdaset_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,-880],"id":"aa957911-86a6-45bd-96c8-dc6920c82860","name":"Edit Fields1"},{"parameters":{"resource":"Datasets","datasetId":"={{ $json.dataset_id }}","offset":"={{ $json.offset }}","limit":"={{ $json.limit }}"},"type":"@apify/n8n-nodes-apify.apify","typeVersion":1,"position":[384,-1056],"id":"eedb0e01-f072-4889-8748-6ed00a031223","name":"Get dataset items1","alwaysOutputData":true,"credentials":{"apifyApi":{"id":"qzoBIWlPeZ7Q039x","name":"Apify account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"43acaaa8-b7b0-421f-b62d-aa503d306620","leftValue":"={{ $json.count }}","rightValue":"={{ $json.limit }}","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1152,-880],"id":"4b204e86-012a-4ede-87c8-65fb083290d6","name":"If"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-448,-768],"id":"f76b9e01-5775-4ca7-ba35-e9f7497b15ab","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"19dwQwHHVKgicOwy9PLORmm6R04-8xwIU_UuyxTWcCeQ","mode":"list","cachedResultName":"Maps Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19dwQwHHVKgicOwy9PLORmm6R04-8xwIU_UuyxTWcCeQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":628345533,"mode":"list","cachedResultName":"apify","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19dwQwHHVKgicOwy9PLORmm6R04-8xwIU_UuyxTWcCeQ/edit#gid=628345533"},"filtersUI":{"values":[{"lookupColumn":"status"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-224,-768],"id":"26a8c5c0-ee20-4bf0-8b4c-a43b981fc1b8","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"0x2Qtk8NZlxgOul6","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// n8n Function Node\nreturn items.map(item => {\n  const data = { ...item.json };\n\n  if (data.phone && typeof data.phone === 'string') {\n    // nur das erste + entfernen\n    data.phone = data.phone.replace(/^\\+/, '');\n  }\n\n  return {\n    json: data\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[784,-1152],"id":"b270d736-749f-4979-bd92-92097133b59e","name":"Code"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"19dwQwHHVKgicOwy9PLORmm6R04-8xwIU_UuyxTWcCeQ","mode":"list","cachedResultName":"Maps Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19dwQwHHVKgicOwy9PLORmm6R04-8xwIU_UuyxTWcCeQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":628345533,"mode":"list","cachedResultName":"apify","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19dwQwHHVKgicOwy9PLORmm6R04-8xwIU_UuyxTWcCeQ/edit#gid=628345533"},"columns":{"mappingMode":"defineBelow","value":{"datdaset_id":"={{ $('Get row(s) in sheet').last().json.datdaset_id }}","status":"=ready"},"matchingColumns":["datdaset_id"],"schema":[{"id":"datdaset_id","displayName":"datdaset_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1344,-768],"id":"2a3ec29d-2808-447d-90db-b4c80bee629d","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"0x2Qtk8NZlxgOul6","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7ffdc2e8-eb5a-4d9d-b062-b94cfc0fc14e","leftValue":"={{ $json.row_number }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[0,-840],"id":"077800ec-fb70-4321-9174-9736b03a2a84","name":"If1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1552,-768],"id":"0ca2f168-1a67-44c9-bf66-bfa23497aa88","name":"Wait","webhookId":"0cdfc389-dda1-4e1f-beff-02b79387d6d9"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"19dwQwHHVKgicOwy9PLORmm6R04-8xwIU_UuyxTWcCeQ","mode":"list","cachedResultName":"Maps Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19dwQwHHVKgicOwy9PLORmm6R04-8xwIU_UuyxTWcCeQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":898790879,"mode":"list","cachedResultName":"Maps bereinigt","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19dwQwHHVKgicOwy9PLORmm6R04-8xwIU_UuyxTWcCeQ/edit#gid=898790879"},"columns":{"mappingMode":"autoMapInputData","value":{"url":"={{$json[\"url\"]}}","title":"={{$json[\"title\"]}}","categoryName":"={{$json[\"categoryName\"]}}","address":"{{$json[\"categoryName\"]}}","neighborhood":"{{$json[\"categoryName\"]}}","street":"{{$json[\"categoryName\"]}}","city":"{{$json[\"categoryName\"]}}","postalCode":"{{$json[\"categoryName\"]}}","countryCode":"{{$json[\"categoryName\"]}}","phone":"={{ $json[\"phone\"].replace(\"+\", \"\") }}","phoneUnformatted":"={{ $json[\"phoneUnformatted\"].replace(\"+\", \"\") }}","claimThisBusiness":"={{$json[\"categoryName\"]}}","totalScore":"={{$json[\"categoryName\"]}}","permanentlyClosed":"={{$json[\"categoryName\"]}}","temporarilyClosed":"={{$json[\"categoryName\"]}}","placeId":"={{$json[\"categoryName\"]}}","categories":"={{$json[\"categoryName\"]}}","fid":"={{$json[\"categoryName\"]}}","cid":"={{$json[\"categoryName\"]}}","reviewsCount":"={{$json[\"categoryName\"]}}","imagesCount":"={{$json[\"categoryName\"]}}","scrapedAt":"={{$json[\"categoryName\"]}}","openingHours":"={{$json[\"categoryName\"]}}","additionalInfo":"={{$json[\"categoryName\"]}}","searchPageUrl":"={{$json[\"categoryName\"]}}","searchString":"={{$json[\"categoryName\"]}}","rank":"={{$json[\"categoryName\"]}}","isAdvertisement":"={{$json[\"categoryName\"]}}","imageUrl":"={{$json[\"categoryName\"]}}","website":"={{$json[\"categoryName\"]}}","reviewsDistribution":"={{$json[\"categoryName\"]}}","description":"={{$json[\"categoryName\"]}}","subTitle":"={{$json[\"categoryName\"]}}"},"matchingColumns":[],"schema":[{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"categoryName","displayName":"categoryName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"address","displayName":"address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"neighborhood","displayName":"neighborhood","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"street","displayName":"street","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"postalCode","displayName":"postalCode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"countryCode","displayName":"countryCode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"phoneUnformatted","displayName":"phoneUnformatted","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"claimThisBusiness","displayName":"claimThisBusiness","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"totalScore","displayName":"totalScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"permanentlyClosed","displayName":"permanentlyClosed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"temporarilyClosed","displayName":"temporarilyClosed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"placeId","displayName":"placeId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"categories","displayName":"categories","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"fid","displayName":"fid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"cid","displayName":"cid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"reviewsCount","displayName":"reviewsCount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"imagesCount","displayName":"imagesCount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"scrapedAt","displayName":"scrapedAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"openingHours","displayName":"openingHours","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"additionalInfo","displayName":"additionalInfo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"searchPageUrl","displayName":"searchPageUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"rank","displayName":"rank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"isAdvertisement","displayName":"isAdvertisement","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"imageUrl","displayName":"imageUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"reviewsDistribution","displayName":"reviewsDistribution","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"subTitle","displayName":"subTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1040,-1152],"id":"5cb4f8ca-4c5b-4c35-bb93-29a096c9cb2d","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"0x2Qtk8NZlxgOul6","name":"Google Sheets account"}}}],"connections":{"Edit Fields":{"main":[[{"node":"If","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Get dataset items1","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Get dataset items1":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"Code","type":"main","index":0}]]},"If":{"main":[[{"node":"Get dataset items1","type":"main","index":0}],[{"node":"Update row in sheet","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Wait","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"97b86bbc-f881-4301-b937-90bfc9843c39","triggerCount":0,"tags":[]}