files/workflows/BXRNG8krFk1juI6r.json
{"createdAt":"2025-09-07T17:34:57.511Z","updatedAt":"2025-09-10T20:13:22.921Z","id":"BXRNG8krFk1juI6r","name":"Apify Scraper","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-32,-528],"id":"8a6a0c73-db15-4174-a7bf-597897f8912f","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"19dwQwHHVKgicOwy9PLORmm6R04-8xwIU_UuyxTWcCeQ","mode":"list","cachedResultName":"Maps Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19dwQwHHVKgicOwy9PLORmm6R04-8xwIU_UuyxTWcCeQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1023297515,"mode":"list","cachedResultName":"Suchbegriffe Apify","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19dwQwHHVKgicOwy9PLORmm6R04-8xwIU_UuyxTWcCeQ/edit#gid=1023297515"},"filtersUI":{"values":[{"lookupColumn":"Status"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[192,-528],"id":"39b0ac42-7638-4741-b9fd-5b0345050706","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"0x2Qtk8NZlxgOul6","name":"Google Sheets account"}}},{"parameters":{"actorId":{"__rl":true,"value":"nwua9Gu5YrADL7ZDj","mode":"list","cachedResultName":"Google Maps Scraper (compass/crawler-google-places)","cachedResultUrl":"https://console.apify.com/actors/nwua9Gu5YrADL7ZDj/input"},"customBody":"={\n    \"includeWebResults\": false,\n    \"language\": \"de\",\n    \"locationQuery\": \"Münster Deutschland\",\n    \"maxImages\": 0,\n    \"maxCrawledPlacesPerSearch\": 100,\n    \"maximumLeadsEnrichmentRecords\": 0,\n    \"scrapeContacts\": false,\n    \"scrapeDirectories\": false,\n    \"scrapeImageAuthors\": false,\n    \"scrapePlaceDetailPage\": false,\n    \"scrapeReviewsPersonalData\": true,\n    \"scrapeTableReservationProvider\": false,\n    \"searchStringsArray\": [\n        {{ $json.searchStringsArray }}\n    ],\n    \"skipClosedPlaces\": false\n}"},"type":"@apify/n8n-nodes-apify.apify","typeVersion":1,"position":[1088,-528],"id":"46fc9a80-d866-402e-abc0-0891e4008a92","name":"Run an Actor","credentials":{"apifyApi":{"id":"qzoBIWlPeZ7Q039x","name":"Apify account"}}},{"parameters":{"amount":50},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1312,-528],"id":"c2cc4e84-8ef2-4f69-839e-6bc887d94c93","name":"Wait","webhookId":"8a9901a0-f8f1-4db8-9136-1bfa8b17cc8c"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"19dwQwHHVKgicOwy9PLORmm6R04-8xwIU_UuyxTWcCeQ","mode":"list","cachedResultName":"Maps Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19dwQwHHVKgicOwy9PLORmm6R04-8xwIU_UuyxTWcCeQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1023297515,"mode":"list","cachedResultName":"Suchbegriffe Apify","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19dwQwHHVKgicOwy9PLORmm6R04-8xwIU_UuyxTWcCeQ/edit#gid=1023297515"},"columns":{"mappingMode":"defineBelow","value":{"Status":"fertig","Suchbegriff":"=","Anzahl":"={{ $('Get last run').item.json.chargedEventCounts[\"place-scraped\"] }}"},"matchingColumns":["Suchbegriff"],"schema":[{"id":"Suchbegriff","displayName":"Suchbegriff","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Anzahl","displayName":"Anzahl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1760,-528],"id":"b51209f6-7dd6-4383-93f4-92d30041b6f8","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"0x2Qtk8NZlxgOul6","name":"Google Sheets account"}}},{"parameters":{"operation":"Get last run","userActorId":{"__rl":true,"value":"nwua9Gu5YrADL7ZDj","mode":"list","cachedResultName":"Google Maps Scraper (compass/crawler-google-places)","cachedResultUrl":"https://console.apify.com/actors/nwua9Gu5YrADL7ZDj/input"}},"type":"@apify/n8n-nodes-apify.apify","typeVersion":1,"position":[1536,-528],"id":"9f4445f8-8b68-4707-a2f2-07813461043d","name":"Get last run","credentials":{"apifyApi":{"id":"qzoBIWlPeZ7Q039x","name":"Apify account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c4e87511-8da4-4a3b-b539-662bba80a516","leftValue":"={{ $json.Suchbegriff }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[416,-528],"id":"abe10d65-2ccf-4519-9012-ba1897e2f550","name":"If1"},{"parameters":{"batchSize":10,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[640,-528],"id":"c8e638f8-617f-4f13-aa74-cdc0b1d80f04","name":"Loop Over Items"},{"parameters":{"jsCode":"const items = $input.all();\n\nconst result = items.map(item => `\"${item.json.Suchbegriff}\"`);\n\nreturn [\n  {\n    json: {\n      searchStringsArray: result\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[864,-528],"id":"03a71a72-1f81-41f2-b1d9-473865f2d9a9","name":"Code"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If1","type":"main","index":0}]]},"Run an Actor":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get last run","type":"main","index":0}]]},"Get last run":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Update row in sheet":{"main":[[]]},"If1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Run an Actor","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d59782ac-13b8-415a-aa72-b88415f86212","triggerCount":1,"tags":[]}