files/workflows/GrPvInJdb1nj0Noz.json
{"createdAt":"2025-09-07T18:15:55.982Z","updatedAt":"2025-09-08T13:37:43.967Z","id":"GrPvInJdb1nj0Noz","name":"Daily KPIs","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-64,368],"id":"286956ac-c1e1-4dc1-8114-6bcfd03af89c","name":"When clicking ‘Execute workflow’"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[832,-144],"id":"fbdceb5d-6174-4fe1-b613-b377e74f7b7f","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"c7d40d71-d7aa-473c-bed7-6159710cb6b7","name":"limit","value":"={{ $json.limit }}","type":"number"},{"id":"dc031b4f-39e9-4a5b-9307-5075efe78364","name":"date_created__gt","value":"={{ $json.date_created__gt }}","type":"string"},{"id":"7387f265-9147-40e8-b35c-6dcf3d7ef3cd","name":"date_created__lt","value":"={{ \n  $node[\"get_calls\"].json.data[$node[\"get_calls\"].json.data.length - 1].date_created\n    .replace(/\\.(\\d{3})\\d+/, '.$1')\n    .replace('+00:00','Z')\n}}","type":"string"},{"id":"45910741-22b6-4c12-af77-e88f2b6d197c","name":"count","value":"={{ $items(\"Split Out\").length }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1056,-144],"id":"8711ad3d-cef0-4349-a310-00b77257971f","name":"Edit Fields1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1zXaXhMo2eT3jrmBoQ6ulI5sarwl5SeKqJvkHKE4Gcfg","mode":"list","cachedResultName":"Close KPIs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zXaXhMo2eT3jrmBoQ6ulI5sarwl5SeKqJvkHKE4Gcfg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Daily Activities","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zXaXhMo2eT3jrmBoQ6ulI5sarwl5SeKqJvkHKE4Gcfg/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["id"],"schema":[{"id":"sequence_name","displayName":"sequence_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"lead_id","displayName":"lead_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"duration","displayName":"duration","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"recording_history","displayName":"recording_history","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"outcome_id","displayName":"outcome_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"is_joinable","displayName":"is_joinable","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"recording_duration","displayName":"recording_duration","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"voicemail_url","displayName":"voicemail_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"recording_url","displayName":"recording_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"remote_phone_formatted","displayName":"remote_phone_formatted","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"has_recording","displayName":"has_recording","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"date_updated","displayName":"date_updated","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"direction","displayName":"direction","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"call_method","displayName":"call_method","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sequence_id","displayName":"sequence_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"voicemail_duration","displayName":"voicemail_duration","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"dialer_id","displayName":"dialer_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"remote_phone","displayName":"remote_phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"contact_id","displayName":"contact_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"recording_expires_at","displayName":"recording_expires_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"dialer_saved_search_id","displayName":"dialer_saved_search_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"note_date_updated","displayName":"note_date_updated","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"note_mentions","displayName":"note_mentions","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"remote_country_iso","displayName":"remote_country_iso","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"transferred_from_user_id","displayName":"transferred_from_user_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"updated_by","displayName":"updated_by","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"disposition","displayName":"disposition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cost","displayName":"cost","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"parent_meeting_id","displayName":"parent_meeting_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"notetaker_id","displayName":"notetaker_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"transferred_to_user_id","displayName":"transferred_to_user_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sequence_subscription_id","displayName":"sequence_subscription_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"date_created","displayName":"date_created","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_by","displayName":"created_by","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"date_answered","displayName":"date_answered","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Some columns are hidden","displayName":"Some columns are hidden","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"local_country_iso","displayName":"local_country_iso","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"forwarded_to","displayName":"forwarded_to","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"note_html","displayName":"note_html","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"local_phone_formatted","displayName":"local_phone_formatted","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"coach_legs","displayName":"coach_legs","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"updated_by_name","displayName":"updated_by_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"note","displayName":"note","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"_type","displayName":"_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"users","displayName":"users","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"transferred_to","displayName":"transferred_to","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"is_forwarded","displayName":"is_forwarded","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"organization_id","displayName":"organization_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"activity_at","displayName":"activity_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_by_name","displayName":"created_by_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"local_phone","displayName":"local_phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"transferred_from","displayName":"transferred_from","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"is_to_group_number","displayName":"is_to_group_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[160,-496],"id":"90692ddf-7587-4511-b2c4-143fef4e21c3","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"0x2Qtk8NZlxgOul6","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e59fbe5b-8bdb-48d8-84d7-4827fc327604","leftValue":"={{ $json.limit }}","rightValue":"={{ $json.count }}","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1280,-80],"id":"818d3f8f-d329-4a38-859a-21a5f47e187e","name":"If"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[608,-288],"id":"4b4a4527-029d-4829-947e-d2220492e538","name":"Split Out"},{"parameters":{"url":"https://api.close.com/api/v1/activity/call","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"date_created__gt","value":"={{ $json.date_created__gt }}"},{"name":"date_created__lt","value":"={{ $json.date_created__lt }}"},{"name":"_limit","value":"={{ $json.limit }}"},{"name":"_order_by","value":"-date_created"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[384,-176],"id":"74ea5869-1ce1-4e48-9dc5-0505bc3ccc22","name":"get_calls","credentials":{"httpBasicAuth":{"id":"CMKlMKH6HfiVIn5e","name":"Close.io"}}},{"parameters":{"assignments":{"assignments":[{"id":"69be3cc5-49be-4eb6-86d2-4ac954f29ebf","name":"date_created__gt","value":"2025-09-08T00:00:00.000Z","type":"string"},{"id":"c5f34d78-a8e5-4ec9-ad36-69996e06b4c4","name":"date_created__lt","value":"={{ (new Date()).toISOString() }}","type":"string"},{"id":"ebb711aa-f990-442d-a474-3925507f84e2","name":"limit","value":100,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,368],"id":"99bc8180-0ca8-4176-806f-37f69e73f50d","name":"Edit Fields2"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[832,272],"id":"5700aa05-9791-4706-95af-98d178709471","name":"Merge1"},{"parameters":{"assignments":{"assignments":[{"id":"c7d40d71-d7aa-473c-bed7-6159710cb6b7","name":"limit","value":"={{ $('Edit Fields2').item.json.limit }}","type":"number"},{"id":"dc031b4f-39e9-4a5b-9307-5075efe78364","name":"date_created__gt","value":"={{ $json.date_created__gt }}","type":"string"},{"id":"7387f265-9147-40e8-b35c-6dcf3d7ef3cd","name":"date_created__lt","value":"={{ \n  $node[\"get_calls1\"].json.data[$node[\"get_calls1\"].json.data.length - 1].date_created\n    .replace(/\\.(\\d{3})\\d+/, '.$1')\n    .replace('+00:00','Z')\n}}","type":"string"},{"id":"45910741-22b6-4c12-af77-e88f2b6d197c","name":"count","value":"={{ $items(\"Split Out1\").length }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1056,272],"id":"f63c0cf2-f227-4fde-812a-ff3a100dcf9c","name":"Edit Fields3"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1zXaXhMo2eT3jrmBoQ6ulI5sarwl5SeKqJvkHKE4Gcfg","mode":"list","cachedResultName":"Close KPIs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zXaXhMo2eT3jrmBoQ6ulI5sarwl5SeKqJvkHKE4Gcfg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Daily Activities","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zXaXhMo2eT3jrmBoQ6ulI5sarwl5SeKqJvkHKE4Gcfg/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["id"],"schema":[{"id":"sequence_name","displayName":"sequence_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"lead_id","displayName":"lead_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"duration","displayName":"duration","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"recording_history","displayName":"recording_history","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"outcome_id","displayName":"outcome_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"is_joinable","displayName":"is_joinable","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"recording_duration","displayName":"recording_duration","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"voicemail_url","displayName":"voicemail_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"recording_url","displayName":"recording_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"remote_phone_formatted","displayName":"remote_phone_formatted","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"has_recording","displayName":"has_recording","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"date_updated","displayName":"date_updated","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"direction","displayName":"direction","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"call_method","displayName":"call_method","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sequence_id","displayName":"sequence_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"voicemail_duration","displayName":"voicemail_duration","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"dialer_id","displayName":"dialer_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"remote_phone","displayName":"remote_phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"contact_id","displayName":"contact_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"recording_expires_at","displayName":"recording_expires_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"dialer_saved_search_id","displayName":"dialer_saved_search_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"note_date_updated","displayName":"note_date_updated","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"note_mentions","displayName":"note_mentions","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"remote_country_iso","displayName":"remote_country_iso","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"transferred_from_user_id","displayName":"transferred_from_user_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"updated_by","displayName":"updated_by","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"disposition","displayName":"disposition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cost","displayName":"cost","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"parent_meeting_id","displayName":"parent_meeting_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"notetaker_id","displayName":"notetaker_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"transferred_to_user_id","displayName":"transferred_to_user_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sequence_subscription_id","displayName":"sequence_subscription_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"date_created","displayName":"date_created","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_by","displayName":"created_by","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"date_answered","displayName":"date_answered","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Some columns are hidden","displayName":"Some columns are hidden","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"local_country_iso","displayName":"local_country_iso","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"forwarded_to","displayName":"forwarded_to","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"note_html","displayName":"note_html","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"local_phone_formatted","displayName":"local_phone_formatted","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"coach_legs","displayName":"coach_legs","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"updated_by_name","displayName":"updated_by_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"note","displayName":"note","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"_type","displayName":"_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"users","displayName":"users","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"transferred_to","displayName":"transferred_to","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"is_forwarded","displayName":"is_forwarded","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"organization_id","displayName":"organization_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"activity_at","displayName":"activity_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_by_name","displayName":"created_by_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"local_phone","displayName":"local_phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"transferred_from","displayName":"transferred_from","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"is_to_group_number","displayName":"is_to_group_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[832,464],"id":"1973bd47-e94a-47cd-9170-02e1ead846c0","name":"Append row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"0x2Qtk8NZlxgOul6","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e59fbe5b-8bdb-48d8-84d7-4827fc327604","leftValue":"={{ $json.limit }}","rightValue":"={{ $json.count }}","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1280,432],"id":"3e258a52-2b1c-49b1-bb73-05e20deeb85b","name":"If1"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[608,368],"id":"fecf3f5c-bb4a-4b6a-9337-96d4a45ca7ef","name":"Split Out1"},{"parameters":{"url":"https://api.close.com/api/v1/activity/custom/","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"_order_by","value":"-date_created"},{"name":"_limit","value":"={{ $json.limit }}"},{"name":"date_created__gt","value":"={{ $json.date_created__gt }}"},{"name":"date_created__lt","value":"={{ $json.date_created__lt }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[384,432],"id":"734a8a61-166c-41ed-b7f5-a398cdc499c2","name":"get_calls1","credentials":{"httpBasicAuth":{"id":"CMKlMKH6HfiVIn5e","name":"Close.io"}}},{"parameters":{"mode":"combine","fieldsToMatchString":"data","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1808,-112],"id":"869a88fb-f9f0-44c6-950e-4c2fce6785de","name":"Merge2"},{"parameters":{"jsCode":"// Holt ALLE Items, die aus Merge2 kommen\nconst data = $input.all().map(item => item.json);\n\nconst result = {};\n\nfor (const row of data) {\n  // Nur Calls berücksichtigen\n  if (row._type !== 'call') continue;\n\n  const user = row.created_by_name || 'Unknown';\n\n  if (!result[user]) {\n    result[user] = {\n      created_by_name: user,\n      total_calls: 0,\n    };\n  }\n\n  result[user].total_calls += 1;\n}\n\n// Rückgabe: Eine Zeile pro User\nreturn Object.values(result).map(r => ({ json: r }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2352,-112],"id":"b31a438b-a55c-4d0a-a835-0c731bad05ca","name":"Code"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2016,-112],"id":"fcb56547-37de-4b19-aaae-85d90921a2bd","name":"Aggregate"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"If","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"If":{"main":[[{"node":"get_calls","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Merge2","type":"main","index":0}]]},"get_calls":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"get_calls1","type":"main","index":0},{"node":"Merge1","type":"main","index":1},{"node":"get_calls","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"If1","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"If1":{"main":[[{"node":"get_calls1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Append row in sheet1","type":"main","index":0},{"node":"Merge1","type":"main","index":0}]]},"get_calls1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Append row in sheet1":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Merge2":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0d3e9453-0fda-4423-a8c9-e2d91f0e4014","triggerCount":0,"tags":[]}