files/workflows/NDYfhibkpRIMtMZ2.json
{"createdAt":"2025-09-10T20:41:00.968Z","updatedAt":"2025-09-11T08:24:04.722Z","id":"NDYfhibkpRIMtMZ2","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[48,144],"id":"eb085bb4-ec01-4946-a566-dcad6bb6bed4","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"Datasets","datasetId":"3SaFQTC46UitrpVLG","offset":"={{ $json.offset }}","limit":"={{ $json.limit }}"},"type":"@apify/n8n-nodes-apify.apify","typeVersion":1,"position":[496,144],"id":"275c7956-0ace-40f2-b87e-d930a93ae989","name":"Get dataset items","credentials":{"apifyApi":{"id":"qzoBIWlPeZ7Q039x","name":"Apify account"}}},{"parameters":{"assignments":{"assignments":[{"id":"9689c636-7c55-4217-a4ff-882e81877284","name":"offset","value":"={{$json.offset || 0}}","type":"number"},{"id":"5585ea50-2c3f-4567-97cf-837816bd00ed","name":"limit","value":50,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[272,144],"id":"4dca4f34-8627-45f0-bf01-dad09a71c8dc","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"fa87f679-c29d-4444-8764-e56e693fc950","name":"offset","value":"={{ $runIndex * $('Edit Fields').item.json.limit }}","type":"number"},{"id":"f96c21e7-1347-4110-ab43-30503c84bd9f","name":"limit","value":"={{ $('Edit Fields').item.json.limit }}","type":"number"},{"id":"cf46df93-79df-48b4-af56-ce84c7705f39","name":"count","value":"={{ $items(\"Get dataset items\").length }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,64],"id":"93322dc1-79ee-4cdb-bdce-d130155ed656","name":"Edit Fields1"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[720,64],"id":"7b15bf62-1d3f-4044-aa07-54d8b32df1e1","name":"Aggregate"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a53b5794-ae77-4bff-9d5e-eaae7c6efef2","leftValue":"={{ $json.limit }}","rightValue":"={{ $json.count }}","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1184,64],"id":"5f9c9621-fe22-4e1c-bf3b-8baab270262d","name":"If"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Get dataset items","type":"main","index":0}]]},"Get dataset items":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"If","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"If":{"main":[[{"node":"Get dataset items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b9ded3c1-7ae4-4bcc-a4aa-f68ba4ae7a56","triggerCount":0,"tags":[]}