n8n/workflows/close-crm-sync/00-full-sync.json
{
  "id": "1M30qQhxTkyqTd8g",
  "name": "00 - Close CRM Sync - Full Sync",
  "nodes": [
    {
      "id": "trigger-fs",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ],
      "parameters": {}
    },
    {
      "id": "webhook-fs",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        520
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "full-sync",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "schedule-fs",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        740
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "fetch-runs-fs",
      "name": "Fetch Sync Runs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        300
      ],
      "alwaysOutputData": true,
      "parameters": {
        "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/sync_runs?select=entity,finished_at&status=eq.success&order=finished_at.desc&limit=50",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_LEADS_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "cleanup-fs",
      "name": "Cleanup Stale Runs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ],
      "alwaysOutputData": true,
      "continueOnFail": true,
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/sync_runs?status=eq.running&started_at=lt.{{ $now.minus(120, 'minutes').toISO() }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_LEADS_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"status\": \"error\", \"error_message\": \"timeout - stale running entry\", \"finished_at\": \"{{ $now.toISO() }}\"}",
        "options": {}
      }
    },
    {
      "id": "check-lock-fs",
      "name": "Check Active Runs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        300
      ],
      "alwaysOutputData": true,
      "continueOnFail": true,
      "parameters": {
        "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/sync_runs?status=eq.running&started_at=gt.{{ $now.minus(120, 'minutes').toISO() }}&select=id&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_LEADS_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "is-locked-fs",
      "name": "Is Locked?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        300
      ],
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconst runs = Array.isArray(result) ? result : [];\nif (runs.length > 0) {\n  console.log('Full-Sync aborted: another execution is still running (sync_run id: ' + runs[0].id + ')');\n  return [];\n}\nreturn [{ json: { locked: false } }];"
      }
    },
    {
      "id": "build-tasks-fs",
      "name": "Build Task List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ],
      "parameters": {
        "jsCode": "const syncRunsRaw = $('Fetch Sync Runs').all().map(i => i.json);\nconst syncRuns = syncRunsRaw.filter(r => r && r.entity);\n\nconst lastSync = {};\nfor (const run of syncRuns) {\n  if (run.entity && run.finished_at) {\n    if (!lastSync[run.entity] || new Date(run.finished_at) > new Date(lastSync[run.entity])) {\n      lastSync[run.entity] = run.finished_at;\n    }\n  }\n}\n\nconst entities = [\n  { key: 'users', entity: 'users', workflowId: 'XuPdrCJXWzWb5LOZ', usesDate: true, chunkMode: 'none' },\n  { key: 'leads', entity: 'leads', workflowId: 'LuuTFS5EC1mOcdb1', usesDate: true, chunkMode: 'monthly' },\n  { key: 'activity_types', entity: 'custom_activity_types', workflowId: 'W549YA04HFFti2Wa', usesDate: true, chunkMode: 'none' },\n  { key: 'custom_fields', entity: null, workflowId: 'Qs3XRfwzLEHsft25', usesDate: false, chunkMode: 'none' },\n  { key: 'opportunities', entity: 'opportunities', workflowId: 'gxncNWabbKl12Yyu', usesDate: true, chunkMode: 'none' },\n  { key: 'calls', entity: 'calls', workflowId: 'yTKEleR62nPoSjDU', usesDate: true, chunkMode: 'monthly' },\n  { key: 'meetings', entity: 'meetings', workflowId: 'IlARmuyC2IJ1ciLd', usesDate: true, chunkMode: '6months' },\n  { key: 'custom_activities', entity: 'custom_activities', workflowId: '6hVvL0XTQr4kMEQX', usesDate: true, chunkMode: '6months' }\n];\n\nconst CHUNK_THRESHOLD_DAYS = 7;\nconst tasks = [];\nconst now = new Date();\n\nfor (const ent of entities) {\n  if (!ent.usesDate) {\n    tasks.push({ json: {\n      entity: ent.entity || ent.key, workflowId: ent.workflowId,\n      since: '', until: '', label: ent.key\n    }});\n    continue;\n  }\n\n  let since = (ent.entity && lastSync[ent.entity])\n    ? lastSync[ent.entity]\n    : '2024-06-11T00:00:00.000Z';\n\n  // Calls: max 3 months back to avoid excessive API load\n  if (ent.key === 'calls') {\n    const threeMonthsAgo = new Date(now);\n    threeMonthsAgo.setMonth(threeMonthsAgo.getMonth() - 3);\n    if (new Date(since) < threeMonthsAgo) since = threeMonthsAgo.toISOString();\n  }\n\n  const sinceDate = new Date(since);\n  const daysDiff = (now - sinceDate) / (1000 * 60 * 60 * 24);\n\n  if (ent.chunkMode === 'none' || daysDiff <= CHUNK_THRESHOLD_DAYS) {\n    tasks.push({ json: {\n      entity: ent.entity || ent.key, workflowId: ent.workflowId,\n      since, until: '', label: ent.key + (daysDiff <= CHUNK_THRESHOLD_DAYS ? ' (daily)' : '')\n    }});\n  } else {\n    const monthsPerChunk = ent.chunkMode === '6months' ? 6 : 1;\n    let chunkStart = new Date(sinceDate);\n    while (chunkStart < now) {\n      const chunkEnd = new Date(chunkStart);\n      chunkEnd.setMonth(chunkEnd.getMonth() + monthsPerChunk);\n      if (chunkEnd > now) chunkEnd.setTime(now.getTime());\n\n      tasks.push({ json: {\n        entity: ent.entity || ent.key, workflowId: ent.workflowId,\n        since: chunkStart.toISOString(),\n        until: chunkEnd.toISOString(),\n        label: ent.key + ' ' + chunkStart.toISOString().slice(0, 7)\n      }});\n\n      chunkStart = new Date(chunkEnd);\n    }\n  }\n}\n\nreturn tasks;"
      }
    },
    {
      "id": "batch-fs",
      "name": "Process Tasks",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        960,
        300
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "log-fs",
      "name": "Log Task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        500
      ],
      "parameters": {
        "jsCode": "const task = $input.first().json;\nconsole.log('Sync: ' + task.label);\nreturn [{ json: { since: task.since, until: task.until, workflowId: task.workflowId, entity: task.entity } }];"
      }
    },
    {
      "id": "exec-fs",
      "name": "Execute Sync",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1440,
        500
      ],
      "continueOnFail": true,
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $json.workflowId }}",
          "mode": "id"
        },
        "options": {}
      }
    },
    {
      "id": "handle-result-fs",
      "name": "Handle Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        500
      ],
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconst task = $('Log Task').first().json;\nconst hasError = !!result.error || result.finished === false || (result.execution && result.execution.status === 'error') || (!result.data && !result.execution_id && !result.id && Object.keys(result).length === 0);\nlet errorMsg = '';\nif (result.error) {\n  errorMsg = typeof result.error === 'object'\n    ? (result.error.message || JSON.stringify(result.error))\n    : String(result.error);\n} else if (hasError) {\n  errorMsg = 'Sub-workflow returned no data or failed silently';\n}\nconst safeError = errorMsg.slice(0, 500).replace(/\\\\/g, '\\\\\\\\').replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n');\nreturn [{ json: {\n  success: !hasError,\n  error: safeError,\n  entity: task.entity\n}}];"
      }
    },
    {
      "id": "if-error-fs",
      "name": "IF Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1920,
        500
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "err-check",
              "leftValue": "={{ $json.success }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "mark-error-fs",
      "name": "Mark Sync Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        400
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/sync_runs?entity=eq.{{ $json.entity }}&status=eq.running&order=started_at.desc&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_LEADS_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"status\": \"error\", \"error_message\": \"{{ $json.error }}\", \"finished_at\": \"{{ $now.toISO() }}\"}",
        "options": {}
      }
    },
    {
      "id": "wait-fs",
      "name": "Wait 1s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2400,
        500
      ],
      "parameters": {
        "resume": "timeInterval",
        "amount": 1,
        "unit": "seconds"
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch Sync Runs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Sync Runs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Fetch Sync Runs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Sync Runs": {
      "main": [
        [
          {
            "node": "Cleanup Stale Runs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Stale Runs": {
      "main": [
        [
          {
            "node": "Check Active Runs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Active Runs": {
      "main": [
        [
          {
            "node": "Is Locked?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Locked?": {
      "main": [
        [
          {
            "node": "Build Task List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Task List": {
      "main": [
        [
          {
            "node": "Process Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Tasks": {
      "main": [
        [],
        [
          {
            "node": "Log Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Task": {
      "main": [
        [
          {
            "node": "Execute Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Sync": {
      "main": [
        [
          {
            "node": "Handle Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Result": {
      "main": [
        [
          {
            "node": "IF Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Error?": {
      "main": [
        [
          {
            "node": "Mark Sync Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 1s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Sync Error": {
      "main": [
        [
          {
            "node": "Wait 1s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1s": {
      "main": [
        [
          {
            "node": "Process Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Berlin",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "OrTCUp8ufHjtmIcm"
  }
}
