n8n/workflows/close-crm-sync/04-sync-opportunities.json
{
  "id": "gxncNWabbKl12Yyu",
  "name": "04 - Close CRM Sync - Sync Opportunities",
  "nodes": [
    {
      "id": "trigger-04",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        304
      ],
      "parameters": {
        "inputSource": "passthrough"
      }
    },
    {
      "id": "sync-start-04",
      "name": "Sync Start",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        304
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/sync_runs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_LEADS_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"entity\": \"opportunities\", \"status\": \"running\", \"started_at\": \"{{ $now.toISO() }}\", \"sync_since\": \"{{ $json.since }}\", \"sync_until\": \"{{ $json.until }}\"}",
        "options": {}
      }
    },
    {
      "id": "fetch-users-04",
      "name": "Fetch Users",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        304
      ],
      "parameters": {
        "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/users?select=id,close_user_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_LEADS_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "build-user-map-04",
      "name": "Build User Map",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        304
      ],
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\nconst users = items.length === 1 && Array.isArray(items[0]) ? items[0] : items;\nconst userMap = {};\nfor (const u of users) {\n  if (u && u.close_user_id) userMap[u.close_user_id] = u.id;\n}\nreturn [{ json: { userMap } }];"
      }
    },
    {
      "id": "init-04",
      "name": "Init Pagination",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        304
      ],
      "parameters": {
        "jsCode": "const triggerData = $('Start').first().json;\nconst since = triggerData.since || new Date().toISOString();\nconst until = triggerData.until || new Date().toISOString();\nconst currentDate = since.split('T')[0];\nconst endDate = until.split('T')[0];\nreturn [{ json: { cursor: '', totalSynced: 0, currentDate, endDate, pageCount: 0 } }];"
      }
    },
    {
      "id": "build-body-04",
      "name": "Build Search Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        304
      ],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst queries = [\n  { type: 'object_type', object_type: 'opportunity' },\n  {\n    type: 'field_condition',\n    field: { type: 'regular_field', object_type: 'opportunity', field_name: 'date_updated' },\n    condition: {\n      type: 'moment_range',\n      on_or_after: { type: 'fixed_local_date', value: data.currentDate, which: 'start' },\n      before: { type: 'fixed_local_date', value: data.currentDate, which: 'end' }\n    }\n  }\n];\n\nconst body = {\n  query: { type: 'and', queries },\n  sort: [{ direction: 'asc', field: { object_type: 'opportunity', type: 'regular_field', field_name: 'date_updated' } }],\n  _fields: { opportunity: ['id', 'lead_id', 'user_id', 'created_by', 'status_display_name', 'status_label', 'pipeline_name', 'pipeline_id', 'value', 'value_period', 'value_formatted', 'value_currency', 'confidence', 'loss_reason', 'expected_close_date', 'date_won', 'date_lost', 'date_created', 'date_updated', 'contact_id', 'contact_name', 'note', 'custom'] },\n  _limit: 200\n};\nif (data.cursor) body.cursor = data.cursor;\nreturn [{ json: { requestBody: JSON.stringify(body) } }];"
      }
    },
    {
      "id": "fetch-opps-04",
      "name": "Search Close Opportunities",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        304
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "method": "POST",
        "url": "https://api.close.com/api/v1/data/search/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YXBpXzJKd0JqaHMwYmZCUmJ5d3dHeXA0blUuMWlWV0NZVUUyRzE3NWh6NjJmNEJMRzo="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {}
      }
    },
    {
      "id": "transform-04",
      "name": "Transform Opportunities",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        304
      ],
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst opportunities = response.data || [];\nconst userMap = $('Build User Map').first().json.userMap;\n\nif (opportunities.length === 0) {\n  return [{ json: { _empty: true } }];\n}\n\nconst stdFields = new Set(['id','lead_id','user_id','created_by','status_display_name','status_label','pipeline_name','pipeline_id','value','value_period','value_formatted','value_currency','confidence','loss_reason','expected_close_date','date_won','date_lost','date_created','date_updated','organization_id','_type','lead_name','user_name','created_by_name','contact_id','contact_name','status_id','status_type','annualized_value','annualized_expected_value','note','integration_links','__object_type']);\n\nreturn opportunities.map(opp => {\n  const val = opp.value != null ? opp.value / 100 : null;\n  let monthlyVal = null;\n  if (val != null) {\n    if (opp.value_period === 'monthly') monthlyVal = val;\n    else if (opp.value_period === 'annual') monthlyVal = Math.round(val / 12 * 100) / 100;\n  }\n\n  const cf = {};\n  for (const [k, v] of Object.entries(opp)) {\n    if (!stdFields.has(k)) cf[k] = v;\n  }\n\n  return {\n    json: {\n      close_opportunity_id: opp.id,\n      close_lead_id: opp.lead_id || null,\n      user_id: userMap[opp.user_id] || null,\n      setter_id: userMap[opp.created_by] || null,\n      status: opp.status_display_name || opp.status_label || null,\n      product: opp.pipeline_name || null,\n      value: val,\n      setup_fee: null,\n      monthly_value: monthlyVal,\n      contract_duration: null,\n      confidence: opp.confidence != null ? opp.confidence : null,\n      lost_reason: opp.loss_reason || null,\n      forecast_close_date: opp.expected_close_date || null,\n      closed_at: opp.date_won || opp.date_lost || null,\n      close_created_at: opp.date_created || null,\n      custom_fields: Object.keys(cf).length > 0 ? cf : null,\n      synced_at: new Date().toISOString()\n    }\n  };\n});"
      }
    },
    {
      "id": "agg-04",
      "name": "Aggregate Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        304
      ],
      "parameters": {
        "jsCode": "const allOpps = $input.all().map(i => i.json).filter(i => !i._empty);\nconst nullUserIds = allOpps.filter(r => r.user_id === null).length;\nreturn [{ json: { batch: allOpps, count: allOpps.length, nullUserIds } }];"
      }
    },
    {
      "id": "upsert-04",
      "name": "Upsert Opportunities",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2432,
        304
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/opportunities?on_conflict=close_opportunity_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_LEADS_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.batch) }}",
        "options": {}
      }
    },
    {
      "id": "check-more-04",
      "name": "Check More Pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        304
      ],
      "parameters": {
        "jsCode": "const response = $('Search Close Opportunities').first().json;\nconst items = response.data || [];\nconst cursor = response.cursor || null;\n\nconst prev = $('Check More Pages').isExecuted\n  ? $('Check More Pages').first().json\n  : $('Init Pagination').first().json;\n\nconst batchCount = $('Aggregate Batch').first().json.count;\nconst cursorValid = cursor !== null && cursor !== undefined && cursor !== '';\n\nif (cursorValid && items.length > 0) {\n  return [{ json: {\n    currentDate: prev.currentDate,\n    endDate: prev.endDate,\n    cursor: cursor,\n    totalSynced: prev.totalSynced + batchCount,\n    pageCount: (prev.pageCount || 0) + 1,\n    hasMore: true\n  } }];\n}\n\nconst next = new Date(prev.currentDate + 'T00:00:00Z');\nnext.setUTCDate(next.getUTCDate() + 1);\nconst nextDate = next.toISOString().split('T')[0];\nconst hasMore = nextDate <= prev.endDate;\n\nreturn [{ json: {\n  currentDate: nextDate,\n  endDate: prev.endDate,\n  cursor: '',\n  totalSynced: prev.totalSynced + batchCount,\n  pageCount: 0,\n  hasMore\n} }];"
      }
    },
    {
      "id": "if-more-04",
      "name": "Has More?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2864,
        304
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.hasMore }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "count-04",
      "name": "Count Records",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2656,
        528
      ],
      "parameters": {
        "jsCode": "const check = $('Check More Pages').last().json;\nconst totalSynced = check.totalSynced;\nconst syncRunId = $('Sync Start').first().json.id;\nconst nullUsers = check.totalNullUserIds || 0;\nlet warning = '';\nif (nullUsers > 0) {\n  warning = 'FK Warning: ' + nullUsers + '/' + totalSynced + ' null user_ids';\n}\nreturn [{ json: { count: totalSynced, syncRunId, warning } }];"
      }
    },
    {
      "id": "wait-pagination-04",
      "name": "Wait 500ms",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3088,
        200
      ],
      "parameters": {
        "jsCode": "await new Promise(resolve => setTimeout(resolve, 500));\nreturn $input.all();"
      }
    },
    {
      "id": "sync-success-04",
      "name": "Sync Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3312,
        528
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/sync_runs?id=eq.{{ $json.syncRunId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_LEADS_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"status\": \"success\", \"records_synced\": {{ $json.count }}, \"error_message\": \"{{ $json.warning }}\", \"finished_at\": \"{{ $now.toISO() }}\"}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Sync Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Start": {
      "main": [
        [
          {
            "node": "Fetch Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Users": {
      "main": [
        [
          {
            "node": "Build User Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build User Map": {
      "main": [
        [
          {
            "node": "Init Pagination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Pagination": {
      "main": [
        [
          {
            "node": "Build Search Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Search Body": {
      "main": [
        [
          {
            "node": "Search Close Opportunities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Close Opportunities": {
      "main": [
        [
          {
            "node": "Transform Opportunities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Opportunities": {
      "main": [
        [
          {
            "node": "Aggregate Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Batch": {
      "main": [
        [
          {
            "node": "Upsert Opportunities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Opportunities": {
      "main": [
        [
          {
            "node": "Check More Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check More Pages": {
      "main": [
        [
          {
            "node": "Has More?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has More?": {
      "main": [
        [
          {
            "node": "Wait 500ms",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Count Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 500ms": {
      "main": [
        [
          {
            "node": "Build Search Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Records": {
      "main": [
        [
          {
            "node": "Sync Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "OrTCUp8ufHjtmIcm"
  }
}
