n8n/workflows/close-crm-sync/20-webhook-dispatcher.json
{
  "name": "20 - Close CRM Sync - Webhook Dispatcher",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "close-activity-webhook",
        "responseMode": "onReceived",
        "options": {
          "responseCode": 200
        }
      },
      "id": "webhook-20",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "close-activity-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Close Webhook Payload extrahieren und Subworkflow-ID bestimmen\nconst body = $json.body || $json;\nconst event = body.event || body;\nconst data = event.data || event;\n\n// Draft-Schutz: Nur published Activities verarbeiten.\n// Close feuert 'created' auch bei Drafts — ignorieren wenn nicht published.\n// Beim Publishen feuert Close ein 'updated' Event mit last_published_at gesetzt.\nconst action = event.action || '';\nconst previousData = event.previous_data || {};\n\n// Nicht published? → Ignorieren (Draft)\nif (!data.last_published_at) {\n  return [];\n}\n\n// Duplicate-Schutz: War schon vorher published → re-publish/Feld-Update ignorieren\nif (action === 'updated' && previousData.last_published_at != null) {\n  return [];\n}\n\nconst activityId = data.id;\nconst leadId = data.lead_id;\nconst userId = data.user_id || data.created_by || null;\nconst typeId = data.custom_activity_type_id;\nconst dateCreated = data.date_created || new Date().toISOString();\n\n// Custom Fields extrahieren (custom.cf_xxx)\nconst customFields = {};\nfor (const [key, value] of Object.entries(data)) {\n  if (key.startsWith('custom.')) {\n    customFields[key] = value;\n  }\n}\n\n// Activity Type → Workflow ID Mapping\nconst TYPE_MAP = {\n  'actitype_6GTMexlVYwCl3ER9rYB4x4': { route: 'eg-vereinbart-et', workflowId: 'ricQtoIQTyDVTzg4' },\n  'actitype_4jcmhCre676aqKjDVWqODu': { route: 'eg-vereinbart-ft', workflowId: 'ricQtoIQTyDVTzg4' },\n  'actitype_5lGDZdgbNYgL7ii0Bbjno9': { route: 'eg-noshow', workflowId: 'c78XK8bSSiqPr3ql' },\n  'actitype_0Pow7dFbqAOrFjLsCT068D': { route: 'eg-stattgefunden', workflowId: 'Vk7mEgStattgef23' },\n  'actitype_1t4dAEI4JjnbDr6mRnECr0': { route: 'sg-stattgefunden', workflowId: 'iFvQIe00lE8nlbLR' },\n  'actitype_0kl5mkpGgPgDhbQEYKyJvD': { route: 'sg-noshow', workflowId: 'fSmzaHFL7D09qwQA' },\n  'actitype_4SrDqCdE7yZuxZrw3YxoLI': { route: 'angebot-erstellen', workflowId: 'WsskE1gcLnou2UFQ' },\n  'actitype_3dEZCczRxJQieHfSCDW3bg': { route: 'kunde-gewonnen', workflowId: '9GG7yBEefplT3uwu' },\n  'actitype_6dqeewSGR6SAXD6ZH9xbM3': { route: 'kunde-verloren', workflowId: 'mhLb61HZiNAj11SB' }\n};\n\nconst mapping = TYPE_MAP[typeId];\nif (!mapping) {\n  return [];\n}\n\nreturn [{\n  json: {\n    activityId,\n    leadId,\n    userId,\n    typeId,\n    dateCreated,\n    customFields,\n    _route: mapping.route,\n    _workflowId: mapping.workflowId,\n    rawEvent: event\n  }\n}];"
      },
      "id": "route-20",
      "name": "Extract & Route",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json._workflowId }}"
        },
        "options": {}
      },
      "id": "exec-dynamic-20",
      "name": "Execute Subworkflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/sync_runs",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_LEADS_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ entity: 'webhook_error', status: 'error', error_message: ($json.error?.message || $json.errorMessage || 'Unknown dispatcher error').substring(0, 500), started_at: new Date().toISOString(), finished_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "error-log-20",
      "name": "Log Error to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        600
      ],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract & Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract & Route": {
      "main": [
        [
          {
            "node": "Execute Subworkflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "OrTCUp8ufHjtmIcm"
  },
  "id": "C1uKU3F0hcKvHwIX"
}
