n8n/workflows/close-crm-sync/22-eg-noshow.json
{
  "name": "22 - Close CRM Sync - EG NoShow",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ],
      "id": "afc4cc63-c472-4e0d-94fd-3ba3809e94af"
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\nconst ergebnis = (input.customFields || {})['custom.cf_P5mZqkFdSf5MpxQe9yajrvaUlQQ9rWvMGa1igfab7Dn'] || '';\n\nconst STATUS_MAP = {\n  '1 - Absage ohne neuen Termin': 'stat_RPNbKTTf6uhs7F2tmADbH6Scj1V5jChtFVJfnYFy07y',\n  '2 - Absage mit neuem Termin': 'stat_K2Qg55bQuBZfCZBWZUzriveSwyKQgY1q74IxyJ9EKe2',\n  '3 - Komplette Absage': 'stat_RPNbKTTf6uhs7F2tmADbH6Scj1V5jChtFVJfnYFy07y',\n  '4 - Ausqualifizieren': 'stat_hRDEun2Q1lxNrj0CmD448Y4fuxTRn6rUIfxfGLhl3Mb'\n};\n\nconst statusId = STATUS_MAP[ergebnis];\n\nif (!statusId) {\n  return [];\n}\n\nreturn [{ json: { ...input, statusId, ergebnis } }];"
      },
      "name": "Resolve Ergebnis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "id": "d6e7a282-b9a5-4df7-b3cf-041abd2cf34e"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.close.com/api/v1/lead/{{ $json.leadId }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YXBpXzJKd0JqaHMwYmZCUmJ5d3dHeXA0blUuMWlWV0NZVUUyRzE3NWh6NjJmNEJMRzo="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status_id: $json.statusId }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "name": "Update Lead Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput",
      "id": "788d5b38-d08e-4658-b8f4-60cf5686b14e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/sync_runs",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_LEADS_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ entity: '22-eg-noshow', status: 'error', error_message: ($json.error?.message || $json.errorMessage || 'Failed to update lead status').substring(0, 500), started_at: new Date().toISOString(), finished_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "name": "Log Error to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        500
      ],
      "continueOnFail": true,
      "id": "79da454f-73fa-404c-8409-7658d9a0f951"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Resolve Ergebnis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Ergebnis": {
      "main": [
        [
          {
            "node": "Update Lead Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead Status": {
      "main": [
        [],
        [
          {
            "node": "Log Error to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "y5PB6EFfeKYeLxqp",
    "callerPolicy": "any",
    "availableInMCP": false
  },
  "active": true
}