n8n/workflows/close-crm-sync/23-eg-stattgefunden.json
{
  "updatedAt": "2026-03-19T11:05:22.426Z",
  "createdAt": "2026-03-12T09:01:57.115Z",
  "id": "F57B2B7FCB374B6F88F3",
  "name": "23 - Close CRM Sync - EG Stattgefunden",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        224,
        368
      ],
      "id": "05e5846d-52a5-4c20-8901-a5a433023d74"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "eg-stattgefunden-test",
        "options": {}
      },
      "name": "Webhook Trigger Test",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        176
      ],
      "webhookId": "eg-stattgefunden-test-webhook",
      "id": "c0d90b49-852b-448c-9bdb-626c5cd6009a"
    },
    {
      "parameters": {
        "jsCode": "// Webhook-Daten lesen (snake_case JSON body)\nconst body = $json.body || $json;\nconst activityId = (body.activity_id || '').trim();\nlet leadId = (body.lead_id || '').trim();\nlet userId = (body.user_id || '').trim();\nconst formDatum = (body.datum || '').trim();\nlet formErgebnis = (body.ergebnis || '').trim();\n\nconst CLOSE_AUTH = 'Basic YXBpXzJKd0JqaHMwYmZCUmJ5d3dHeXA0blUuMWlWV0NZVUUyRzE3NWh6NjJmNEJMRzo=';\nconst EG_TYPE_ID = 'actitype_0Pow7dFbqAOrFjLsCT068D';\nconst ERGEBNIS_FIELD = 'custom.cf_Bp0LGE1a2Am7BlHszQNtV7KuTpVYDthbiKOetsFkcUQ';\n\nlet dateCreated = formDatum ? new Date(formDatum).toISOString() : new Date().toISOString();\nlet customFields = {};\n\n// EG-Ergebnis setzen\nif (formErgebnis) {\n  customFields[ERGEBNIS_FIELD] = formErgebnis;\n}\n\n// Fall 1: Activity ID gegeben - Details aus Close holen\nif (activityId) {\n  const activity = await this.helpers.httpRequest({\n    method: 'GET',\n    url: 'https://api.close.com/api/v1/activity/custom/' + activityId + '/',\n    headers: { 'Authorization': CLOSE_AUTH, 'Accept': 'application/json' }\n  });\n  leadId = leadId || activity.lead_id;\n  userId = userId || activity.user_id || activity.created_by;\n  if (!formDatum) dateCreated = activity.date_created || dateCreated;\n  if (!formErgebnis && activity.custom) customFields = activity.custom;\n}\n\n// Fall 2: Nur Lead ID - letzte EG Activity suchen (fuer User ID + Datum)\nif (!activityId && leadId && !userId) {\n  try {\n    const resp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: 'https://api.close.com/api/v1/activity/custom/?lead_id=' + leadId + '&_limit=50&_order_by=-date_created',\n      headers: { 'Authorization': CLOSE_AUTH, 'Accept': 'application/json' }\n    });\n    const parsed = typeof resp === 'string' ? JSON.parse(resp) : resp;\n    const activities = (parsed.data || []).filter(a => a.custom_activity_type_id === EG_TYPE_ID);\n    if (activities.length > 0) {\n      const latest = activities[0];\n      userId = latest.user_id || latest.created_by;\n      if (!formDatum) dateCreated = latest.date_created || dateCreated;\n      if (!formErgebnis && latest.custom) customFields = latest.custom;\n    }\n  } catch (e) { /* Weiter mit manuellen Daten */ }\n}\n\nif (!leadId) {\n  throw new Error('Bitte mindestens lead_id oder activity_id im JSON body senden');\n}\n\nreturn [{ json: { leadId, userId, dateCreated, customFields, testMode: true } }];"
      },
      "name": "Process Webhook Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        176
      ],
      "id": "9d124439-7503-4304-b14c-571bb5a0cafa"
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\nconst testMode = input.testMode || false;\nconst ergebnis = (input.customFields || {})['custom.cf_Bp0LGE1a2Am7BlHszQNtV7KuTpVYDthbiKOetsFkcUQ'] || '';\n\nconst OPP_STATUS_MAP = {\n  '1 - Kunde': 'stat_whEM29RxVUWk9pucJMWhPtBrjjadPn4DzUsYxV06bCs',\n  '2 - Folgetermin': null,\n  '3 - Follow-up': 'stat_2NjdTtgLsl931S2nrmOLTK7IWW7KV0JVsiTwS7zexT4',\n  '4 - Verloren': 'stat_2NjdTtgLsl931S2nrmOLTK7IWW7KV0JVsiTwS7zexT4',\n  '5 - Unqualifiziert': 'stat_0o8JNmzSa6GiQH5yEZ424xT9B08NGTia4U3VxxzssMB'\n};\n\nconst DEFAULT_STATUS = 'stat_bMeIa40jGWwjbA5bOJpdIGgBk7QFWa1nlhsA9hVJg1J';\nconst targetOppStatus = OPP_STATUS_MAP.hasOwnProperty(ergebnis) ? OPP_STATUS_MAP[ergebnis] : DEFAULT_STATUS;\n\nconst now = new Date();\nconst closeDate = new Date(now.getTime() + 12 * 24 * 60 * 60 * 1000);\nconst closeDateStr = closeDate.toISOString().split('T')[0];\n\nconst date = new Date(input.dateCreated || now.toISOString());\nconst dayStart = new Date(date.getFullYear(), date.getMonth(), date.getDate()).toISOString();\nconst dayEnd = new Date(date.getFullYear(), date.getMonth(), date.getDate() + 1).toISOString();\n\nreturn [{\n  json: {\n    ...input,\n    testMode,\n    ergebnis,\n    targetOppStatus,\n    closeDateStr,\n    dayStart,\n    dayEnd\n  }\n}];"
      },
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        272
      ],
      "id": "4104b094-17f1-4689-826a-4e425f8d147b"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "test-mode-check",
              "leftValue": "={{ $json.testMode }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Is Test Mode?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        672,
        272
      ],
      "id": "850a37a4-0d87-4273-83a3-1e0f9c61a568"
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\nconst CLOSE_AUTH = 'Basic YXBpXzJKd0JqaHMwYmZCUmJ5d3dHeXA0blUuMWlWV0NZVUUyRzE3NWh6NjJmNEJMRzo=';\nconst DEFAULT_STATUS = 'stat_bMeIa40jGWwjbA5bOJpdIGgBk7QFWa1nlhsA9hVJg1J';\n\nconst oppResp = await this.helpers.httpRequest({\n  method: 'GET',\n  url: 'https://api.close.com/api/v1/opportunity/?lead_id=' + input.leadId + '&status_type=active&_limit=1&_order_by=-date_created',\n  headers: { 'Authorization': CLOSE_AUTH, 'Accept': 'application/json' }\n});\n\nconst opportunities = oppResp.data || [];\nlet oppResult;\n\nif (opportunities.length > 0) {\n  const opp = opportunities[0];\n  const updateBody = { close_date: input.closeDateStr };\n  if (input.targetOppStatus) {\n    updateBody.status_id = input.targetOppStatus;\n  }\n  oppResult = await this.helpers.httpRequest({\n    method: 'PUT',\n    url: 'https://api.close.com/api/v1/opportunity/' + opp.id,\n    headers: { 'Authorization': CLOSE_AUTH, 'Content-Type': 'application/json' },\n    body: JSON.stringify(updateBody)\n  });\n} else {\n  const statusId = input.targetOppStatus || DEFAULT_STATUS;\n  oppResult = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.close.com/api/v1/opportunity/',\n    headers: { 'Authorization': CLOSE_AUTH, 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      lead_id: input.leadId,\n      status_id: statusId,\n      value: 300000,\n      value_period: 'one_time',\n      value_currency: 'EUR',\n      confidence: 33,\n      date_created: input.dateCreated,\n      close_date: input.closeDateStr,\n      note: 'Automatisch erstellt durch EG stattgefunden Activity',\n      user_id: input.userId\n    })\n  });\n}\n\nreturn [{ json: { ...input, oppResult } }];"
      },
      "name": "Handle Opportunity",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        336
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000,
      "id": "ce01e2fb-442d-47aa-a7ad-79ef530053a7"
    },
    {
      "parameters": {
        "unit": "seconds",
        "amount": 30
      },
      "name": "Wait 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1120,
        336
      ],
      "id": "9fb3f258-d4cf-4bfe-8898-d20f587c32e8",
      "webhookId": "a8820a66-2e6a-40a6-9b38-5cd10cf9fa7e"
    },
    {
      "parameters": {
        "jsCode": "// Startzeit merken (wird von Check Recordings referenziert)\nreturn [{ json: { loopStartTime: Date.now() } }];"
      },
      "name": "Init Loop Counter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        272
      ],
      "id": "e761b7f4-16cf-435d-a028-c471546376f4"
    },
    {
      "parameters": {
        "url": "=https://api.close.com/api/v1/activity/call/?lead_id={{ $('Prepare Data').first().json.leadId }}&date_created__gte={{ $('Prepare Data').first().json.dayStart }}&date_created__lt={{ $('Prepare Data').first().json.dayEnd }}&_limit=100",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YXBpXzJKd0JqaHMwYmZCUmJ5d3dHeXA0blUuMWlWV0NZVUUyRzE3NWh6NjJmNEJMRzo="
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "name": "GET Calls",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        272
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "id": "8b32da6d-2b04-4d43-9220-4e5d5b20cdcf"
    },
    {
      "parameters": {
        "jsCode": "const loopStart = $('Init Loop Counter').first().json.loopStartTime;\nconst elapsedMs = Date.now() - loopStart;\nconst maxWait = 20 * 60 * 1000; // 20 Minuten (ca. 10 Retries a 2 Min)\n\nconst response = $('GET Calls').first().json;\nconst callsData = response.data || [];\nconst calls = callsData.filter(c => c.recording_url);\n\nif (calls.length === 0 && elapsedMs < maxWait) {\n  return [{ json: { hasRecordings: false, maxReached: false } }];\n}\n\nif (calls.length === 0) {\n  return [{ json: { hasRecordings: false, maxReached: true, calls: [] } }];\n}\n\nreturn [{ json: { hasRecordings: true, maxReached: false, calls } }];"
      },
      "name": "Check Recordings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        192
      ],
      "id": "016e239c-ed27-4703-b6ae-6e4d85243d38"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-rec",
              "leftValue": "={{ $json.hasRecordings }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        },
        "options": {}
      },
      "name": "Has Recordings?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2016,
        192
      ],
      "id": "3e26db49-b710-4285-9573-64d138485c48"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "max-check",
              "leftValue": "={{ $json.maxReached }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ]
        },
        "options": {}
      },
      "name": "Max Retries?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2240,
        320
      ],
      "id": "a4454000-96b3-4d06-b0dd-406bc0d5f858"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "minutes"
      },
      "name": "Wait 2min",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2464,
        320
      ],
      "id": "074d10ce-33f3-425b-8917-b84ca44c79a6",
      "webhookId": "124ded55-897b-455a-bc05-da074063d55a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-trans",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        },
        "options": {}
      },
      "name": "Has Transcripts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3360,
        96
      ],
      "id": "44eb4f80-8ee9-45e5-be56-a2efa2950eb4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o', messages: [{ role: 'system', content: \"Du bist ein erfahrener Sales-Coach fuer B2B-Qualifizierungsgespraeche. Analysiere das Erstgespraech streng faktenbasiert:\\n- Nur bewerten, was tatsaechlich gesagt wurde\\n- Fehlende Punkte = 0 Punkte (keine Annahmen)\\n- Antworte auf Deutsch\\n\\nAntworte AUSSCHLIESSLICH mit einem JSON-Objekt (kein Markdown, keine Codeblocks). Das JSON muss dieses exakte Schema haben:\\n\\n{\\n  \\\"zusammenfassung\\\": \\\"2-3 Saetze Zusammenfassung des Gespraechs\\\",\\n  \\\"kundenbedarf\\\": [\\\"Bedarf 1\\\", \\\"Bedarf 2\\\"],\\n  \\\"einwaende\\\": [\\\"Einwand 1\\\", \\\"Einwand 2\\\"],\\n  \\\"naechste_schritte\\\": [\\\"Schritt 1\\\", \\\"Schritt 2\\\"],\\n  \\\"ergebnis\\\": \\\"EG-Ergebnis hier\\\",\\n  \\\"questions_asked\\\": [\\n    {\\\"question\\\": \\\"Die gestellte Frage\\\", \\\"category\\\": \\\"pain|budget|authority|timeline|needs|rapport|closing|objection_handling|other\\\", \\\"quality\\\": \\\"gut|mittel|schwach\\\"}\\n  ],\\n  \\\"closer_score\\\": {\\n    \\\"score\\\": 7,\\n    \\\"reasoning\\\": \\\"Begruendung in 1-2 Saetzen\\\"\\n  },\\n  \\\"lead_score\\\": {\\n    \\\"score\\\": 6,\\n    \\\"reasoning\\\": \\\"Begruendung in 1-2 Saetzen\\\",\\n    \\\"ko_triggered\\\": false,\\n    \\\"ko_reason\\\": null\\n  },\\n  \\\"scoring\\\": {\\n    \\\"struktur\\\": {\\n      \\\"score\\\": 7,\\n      \\\"details\\\": {\\n        \\\"klarer_einstieg\\\": 2,\\n        \\\"ziel_agenda_genannt\\\": 2,\\n        \\\"roter_faden\\\": 3\\n      }\\n    },\\n    \\\"discovery\\\": {\\n      \\\"score\\\": 6,\\n      \\\"details\\\": {\\n        \\\"offene_fragen\\\": 2,\\n        \\\"ist_zustand_verstanden\\\": 2,\\n        \\\"pain_konkret_gemacht\\\": 2\\n      }\\n    },\\n    \\\"qualifizierung\\\": {\\n      \\\"score\\\": 5,\\n      \\\"details\\\": {\\n        \\\"budget\\\": 2,\\n        \\\"entscheider\\\": 2,\\n        \\\"timing\\\": 1\\n      }\\n    },\\n    \\\"nutzen\\\": {\\n      \\\"score\\\": 6,\\n      \\\"details\\\": {\\n        \\\"individueller_bezug\\\": 3,\\n        \\\"konkreter_mehrwert\\\": 3\\n      }\\n    },\\n    \\\"fuehrung\\\": {\\n      \\\"score\\\": 7,\\n      \\\"details\\\": {\\n        \\\"redeanteil_sinnvoll\\\": 3,\\n        \\\"fragen_vs_monolog\\\": 2,\\n        \\\"kontrolle_ueber_gespraech\\\": 2\\n      }\\n    },\\n    \\\"abschluss\\\": {\\n      \\\"score\\\": 6,\\n      \\\"details\\\": {\\n        \\\"klarer_next_step\\\": 3,\\n        \\\"verbindlichkeit\\\": 2,\\n        \\\"saubere_terminfuehrung\\\": 1\\n      }\\n    },\\n    \\\"gesamt\\\": 6.35\\n  },\\n  \\\"top_fehler\\\": [\\\"Fehler 1\\\", \\\"Fehler 2\\\", \\\"Fehler 3\\\"],\\n  \\\"top_verbesserungen\\\": [\\\"Verbesserung 1\\\", \\\"Verbesserung 2\\\", \\\"Verbesserung 3\\\"],\\n  \\\"conversion_einschaetzung\\\": \\\"hoch|mittel|gering\\\",\\n  \\\"conversion_begruendung\\\": \\\"1 Satz Begruendung\\\"\\n}\\n\\nSCORING LOGIK \\u2014 Jede Kategorie hat Unterkriterien (0-10 Punkte total). Danach wird gewichtet.\\n\\nGEWICHTUNG:\\n- Discovery: 30%\\n- Abschluss: 25%\\n- Fuehrung: 15%\\n- Nutzen: 10%\\n- Qualifizierung: 10%\\n- Struktur: 10%\\n\\n1. STRUKTUR (0-10)\\n- Klarer Einstieg (0-3)\\n- Ziel/Agenda genannt (0-3)\\n- Roter Faden (0-4)\\n\\n2. DISCOVERY (0-10)\\n- Offene Fragen (0-3)\\n- Ist-Zustand verstanden (0-3)\\n- Pain konkret gemacht (0-4)\\n\\n3. QUALIFIZIERUNG (0-10)\\n- Budget (0-3)\\n- Entscheider (0-3)\\n- Timing (0-4)\\n\\n4. NUTZEN (0-10)\\n- Individueller Bezug (0-5)\\n- Konkreter Mehrwert (0-5)\\n\\n5. FUEHRUNG (0-10)\\n- Redeanteil sinnvoll (0-4)\\n- Fragen vs. Monolog (0-3)\\n- Kontrolle ueber Gespraech (0-3)\\n\\n6. ABSCHLUSS (0-10)\\n- Klarer Next Step (0-4)\\n- Verbindlichkeit (0-3)\\n- Saubere Terminfuehrung (0-3)\\n\\nBERECHNUNG GESAMTSCORE:\\nFuer jede Kategorie: (Kategoriepunkte / 10) x Gewicht\\nDann summieren und auf 10 skalieren = Endscore (0-10, 2 Dezimalstellen)\\n\\nCLOSER SCORING (0-10):\\n- Bewerte die QUALITAET und ANZAHL der gestellten Fragen\\n- 0-2: Kaum Fragen, kein Gespraechsleitfaden erkennbar\\n- 3-4: Wenige oberflaechliche Fragen, wichtige Bereiche fehlen\\n- 5-6: Solide Fragetechnik, einige Luecken\\n- 7-8: Gute Bedarfsanalyse, BANT-Fragen abgedeckt\\n- 9-10: Exzellent \\u2014 tiefgehende Fragen, aktives Zuhoeren, perfekte Gespraechsfuehrung\\n\\nLEAD SCORING (0-10) mit KO-Kriterien:\\nKO-Kriterien (Lead Score = 0):\\n- Kein Budget / kann sich nichts leisten\\n- Kein Entscheider und kein Zugang zum Entscheider\\n- Fake-Lead / Spam / kein echtes Unternehmen\\n\\nScoring wenn kein KO:\\n- 1-3: Schwaches Interesse, unklarer Bedarf, niedriges Potenzial\\n- 4-5: Grundinteresse vorhanden, aber Bedenken/Hindernisse\\n- 6-7: Gutes Potenzial, klarer Bedarf, realistisches Budget\\n- 8-9: Starker Bedarf, Budget vorhanden, Entscheider am Tisch\\n- 10: Sofort abschlussbereit, alle Kriterien erfuellt\\n\\nWICHTIG:\\n- Extrahiere NUR Fragen die der VERTRIEBLER gestellt hat (nicht der Kunde)\\n- Kategorisiere jede Frage nach BANT+ Schema\\n- Bewerte die Qualitaet jeder einzelnen Frage\\n- Kein Schaetzen \\u2014 streng nach Punkten rechnen\\n- NUR valides JSON, kein anderer Text\" + '\\n\\nEG-Ergebnis laut CRM: ' + ($('Prepare Data').first().json.ergebnis || 'unbekannt') }, { role: 'user', content: $('Aggregate Results').first().json.transcripts.map((t, i) => '--- Transkript ' + (i + 1) + ' ---\\n' + t.content).join('\\n\\n') }], response_format: { type: 'json_object' } }) }}",
        "options": {}
      },
      "name": "AI Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3584,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "id": "99ba3836-05ab-412a-b8ae-2a556415e2f5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/transcripts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_LEADS_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const aiRaw = $json.choices && $json.choices[0] ? $json.choices[0].message.content : '{}';\n  let ai = {};\n  try { ai = JSON.parse(aiRaw); } catch(e) { ai = {}; }\n  \n  const sc = ai.scoring || {};\n  \n  const summary = [\n    '## Zusammenfassung',\n    ai.zusammenfassung || '',\n    '',\n    '## Kundenbedarf',\n    ...(ai.kundenbedarf || []).map(b => '- ' + b),\n    '',\n    '## Einwaende / Bedenken',\n    ...(ai.einwaende || ['Keine']).map(e => '- ' + e),\n    '',\n    '## Naechste Schritte',\n    ...(ai.naechste_schritte || []).map(s => '- ' + s),\n    '',\n    '## Ergebnis',\n    'EG-Ergebnis: ' + (ai.ergebnis || 'unbekannt'),\n    '',\n    '## Conversion',\n    (ai.conversion_einschaetzung || '-') + ': ' + (ai.conversion_begruendung || '')\n  ].join('\\n');\n  \n  return JSON.stringify($('Aggregate Results').first().json.transcripts.map(t => ({\n    ...t,\n    ai_summary: summary,\n    closer_score: ai.closer_score ? ai.closer_score.score : null,\n    closer_score_reasoning: ai.closer_score ? ai.closer_score.reasoning : null,\n    lead_score: ai.lead_score ? ai.lead_score.score : null,\n    lead_score_reasoning: ai.lead_score ? ai.lead_score.reasoning : null,\n    questions_asked: ai.questions_asked || null,\n    score_struktur: sc.struktur ? sc.struktur.score : null,\n    score_discovery: sc.discovery ? sc.discovery.score : null,\n    score_qualifizierung: sc.qualifizierung ? sc.qualifizierung.score : null,\n    score_nutzen: sc.nutzen ? sc.nutzen.score : null,\n    score_fuehrung: sc.fuehrung ? sc.fuehrung.score : null,\n    score_abschluss: sc.abschluss ? sc.abschluss.score : null,\n    score_gesamt: sc.gesamt || null,\n    score_details: sc,\n    conversion_einschaetzung: ai.conversion_einschaetzung || null,\n    top_fehler: ai.top_fehler || null,\n    top_verbesserungen: ai.top_verbesserungen || null\n  })));\n})() }}",
        "options": {}
      },
      "name": "Save Transcripts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3808,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "id": "81be371d-59b2-4143-86b0-223b9e5dcefb"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.close.com/api/v1/activity/note/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YXBpXzJKd0JqaHMwYmZCUmJ5d3dHeXA0blUuMWlWV0NZVUUyRzE3NWh6NjJmNEJMRzo="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const aiRaw = $('AI Summary').first().json.choices && $('AI Summary').first().json.choices[0] ? $('AI Summary').first().json.choices[0].message.content : '{}';\n  let ai = {};\n  try { ai = JSON.parse(aiRaw); } catch(e) { ai = {}; }\n\n  const summary = [\n    '## Zusammenfassung',\n    ai.zusammenfassung || '',\n    '',\n    '## Kundenbedarf',\n    ...(ai.kundenbedarf || []).map(b => '- ' + b),\n    '',\n    '## Einwaende / Bedenken',\n    ...(ai.einwaende || ['Keine']).map(e => '- ' + e),\n    '',\n    '## Naechste Schritte',\n    ...(ai.naechste_schritte || []).map(s => '- ' + s),\n    '',\n    '## Ergebnis',\n    'EG-Ergebnis: ' + (ai.ergebnis || 'unbekannt'),\n    '',\n    '## Closer Score: ' + (ai.closer_score ? ai.closer_score.score + '/10' : '-'),\n    ai.closer_score ? ai.closer_score.reasoning : '',\n    '',\n    '## Lead Score: ' + (ai.lead_score ? ai.lead_score.score + '/10' : '-'),\n    ai.lead_score ? ai.lead_score.reasoning : ''\n  ].join('\n');\n\n  return JSON.stringify({\n    lead_id: $('Prepare Data').first().json.leadId,\n    pinned: true,\n    note: 'Erstgespraech - Zusammenfassung\n\n' + summary + '\n\n---\nCalls transkribiert: ' + $('Aggregate Results').first().json.count + '\nErstellt durch: EG-Transkription Workflow'\n  });\n})() }}",
        "options": {}
      },
      "name": "Create Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4032,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "id": "21ebf753-2c13-4704-80f0-d51dc266ee61"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/sync_runs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_LEADS_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ entity: 'webhook_23_eg_stattgefunden', status: 'success', records_synced: $('Collect Results').first().json.count, error_message: $('Collect Results').first().json.skippedCalls.length > 0 ? 'Skipped: ' + JSON.stringify($('Collect Results').first().json.skippedCalls) : null, started_at: $('Prepare Data').first().json.dateCreated, finished_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "name": "Log Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4256,
        0
      ],
      "id": "0598a32f-e409-40a1-a16f-a88070efef43",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/sync_runs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_LEADS_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ entity: 'webhook_23_eg_stattgefunden', status: 'success', error_message: 'No recordings found after max retries', started_at: $('Prepare Data').first().json.dateCreated, finished_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "name": "Log No Recordings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2464,
        512
      ],
      "id": "d44401df-4685-4edb-a5f3-a721ac1b6f9d",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/sync_runs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_LEADS_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ entity: 'webhook_23_eg_stattgefunden', status: 'success', error_message: 'No transcripts produced from recordings', started_at: $('Prepare Data').first().json.dateCreated, finished_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "name": "Log No Transcripts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3584,
        192
      ],
      "id": "17022e01-72b3-4bbf-983d-f565575cc7d8",
      "continueOnFail": true
    },
    {
      "parameters": {
        "name": "={{ $json._fileName || 'recording.mp3' }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_DRIVE_DEMODESK_FOLDER_ID }}",
          "mode": "id"
        },
        "options": {}
      },
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2912,
        96
      ],
      "id": "4e2ceef5-95fd-4bfc-8c60-b327172a8ebf",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JbvsBYNdKjn0rC7d",
          "name": "Google Drive account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Transcript-Daten aus Collect Results holen + Google Drive Daten\nconst transcribeItems = $(\"Collect Results\").all();\nconst driveItems = $input.all();\n\nconst transcripts = [];\nfor (let i = 0; i < transcribeItems.length; i++) {\n  const orig = transcribeItems[i].json;\n  const drive = driveItems[i]?.json || {};\n  \n  if (!orig.source_type || !orig.content) continue;\n  \n  const t = {\n    source_type: orig.source_type,\n    source_id: orig.source_id,\n    close_call_id: orig.close_call_id || null,\n    lead_id: orig.lead_id,\n    owner_id: orig.owner_id || null,\n    content: orig.content,\n    recording_url: orig.recording_url || '',\n    call_type: orig.call_type,\n    synced_at: orig.synced_at\n  };\n  \n  if (drive.id && drive.mimeType) {\n    t.google_drive_file_id = drive.id;\n    t.google_drive_url = drive.webViewLink || '';\n  }\n  transcripts.push(t);\n}\n\nreturn [{ json: { transcripts, skippedCalls: [], count: transcripts.length } }];"
      },
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3136,
        96
      ],
      "id": "31210d88-10be-47c6-9b6d-ff6ed7416b83"
    },
    {
      "parameters": {
        "jsCode": "// Vereinfacht: Alle Calls mit Recording direkt durchreichen\n// Kein Supabase-Lookup noetig — Transcript wird unabhaengig gespeichert\nconst meta = $('Prepare Data').first().json;\nconst calls = $('Check Recordings').first().json.calls || [];\n\n// User-UUID aus Supabase holen (fuer owner_id im Transcript)\nlet ownerUuid = null;\ntry {\n  const userLookup = await this.helpers.httpRequest({\n    method: 'GET',\n    url: $env.SUPABASE_LEADS_URL + '/rest/v1/users?select=id&close_user_id=eq.' + meta.userId + '&limit=1',\n    headers: { 'apikey': $env.SUPABASE_LEADS_KEY, 'Authorization': 'Bearer ' + $env.SUPABASE_LEADS_KEY }\n  });\n  if (Array.isArray(userLookup) && userLookup.length > 0) ownerUuid = userLookup[0].id;\n} catch (e) {}\n\n// Lead-UUID aus Supabase holen (fuer lead_id im Transcript)\nlet leadUuid = null;\ntry {\n  const leadResp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: $env.SUPABASE_LEADS_URL + '/rest/v1/leads?select=id&close_lead_id=eq.' + meta.leadId + '&limit=1',\n    headers: { 'apikey': $env.SUPABASE_LEADS_KEY, 'Authorization': 'Bearer ' + $env.SUPABASE_LEADS_KEY }\n  });\n  if (Array.isArray(leadResp) && leadResp.length > 0) leadUuid = leadResp[0].id;\n} catch (e) {}\n\nif (calls.length === 0) {\n  return [{ json: { _noCallsToProcess: true, transcripts: [], skippedCalls: [], count: 0 } }];\n}\n\nreturn calls.map(call => ({\n  json: {\n    closeCallId: call.id,\n    recordingUrl: call.recording_url,\n    duration: call.duration || 0,\n    leadUuid,\n    ownerUuid,\n    closeLeadId: meta.leadId,\n    closeUserId: meta.userId,\n    totalCalls: calls.length\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        96
      ],
      "name": "Prepare Calls",
      "id": "b23c512d-bc3c-4cde-8060-d75082a79d7d"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-calls",
              "leftValue": "={{ $json.closeCallId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2464,
        96
      ],
      "name": "Has Calls?",
      "id": "cf48fbe1-aaa1-48f0-8937-5ab79d45d115"
    },
    {
      "parameters": {
        "jsCode": "// Recording-URL aufloesen (Close 302 → S3 Direct Link)\nconst item = $json;\nconst CLOSE_AUTH = 'Basic YXBpXzJKd0JqaHMwYmZCUmJ5d3dHeXA0blUuMWlWV0NZVUUyRzE3NWh6NjJmNEJMRzo=';\n\nlet downloadUrl = item.recordingUrl;\n\ntry {\n  const headResp = await this.helpers.httpRequest({\n    method: 'HEAD',\n    url: item.recordingUrl,\n    headers: { 'Authorization': CLOSE_AUTH },\n    disableFollowRedirect: true,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true\n  });\n  const loc = (headResp.headers || {}).location || (headResp.headers || {}).Location;\n  if (loc) downloadUrl = loc;\n} catch (headErr) {\n  const errHeaders = headErr?.response?.headers || headErr?.cause?.response?.headers || {};\n  const loc = errHeaders.location || errHeaders.Location;\n  if (loc) downloadUrl = loc;\n}\n\nreturn [{\n  json: {\n    ...item,\n    directUrl: downloadUrl,\n    _fileName: 'call_' + item.closeCallId.substring(5, 20) + '_' + new Date().toISOString().substring(0, 10) + '.mp3'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2912,
        -80
      ],
      "name": "Resolve Recording URL",
      "id": "411b49dd-e8bb-4446-b18b-4a6207b12ada"
    },
    {
      "parameters": {
        "jsCode": "// Ergebnisse nach dem Loop sammeln\nconst items = $input.all();\nconst transcripts = [];\nconst skippedCalls = [];\nlet totalSkipped = [];\n\nfor (const item of items) {\n  const j = item.json;\n  if (j._skipped) {\n    skippedCalls.push({ id: j.closeCallId, reason: j._reason, message: j._message || '' });\n    continue;\n  }\n  if (j.source_type === 'call') {\n    transcripts.push(j);\n  }\n  if (j.skippedCalls) totalSkipped = j.skippedCalls;\n}\n\nif (transcripts.length === 0) {\n  return [{ json: { transcripts: [], skippedCalls: [...totalSkipped, ...skippedCalls], count: 0 } }];\n}\n\n// Items mit Binary-Daten durchreichen fuer Google Drive\nconst output = [];\nfor (const item of items) {\n  if (!item.json._skipped && item.json.source_type === 'call') {\n    output.push({\n      json: { ...item.json, skippedCalls: [...totalSkipped, ...skippedCalls], count: transcripts.length },\n      binary: item.binary || {}\n    });\n  }\n}\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        192
      ],
      "name": "Collect Results",
      "id": "d2d38557-8c7b-460e-9d6f-129262234571"
    },
    {
      "parameters": {
        "url": "={{ $json.directUrl }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3136,
        -80
      ],
      "name": "Download Audio",
      "id": "d84e702d-0d26-49b3-8240-0be3bc62478a",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-1",
              "parameterType": "formData"
            },
            {
              "name": "language",
              "value": "de",
              "parameterType": "formData"
            },
            {
              "name": "file",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3360,
        -80
      ],
      "name": "Whisper Transcribe",
      "id": "d0ee36ad-8473-4528-a32c-4faaafe24e20",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Transcript-Objekt bauen aus Whisper-Ergebnis + Metadaten\nconst meta = $('Resolve Recording URL').first().json;\nconst whisperResult = $json;\n\nconst transcriptText = whisperResult.text || '';\n\nif (!transcriptText) {\n  return [{ json: { _skipped: true, _reason: 'no_transcript', closeCallId: meta.closeCallId } }];\n}\n\n// Neue UUID als source_id generieren (Supabase erwartet UUID-Format)\nfunction uuid() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n  });\n}\n\nreturn [{\n  json: {\n    source_type: 'call',\n    source_id: uuid(),\n    close_call_id: meta.closeCallId,\n    lead_id: meta.leadUuid || null,\n    owner_id: meta.ownerUuid || null,\n    content: transcriptText,\n    recording_url: meta.recordingUrl || '',\n    call_type: 'erstgespraech',\n    synced_at: new Date().toISOString(),\n    _fileName: meta._fileName,\n    _skipped: false,\n    count: 1\n  },\n  binary: $('Download Audio').first().binary || {}\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3584,
        -80
      ],
      "name": "Format Transcript",
      "id": "e0fda08a-e43a-4c45-bcc2-e914a088dae5"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Is Test Mode?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Test Mode?": {
      "main": [
        [
          {
            "node": "Init Loop Counter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Opportunity": {
      "main": [
        [
          {
            "node": "Wait 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Loop Counter": {
      "main": [
        [
          {
            "node": "GET Calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Calls": {
      "main": [
        [
          {
            "node": "Check Recordings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Recordings": {
      "main": [
        [
          {
            "node": "Has Recordings?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Recordings?": {
      "main": [
        [
          {
            "node": "Prepare Calls",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Max Retries?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Max Retries?": {
      "main": [
        [
          {
            "node": "Wait 2min",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log No Recordings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2min": {
      "main": [
        [
          {
            "node": "GET Calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Transcripts?": {
      "main": [
        [
          {
            "node": "AI Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log No Transcripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Summary": {
      "main": [
        [
          {
            "node": "Save Transcripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Transcripts": {
      "main": [
        [
          {
            "node": "Create Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Note": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger Test": {
      "main": [
        [
          {
            "node": "Process Webhook Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Webhook Data": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Has Transcripts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Calls": {
      "main": [
        [
          {
            "node": "Has Calls?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Calls?": {
      "main": [
        [
          {
            "node": "Resolve Recording URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Collect Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Results": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Recording URL": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Whisper Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper Transcribe": {
      "main": [
        [
          {
            "node": "Format Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Transcript": {
      "main": [
        [
          {
            "node": "Collect Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s": {
      "main": [
        [
          {
            "node": "Init Loop Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "y5PB6EFfeKYeLxqp",
    "callerPolicy": "any",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "df813184-913c-409d-b3f2-2162fbc99f42",
  "activeVersionId": "df813184-913c-409d-b3f2-2162fbc99f42",
  "versionCounter": 20,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-12T09:01:57.115Z",
      "createdAt": "2026-03-12T09:01:57.115Z",
      "role": "workflow:owner",
      "workflowId": "F57B2B7FCB374B6F88F3",
      "projectId": "TwjesTL8es4cBcNj",
      "project": {
        "updatedAt": "2026-03-12T08:56:57.278Z",
        "createdAt": "2026-03-11T11:37:59.841Z",
        "id": "TwjesTL8es4cBcNj",
        "name": "Thien-Bao Hoang <tbaohoang94@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "0b807ac2-703d-4965-886a-49951dadd669"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-19T11:05:22.428Z",
    "createdAt": "2026-03-19T11:05:22.428Z",
    "versionId": "df813184-913c-409d-b3f2-2162fbc99f42",
    "workflowId": "F57B2B7FCB374B6F88F3",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          224,
          368
        ],
        "id": "05e5846d-52a5-4c20-8901-a5a433023d74"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "eg-stattgefunden-test",
          "options": {}
        },
        "name": "Webhook Trigger Test",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          176
        ],
        "webhookId": "eg-stattgefunden-test-webhook",
        "id": "c0d90b49-852b-448c-9bdb-626c5cd6009a"
      },
      {
        "parameters": {
          "jsCode": "// Webhook-Daten lesen (snake_case JSON body)\nconst body = $json.body || $json;\nconst activityId = (body.activity_id || '').trim();\nlet leadId = (body.lead_id || '').trim();\nlet userId = (body.user_id || '').trim();\nconst formDatum = (body.datum || '').trim();\nlet formErgebnis = (body.ergebnis || '').trim();\n\nconst CLOSE_AUTH = 'Basic YXBpXzJKd0JqaHMwYmZCUmJ5d3dHeXA0blUuMWlWV0NZVUUyRzE3NWh6NjJmNEJMRzo=';\nconst EG_TYPE_ID = 'actitype_0Pow7dFbqAOrFjLsCT068D';\nconst ERGEBNIS_FIELD = 'custom.cf_Bp0LGE1a2Am7BlHszQNtV7KuTpVYDthbiKOetsFkcUQ';\n\nlet dateCreated = formDatum ? new Date(formDatum).toISOString() : new Date().toISOString();\nlet customFields = {};\n\n// EG-Ergebnis setzen\nif (formErgebnis) {\n  customFields[ERGEBNIS_FIELD] = formErgebnis;\n}\n\n// Fall 1: Activity ID gegeben - Details aus Close holen\nif (activityId) {\n  const activity = await this.helpers.httpRequest({\n    method: 'GET',\n    url: 'https://api.close.com/api/v1/activity/custom/' + activityId + '/',\n    headers: { 'Authorization': CLOSE_AUTH, 'Accept': 'application/json' }\n  });\n  leadId = leadId || activity.lead_id;\n  userId = userId || activity.user_id || activity.created_by;\n  if (!formDatum) dateCreated = activity.date_created || dateCreated;\n  if (!formErgebnis && activity.custom) customFields = activity.custom;\n}\n\n// Fall 2: Nur Lead ID - letzte EG Activity suchen (fuer User ID + Datum)\nif (!activityId && leadId && !userId) {\n  try {\n    const resp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: 'https://api.close.com/api/v1/activity/custom/?lead_id=' + leadId + '&_limit=50&_order_by=-date_created',\n      headers: { 'Authorization': CLOSE_AUTH, 'Accept': 'application/json' }\n    });\n    const parsed = typeof resp === 'string' ? JSON.parse(resp) : resp;\n    const activities = (parsed.data || []).filter(a => a.custom_activity_type_id === EG_TYPE_ID);\n    if (activities.length > 0) {\n      const latest = activities[0];\n      userId = latest.user_id || latest.created_by;\n      if (!formDatum) dateCreated = latest.date_created || dateCreated;\n      if (!formErgebnis && latest.custom) customFields = latest.custom;\n    }\n  } catch (e) { /* Weiter mit manuellen Daten */ }\n}\n\nif (!leadId) {\n  throw new Error('Bitte mindestens lead_id oder activity_id im JSON body senden');\n}\n\nreturn [{ json: { leadId, userId, dateCreated, customFields, testMode: true } }];"
        },
        "name": "Process Webhook Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          176
        ],
        "id": "9d124439-7503-4304-b14c-571bb5a0cafa"
      },
      {
        "parameters": {
          "jsCode": "const input = $json;\nconst testMode = input.testMode || false;\nconst ergebnis = (input.customFields || {})['custom.cf_Bp0LGE1a2Am7BlHszQNtV7KuTpVYDthbiKOetsFkcUQ'] || '';\n\nconst OPP_STATUS_MAP = {\n  '1 - Kunde': 'stat_whEM29RxVUWk9pucJMWhPtBrjjadPn4DzUsYxV06bCs',\n  '2 - Folgetermin': null,\n  '3 - Follow-up': 'stat_2NjdTtgLsl931S2nrmOLTK7IWW7KV0JVsiTwS7zexT4',\n  '4 - Verloren': 'stat_2NjdTtgLsl931S2nrmOLTK7IWW7KV0JVsiTwS7zexT4',\n  '5 - Unqualifiziert': 'stat_0o8JNmzSa6GiQH5yEZ424xT9B08NGTia4U3VxxzssMB'\n};\n\nconst DEFAULT_STATUS = 'stat_bMeIa40jGWwjbA5bOJpdIGgBk7QFWa1nlhsA9hVJg1J';\nconst targetOppStatus = OPP_STATUS_MAP.hasOwnProperty(ergebnis) ? OPP_STATUS_MAP[ergebnis] : DEFAULT_STATUS;\n\nconst now = new Date();\nconst closeDate = new Date(now.getTime() + 12 * 24 * 60 * 60 * 1000);\nconst closeDateStr = closeDate.toISOString().split('T')[0];\n\nconst date = new Date(input.dateCreated || now.toISOString());\nconst dayStart = new Date(date.getFullYear(), date.getMonth(), date.getDate()).toISOString();\nconst dayEnd = new Date(date.getFullYear(), date.getMonth(), date.getDate() + 1).toISOString();\n\nreturn [{\n  json: {\n    ...input,\n    testMode,\n    ergebnis,\n    targetOppStatus,\n    closeDateStr,\n    dayStart,\n    dayEnd\n  }\n}];"
        },
        "name": "Prepare Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          448,
          272
        ],
        "id": "4104b094-17f1-4689-826a-4e425f8d147b"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "test-mode-check",
                "leftValue": "={{ $json.testMode }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "name": "Is Test Mode?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          672,
          272
        ],
        "id": "850a37a4-0d87-4273-83a3-1e0f9c61a568"
      },
      {
        "parameters": {
          "jsCode": "const input = $json;\nconst CLOSE_AUTH = 'Basic YXBpXzJKd0JqaHMwYmZCUmJ5d3dHeXA0blUuMWlWV0NZVUUyRzE3NWh6NjJmNEJMRzo=';\nconst DEFAULT_STATUS = 'stat_bMeIa40jGWwjbA5bOJpdIGgBk7QFWa1nlhsA9hVJg1J';\n\nconst oppResp = await this.helpers.httpRequest({\n  method: 'GET',\n  url: 'https://api.close.com/api/v1/opportunity/?lead_id=' + input.leadId + '&status_type=active&_limit=1&_order_by=-date_created',\n  headers: { 'Authorization': CLOSE_AUTH, 'Accept': 'application/json' }\n});\n\nconst opportunities = oppResp.data || [];\nlet oppResult;\n\nif (opportunities.length > 0) {\n  const opp = opportunities[0];\n  const updateBody = { close_date: input.closeDateStr };\n  if (input.targetOppStatus) {\n    updateBody.status_id = input.targetOppStatus;\n  }\n  oppResult = await this.helpers.httpRequest({\n    method: 'PUT',\n    url: 'https://api.close.com/api/v1/opportunity/' + opp.id,\n    headers: { 'Authorization': CLOSE_AUTH, 'Content-Type': 'application/json' },\n    body: JSON.stringify(updateBody)\n  });\n} else {\n  const statusId = input.targetOppStatus || DEFAULT_STATUS;\n  oppResult = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.close.com/api/v1/opportunity/',\n    headers: { 'Authorization': CLOSE_AUTH, 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      lead_id: input.leadId,\n      status_id: statusId,\n      value: 300000,\n      value_period: 'one_time',\n      value_currency: 'EUR',\n      confidence: 33,\n      date_created: input.dateCreated,\n      close_date: input.closeDateStr,\n      note: 'Automatisch erstellt durch EG stattgefunden Activity',\n      user_id: input.userId\n    })\n  });\n}\n\nreturn [{ json: { ...input, oppResult } }];"
        },
        "name": "Handle Opportunity",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          896,
          336
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 10000,
        "id": "ce01e2fb-442d-47aa-a7ad-79ef530053a7"
      },
      {
        "parameters": {
          "unit": "seconds",
          "amount": 30
        },
        "name": "Wait 30s",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1120,
          336
        ],
        "id": "9fb3f258-d4cf-4bfe-8898-d20f587c32e8",
        "webhookId": "a8820a66-2e6a-40a6-9b38-5cd10cf9fa7e"
      },
      {
        "parameters": {
          "jsCode": "// Startzeit merken (wird von Check Recordings referenziert)\nreturn [{ json: { loopStartTime: Date.now() } }];"
        },
        "name": "Init Loop Counter",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1344,
          272
        ],
        "id": "e761b7f4-16cf-435d-a028-c471546376f4"
      },
      {
        "parameters": {
          "url": "=https://api.close.com/api/v1/activity/call/?lead_id={{ $('Prepare Data').first().json.leadId }}&date_created__gte={{ $('Prepare Data').first().json.dayStart }}&date_created__lt={{ $('Prepare Data').first().json.dayEnd }}&_limit=100",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Basic YXBpXzJKd0JqaHMwYmZCUmJ5d3dHeXA0blUuMWlWV0NZVUUyRzE3NWh6NjJmNEJMRzo="
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "options": {}
        },
        "name": "GET Calls",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1568,
          272
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000,
        "id": "8b32da6d-2b04-4d43-9220-4e5d5b20cdcf"
      },
      {
        "parameters": {
          "jsCode": "const loopStart = $('Init Loop Counter').first().json.loopStartTime;\nconst elapsedMs = Date.now() - loopStart;\nconst maxWait = 20 * 60 * 1000; // 20 Minuten (ca. 10 Retries a 2 Min)\n\nconst response = $('GET Calls').first().json;\nconst callsData = response.data || [];\nconst calls = callsData.filter(c => c.recording_url);\n\nif (calls.length === 0 && elapsedMs < maxWait) {\n  return [{ json: { hasRecordings: false, maxReached: false } }];\n}\n\nif (calls.length === 0) {\n  return [{ json: { hasRecordings: false, maxReached: true, calls: [] } }];\n}\n\nreturn [{ json: { hasRecordings: true, maxReached: false, calls } }];"
        },
        "name": "Check Recordings",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1792,
          192
        ],
        "id": "016e239c-ed27-4703-b6ae-6e4d85243d38"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "has-rec",
                "leftValue": "={{ $json.hasRecordings }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ]
          },
          "options": {}
        },
        "name": "Has Recordings?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          2016,
          192
        ],
        "id": "3e26db49-b710-4285-9573-64d138485c48"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "max-check",
                "leftValue": "={{ $json.maxReached }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "notTrue"
                }
              }
            ]
          },
          "options": {}
        },
        "name": "Max Retries?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          2240,
          320
        ],
        "id": "a4454000-96b3-4d06-b0dd-406bc0d5f858"
      },
      {
        "parameters": {
          "amount": 2,
          "unit": "minutes"
        },
        "name": "Wait 2min",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          2464,
          320
        ],
        "id": "074d10ce-33f3-425b-8917-b84ca44c79a6",
        "webhookId": "124ded55-897b-455a-bc05-da074063d55a"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "has-trans",
                "leftValue": "={{ $json.count }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ]
          },
          "options": {}
        },
        "name": "Has Transcripts?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          3360,
          96
        ],
        "id": "44eb4f80-8ee9-45e5-be56-a2efa2950eb4"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.openai.com/v1/chat/completions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o', messages: [{ role: 'system', content: \"Du bist ein Sales-Coach und Analyst. Analysiere das folgende Erstgespraech-Transkript.\\n\\nAntworte AUSSCHLIESSLICH mit einem JSON-Objekt (kein Markdown, keine Codeblocks). Das JSON muss dieses exakte Schema haben:\\n\\n{\\n  \\\"zusammenfassung\\\": \\\"2-3 Saetze Zusammenfassung des Gespraechs\\\",\\n  \\\"kundenbedarf\\\": [\\\"Bedarf 1\\\", \\\"Bedarf 2\\\"],\\n  \\\"einwaende\\\": [\\\"Einwand 1\\\", \\\"Einwand 2\\\"],\\n  \\\"naechste_schritte\\\": [\\\"Schritt 1\\\", \\\"Schritt 2\\\"],\\n  \\\"ergebnis\\\": \\\"EG-Ergebnis hier\\\",\\n  \\\"questions_asked\\\": [\\n    {\\\"question\\\": \\\"Die gestellte Frage\\\", \\\"category\\\": \\\"pain|budget|authority|timeline|needs|rapport|closing|objection_handling|other\\\", \\\"quality\\\": \\\"gut|mittel|schwach\\\"}\\n  ],\\n  \\\"closer_score\\\": {\\n    \\\"score\\\": 7,\\n    \\\"reasoning\\\": \\\"Begruendung in 1-2 Saetzen\\\"\\n  },\\n  \\\"lead_score\\\": {\\n    \\\"score\\\": 6,\\n    \\\"reasoning\\\": \\\"Begruendung in 1-2 Saetzen\\\",\\n    \\\"ko_triggered\\\": false,\\n    \\\"ko_reason\\\": null\\n  }\\n}\\n\\nCLOSER SCORING (0-10):\\n- Bewerte die QUALITAET und ANZAHL der gestellten Fragen\\n- 0-2: Kaum Fragen, kein Gespraechsleitfaden erkennbar\\n- 3-4: Wenige oberflaechliche Fragen, wichtige Bereiche fehlen\\n- 5-6: Solide Fragetechnik, einige Luecken\\n- 7-8: Gute Bedarfsanalyse, BANT-Fragen abgedeckt\\n- 9-10: Exzellent \\u2014 tiefgehende Fragen, aktives Zuhoeren, perfekte Gespraechsfuehrung\\n\\nLEAD SCORING (0-10) mit KO-Kriterien:\\nKO-Kriterien (Lead Score = 0):\\n- Kein Budget / kann sich nichts leisten\\n- Kein Entscheider und kein Zugang zum Entscheider\\n- Fake-Lead / Spam / kein echtes Unternehmen\\n\\nScoring wenn kein KO:\\n- 1-3: Schwaches Interesse, unklarer Bedarf, niedriges Potenzial\\n- 4-5: Grundinteresse vorhanden, aber Bedenken/Hindernisse\\n- 6-7: Gutes Potenzial, klarer Bedarf, realistisches Budget\\n- 8-9: Starker Bedarf, Budget vorhanden, Entscheider am Tisch\\n- 10: Sofort abschlussbereit, alle Kriterien erfuellt\\n\\nWICHTIG:\\n- Extrahiere NUR Fragen die der VERTRIEBLER gestellt hat (nicht der Kunde)\\n- Kategorisiere jede Frage nach BANT+ Schema\\n- Bewerte die Qualitaet jeder einzelnen Frage\\n- Antworte auf Deutsch\\n- NUR valides JSON, kein anderer Text\" + '\\n\\nEG-Ergebnis laut CRM: ' + ($('Prepare Data').first().json.ergebnis || 'unbekannt') }, { role: 'user', content: $('Aggregate Results').first().json.transcripts.map((t, i) => '--- Transkript ' + (i + 1) + ' ---\\n' + t.content).join('\\n\\n') }], response_format: { type: 'json_object' } }) }}",
          "options": {}
        },
        "name": "AI Summary",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3584,
          0
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000,
        "id": "99ba3836-05ab-412a-b8ae-2a556415e2f5"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/transcripts",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_LEADS_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=representation"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ (() => {\n  const aiRaw = $json.choices && $json.choices[0] ? $json.choices[0].message.content : '{}';\n  let ai = {};\n  try { ai = JSON.parse(aiRaw); } catch(e) { ai = {}; }\n  \n  const summary = [\n    '## Zusammenfassung',\n    ai.zusammenfassung || '',\n    '',\n    '## Kundenbedarf',\n    ...(ai.kundenbedarf || []).map(b => '- ' + b),\n    '',\n    '## Einwaende / Bedenken',\n    ...(ai.einwaende || ['Keine']).map(e => '- ' + e),\n    '',\n    '## Naechste Schritte',\n    ...(ai.naechste_schritte || []).map(s => '- ' + s),\n    '',\n    '## Ergebnis',\n    'EG-Ergebnis: ' + (ai.ergebnis || 'unbekannt')\n  ].join('\\n');\n  \n  return JSON.stringify($('Aggregate Results').first().json.transcripts.map(t => ({\n    ...t,\n    ai_summary: summary,\n    closer_score: ai.closer_score ? ai.closer_score.score : null,\n    closer_score_reasoning: ai.closer_score ? ai.closer_score.reasoning : null,\n    lead_score: ai.lead_score ? ai.lead_score.score : null,\n    lead_score_reasoning: ai.lead_score ? ai.lead_score.reasoning : null,\n    questions_asked: ai.questions_asked || null\n  })));\n})() }}",
          "options": {}
        },
        "name": "Save Transcripts",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3808,
          0
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000,
        "id": "81be371d-59b2-4143-86b0-223b9e5dcefb"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.close.com/api/v1/activity/note/",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Basic YXBpXzJKd0JqaHMwYmZCUmJ5d3dHeXA0blUuMWlWV0NZVUUyRzE3NWh6NjJmNEJMRzo="
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ lead_id: $('Prepare Data').first().json.leadId, pinned: true, note: 'Erstgespraech - Zusammenfassung\\n\\n' + ($('AI Summary').first().json.choices && $('AI Summary').first().json.choices[0] ? $('AI Summary').first().json.choices[0].message.content : '') + '\\n\\n---\\nCalls transkribiert: ' + $('Aggregate Results').first().json.count + '\\nErgebnis: ' + ($('Prepare Data').first().json.ergebnis || 'unbekannt') + '\\nErstellt durch: EG-Transkription Workflow' }) }}",
          "options": {}
        },
        "name": "Create Note",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          4032,
          0
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 5000,
        "id": "21ebf753-2c13-4704-80f0-d51dc266ee61"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/sync_runs",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_LEADS_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}"
              },
              {
                "name": "Prefer",
                "value": "return=representation"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ entity: 'webhook_23_eg_stattgefunden', status: 'success', records_synced: $('Collect Results').first().json.count, error_message: $('Collect Results').first().json.skippedCalls.length > 0 ? 'Skipped: ' + JSON.stringify($('Collect Results').first().json.skippedCalls) : null, started_at: $('Prepare Data').first().json.dateCreated, finished_at: new Date().toISOString() }) }}",
          "options": {}
        },
        "name": "Log Success",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          4256,
          0
        ],
        "id": "0598a32f-e409-40a1-a16f-a88070efef43",
        "continueOnFail": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/sync_runs",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_LEADS_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}"
              },
              {
                "name": "Prefer",
                "value": "return=representation"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ entity: 'webhook_23_eg_stattgefunden', status: 'success', error_message: 'No recordings found after max retries', started_at: $('Prepare Data').first().json.dateCreated, finished_at: new Date().toISOString() }) }}",
          "options": {}
        },
        "name": "Log No Recordings",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2464,
          512
        ],
        "id": "d44401df-4685-4edb-a5f3-a721ac1b6f9d",
        "continueOnFail": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/sync_runs",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $env.SUPABASE_LEADS_KEY }}"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}"
              },
              {
                "name": "Prefer",
                "value": "return=representation"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ entity: 'webhook_23_eg_stattgefunden', status: 'success', error_message: 'No transcripts produced from recordings', started_at: $('Prepare Data').first().json.dateCreated, finished_at: new Date().toISOString() }) }}",
          "options": {}
        },
        "name": "Log No Transcripts",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3584,
          192
        ],
        "id": "17022e01-72b3-4bbf-983d-f565575cc7d8",
        "continueOnFail": true
      },
      {
        "parameters": {
          "name": "={{ $json._fileName || 'recording.mp3' }}",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "={{ $env.GOOGLE_DRIVE_DEMODESK_FOLDER_ID }}",
            "mode": "id"
          },
          "options": {}
        },
        "name": "Upload to Google Drive",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          2912,
          96
        ],
        "id": "4e2ceef5-95fd-4bfc-8c60-b327172a8ebf",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "JbvsBYNdKjn0rC7d",
            "name": "Google Drive account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "// Transcript-Daten aus Collect Results holen + Google Drive Daten\nconst transcribeItems = $(\"Collect Results\").all();\nconst driveItems = $input.all();\n\nconst transcripts = [];\nfor (let i = 0; i < transcribeItems.length; i++) {\n  const orig = transcribeItems[i].json;\n  const drive = driveItems[i]?.json || {};\n  \n  if (!orig.source_type || !orig.content) continue;\n  \n  const t = {\n    source_type: orig.source_type,\n    source_id: orig.source_id,\n    close_call_id: orig.close_call_id || null,\n    lead_id: orig.lead_id,\n    owner_id: orig.owner_id || null,\n    content: orig.content,\n    recording_url: orig.recording_url || '',\n    call_type: orig.call_type,\n    synced_at: orig.synced_at\n  };\n  \n  if (drive.id && drive.mimeType) {\n    t.google_drive_file_id = drive.id;\n    t.google_drive_url = drive.webViewLink || '';\n  }\n  transcripts.push(t);\n}\n\nreturn [{ json: { transcripts, skippedCalls: [], count: transcripts.length } }];"
        },
        "name": "Aggregate Results",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3136,
          96
        ],
        "id": "31210d88-10be-47c6-9b6d-ff6ed7416b83"
      },
      {
        "parameters": {
          "jsCode": "// Vereinfacht: Alle Calls mit Recording direkt durchreichen\n// Kein Supabase-Lookup noetig — Transcript wird unabhaengig gespeichert\nconst meta = $('Prepare Data').first().json;\nconst calls = $('Check Recordings').first().json.calls || [];\n\n// User-UUID aus Supabase holen (fuer owner_id im Transcript)\nlet ownerUuid = null;\ntry {\n  const userLookup = await this.helpers.httpRequest({\n    method: 'GET',\n    url: $env.SUPABASE_LEADS_URL + '/rest/v1/users?select=id&close_user_id=eq.' + meta.userId + '&limit=1',\n    headers: { 'apikey': $env.SUPABASE_LEADS_KEY, 'Authorization': 'Bearer ' + $env.SUPABASE_LEADS_KEY }\n  });\n  if (Array.isArray(userLookup) && userLookup.length > 0) ownerUuid = userLookup[0].id;\n} catch (e) {}\n\n// Lead-UUID aus Supabase holen (fuer lead_id im Transcript)\nlet leadUuid = null;\ntry {\n  const leadResp = await this.helpers.httpRequest({\n    method: 'GET',\n    url: $env.SUPABASE_LEADS_URL + '/rest/v1/leads?select=id&close_lead_id=eq.' + meta.leadId + '&limit=1',\n    headers: { 'apikey': $env.SUPABASE_LEADS_KEY, 'Authorization': 'Bearer ' + $env.SUPABASE_LEADS_KEY }\n  });\n  if (Array.isArray(leadResp) && leadResp.length > 0) leadUuid = leadResp[0].id;\n} catch (e) {}\n\nif (calls.length === 0) {\n  return [{ json: { _noCallsToProcess: true, transcripts: [], skippedCalls: [], count: 0 } }];\n}\n\nreturn calls.map(call => ({\n  json: {\n    closeCallId: call.id,\n    recordingUrl: call.recording_url,\n    duration: call.duration || 0,\n    leadUuid,\n    ownerUuid,\n    closeLeadId: meta.leadId,\n    closeUserId: meta.userId,\n    totalCalls: calls.length\n  }\n}));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2240,
          96
        ],
        "name": "Prepare Calls",
        "id": "b23c512d-bc3c-4cde-8060-d75082a79d7d"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "has-calls",
                "leftValue": "={{ $json.closeCallId }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          2464,
          96
        ],
        "name": "Has Calls?",
        "id": "cf48fbe1-aaa1-48f0-8937-5ab79d45d115"
      },
      {
        "parameters": {
          "jsCode": "// Recording-URL aufloesen (Close 302 → S3 Direct Link)\nconst item = $json;\nconst CLOSE_AUTH = 'Basic YXBpXzJKd0JqaHMwYmZCUmJ5d3dHeXA0blUuMWlWV0NZVUUyRzE3NWh6NjJmNEJMRzo=';\n\nlet downloadUrl = item.recordingUrl;\n\ntry {\n  const headResp = await this.helpers.httpRequest({\n    method: 'HEAD',\n    url: item.recordingUrl,\n    headers: { 'Authorization': CLOSE_AUTH },\n    disableFollowRedirect: true,\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true\n  });\n  const loc = (headResp.headers || {}).location || (headResp.headers || {}).Location;\n  if (loc) downloadUrl = loc;\n} catch (headErr) {\n  const errHeaders = headErr?.response?.headers || headErr?.cause?.response?.headers || {};\n  const loc = errHeaders.location || errHeaders.Location;\n  if (loc) downloadUrl = loc;\n}\n\nreturn [{\n  json: {\n    ...item,\n    directUrl: downloadUrl,\n    _fileName: 'call_' + item.closeCallId.substring(5, 20) + '_' + new Date().toISOString().substring(0, 10) + '.mp3'\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2912,
          -80
        ],
        "name": "Resolve Recording URL",
        "id": "411b49dd-e8bb-4446-b18b-4a6207b12ada"
      },
      {
        "parameters": {
          "jsCode": "// Ergebnisse nach dem Loop sammeln\nconst items = $input.all();\nconst transcripts = [];\nconst skippedCalls = [];\nlet totalSkipped = [];\n\nfor (const item of items) {\n  const j = item.json;\n  if (j._skipped) {\n    skippedCalls.push({ id: j.closeCallId, reason: j._reason, message: j._message || '' });\n    continue;\n  }\n  if (j.source_type === 'call') {\n    transcripts.push(j);\n  }\n  if (j.skippedCalls) totalSkipped = j.skippedCalls;\n}\n\nif (transcripts.length === 0) {\n  return [{ json: { transcripts: [], skippedCalls: [...totalSkipped, ...skippedCalls], count: 0 } }];\n}\n\n// Items mit Binary-Daten durchreichen fuer Google Drive\nconst output = [];\nfor (const item of items) {\n  if (!item.json._skipped && item.json.source_type === 'call') {\n    output.push({\n      json: { ...item.json, skippedCalls: [...totalSkipped, ...skippedCalls], count: transcripts.length },\n      binary: item.binary || {}\n    });\n  }\n}\nreturn output;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2688,
          192
        ],
        "name": "Collect Results",
        "id": "d2d38557-8c7b-460e-9d6f-129262234571"
      },
      {
        "parameters": {
          "url": "={{ $json.directUrl }}",
          "options": {
            "response": {
              "response": {
                "fullResponse": false,
                "responseFormat": "file"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3136,
          -80
        ],
        "name": "Download Audio",
        "id": "d84e702d-0d26-49b3-8240-0be3bc62478a",
        "continueOnFail": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.openai.com/v1/audio/transcriptions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
              }
            ]
          },
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "name": "model",
                "value": "whisper-1",
                "parameterType": "formData"
              },
              {
                "name": "language",
                "value": "de",
                "parameterType": "formData"
              },
              {
                "name": "file",
                "parameterType": "formBinaryData",
                "inputDataFieldName": "data"
              }
            ]
          },
          "options": {
            "timeout": 300000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3360,
          -80
        ],
        "name": "Whisper Transcribe",
        "id": "d0ee36ad-8473-4528-a32c-4faaafe24e20",
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "// Transcript-Objekt bauen aus Whisper-Ergebnis + Metadaten\nconst meta = $('Resolve Recording URL').first().json;\nconst whisperResult = $json;\n\nconst transcriptText = whisperResult.text || '';\n\nif (!transcriptText) {\n  return [{ json: { _skipped: true, _reason: 'no_transcript', closeCallId: meta.closeCallId } }];\n}\n\n// Neue UUID als source_id generieren (Supabase erwartet UUID-Format)\nfunction uuid() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n  });\n}\n\nreturn [{\n  json: {\n    source_type: 'call',\n    source_id: uuid(),\n    close_call_id: meta.closeCallId,\n    lead_id: meta.leadUuid || null,\n    owner_id: meta.ownerUuid || null,\n    content: transcriptText,\n    recording_url: meta.recordingUrl || '',\n    call_type: 'erstgespraech',\n    synced_at: new Date().toISOString(),\n    _fileName: meta._fileName,\n    _skipped: false,\n    count: 1\n  },\n  binary: $('Download Audio').first().binary || {}\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3584,
          -80
        ],
        "name": "Format Transcript",
        "id": "e0fda08a-e43a-4c45-bcc2-e914a088dae5"
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Prepare Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Data": {
        "main": [
          [
            {
              "node": "Is Test Mode?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Test Mode?": {
        "main": [
          [
            {
              "node": "Init Loop Counter",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Handle Opportunity",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Handle Opportunity": {
        "main": [
          [
            {
              "node": "Wait 30s",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Init Loop Counter": {
        "main": [
          [
            {
              "node": "GET Calls",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GET Calls": {
        "main": [
          [
            {
              "node": "Check Recordings",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Recordings": {
        "main": [
          [
            {
              "node": "Has Recordings?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Recordings?": {
        "main": [
          [
            {
              "node": "Prepare Calls",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Max Retries?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Max Retries?": {
        "main": [
          [
            {
              "node": "Wait 2min",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Log No Recordings",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait 2min": {
        "main": [
          [
            {
              "node": "GET Calls",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Transcripts?": {
        "main": [
          [
            {
              "node": "AI Summary",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Log No Transcripts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Summary": {
        "main": [
          [
            {
              "node": "Save Transcripts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Transcripts": {
        "main": [
          [
            {
              "node": "Create Note",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Note": {
        "main": [
          [
            {
              "node": "Log Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook Trigger Test": {
        "main": [
          [
            {
              "node": "Process Webhook Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process Webhook Data": {
        "main": [
          [
            {
              "node": "Prepare Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload to Google Drive": {
        "main": [
          [
            {
              "node": "Aggregate Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate Results": {
        "main": [
          [
            {
              "node": "Has Transcripts?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Calls": {
        "main": [
          [
            {
              "node": "Has Calls?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Calls?": {
        "main": [
          [
            {
              "node": "Resolve Recording URL",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Collect Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Collect Results": {
        "main": [
          [
            {
              "node": "Upload to Google Drive",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Resolve Recording URL": {
        "main": [
          [
            {
              "node": "Download Audio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Audio": {
        "main": [
          [
            {
              "node": "Whisper Transcribe",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Whisper Transcribe": {
        "main": [
          [
            {
              "node": "Format Transcript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Transcript": {
        "main": [
          [
            {
              "node": "Collect Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait 30s": {
        "main": [
          [
            {
              "node": "Init Loop Counter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Thien-Bao Hoang",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-19T11:05:22.547Z",
        "id": 202,
        "workflowId": "F57B2B7FCB374B6F88F3",
        "versionId": "df813184-913c-409d-b3f2-2162fbc99f42",
        "event": "deactivated",
        "userId": "0b807ac2-703d-4965-886a-49951dadd669"
      },
      {
        "createdAt": "2026-03-19T11:05:22.587Z",
        "id": 203,
        "workflowId": "F57B2B7FCB374B6F88F3",
        "versionId": "df813184-913c-409d-b3f2-2162fbc99f42",
        "event": "activated",
        "userId": "0b807ac2-703d-4965-886a-49951dadd669"
      }
    ]
  }
}