n8n/workflows/close-crm-sync/24-sg-stattgefunden.json
{
  "name": "24 - Close CRM Sync - SG Stattgefunden",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        400
      ],
      "id": "870304a8-5318-4cd1-ae4a-116b99de1490"
    },
    {
      "parameters": {
        "url": "=https://api.close.com/api/v1/opportunity/?lead_id={{ $json.leadId }}&status_type=active&_limit=1&_order_by=-date_created",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YXBpXzJKd0JqaHMwYmZCUmJ5d3dHeXA0blUuMWlWV0NZVUUyRzE3NWh6NjJmNEJMRzo="
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "name": "GET Active Opportunity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        600
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "id": "e349ee60-0a58-4744-af74-b380218717b5"
    },
    {
      "parameters": {
        "jsCode": "const input = $('Execute Workflow Trigger').first().json;\nconst oppResponse = $('GET Active Opportunity').first().json;\nconst opportunities = oppResponse.data || [];\n\nif (opportunities.length === 0) {\n  return [];\n}\n\nconst opp = opportunities[0];\nconst ergebnis = (input.customFields || {})['custom.cf_HCpCPtrExVmNACqjhFkjZ9fMHQimVgodE22DYt50ycf'] || '';\n\nconst STATUS_MAP = {\n  '1 - Kunde': 'stat_FCEzWzOeUGxQDxBECumKi1o5M0F1xIlOaFn13wvuJeh',\n  '2 - Folgetermin': 'stat_FCEzWzOeUGxQDxBECumKi1o5M0F1xIlOaFn13wvuJeh',\n  '3 - Follow-up': 'stat_tvzdFtr0O0RFU0Kq0XGWcWmX3ARkkbdYtwIAa8nw3QO',\n  '4 - Verloren': 'stat_2NjdTtgLsl931S2nrmOLTK7IWW7KV0JVsiTwS7zexT4',\n  '5 - Unqualifiziert': 'stat_0o8JNmzSa6GiQH5yEZ424xT9B08NGTia4U3VxxzssMB'\n};\n\nconst statusId = STATUS_MAP[ergebnis];\n\nif (!statusId) {\n  return [];\n}\n\nreturn [{ json: { oppId: opp.id, statusId, ergebnis, leadId: input.leadId } }];"
      },
      "name": "Resolve Ergebnis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        600
      ],
      "id": "c8252ded-9291-406a-be1a-213d0fcb666d"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.close.com/api/v1/opportunity/{{ $json.oppId }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YXBpXzJKd0JqaHMwYmZCUmJ5d3dHeXA0blUuMWlWV0NZVUUyRzE3NWh6NjJmNEJMRzo="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status_id: $json.statusId, confidence: 33 }) }}",
        "options": {}
      },
      "name": "Update Opportunity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        600
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput",
      "id": "f6041521-4414-4c3d-9087-d27f61173124"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/sync_runs",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_LEADS_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ entity: 'webhook_24_sg_stattgefunden', status: 'error', error_message: ($json.error?.message || $json.errorMessage || 'Failed to update opportunity').substring(0, 500), started_at: new Date().toISOString(), finished_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "name": "Log Error to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        600
      ],
      "continueOnFail": true,
      "id": "801efb4f-a91e-4ec7-ae27-bb235c70c5e0"
    },
    {
      "parameters": {
        "jsCode": "// Trigger-Daten holen und Datumsfenster berechnen\nconst trigger = $json;\nconst dateCreated = trigger.dateCreated || new Date().toISOString();\nconst date = new Date(dateCreated);\nconst dayStart = new Date(date.getFullYear(), date.getMonth(), date.getDate()).toISOString();\nconst dayEnd = new Date(date.getFullYear(), date.getMonth(), date.getDate() + 1).toISOString();\n\nreturn [{ json: { ...trigger, dayStart, dayEnd, attempt: 0 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        200
      ],
      "id": "prep-sg-01",
      "name": "Prepare"
    },
    {
      "parameters": {
        "url": "=https://api.close.com/api/v1/activity/call/?lead_id={{ $json.leadId }}&date_created__gte={{ $json.dayStart }}&date_created__lt={{ $json.dayEnd }}&_limit=100",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YXBpXzJKd0JqaHMwYmZCUmJ5d3dHeXA0blUuMWlWV0NZVUUyRzE3NWh6NjJmNEJMRzo="
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        200
      ],
      "id": "get-calls-sg-01",
      "name": "GET Calls"
    },
    {
      "parameters": {
        "jsCode": "// Calls mit Recording filtern, Versuch zaehlen, Abbruch bei >= 2\nconst callsData = $json.data || [];\n\nlet prevAttempt = 0;\ntry { prevAttempt = $('Next Attempt').first().json.attempt; } catch(e) {\n  try { prevAttempt = $('Prepare').first().json.attempt; } catch(e2) {}\n}\nconst attempt = prevAttempt + 1;\n\n// Nur nach recording_url filtern\nconst callsWithRecording = callsData.filter(c => c.recording_url);\n\nif (callsWithRecording.length > 0) {\n  return [{ json: { _action: 'transcribe', calls: callsWithRecording, attempt } }];\n}\n\nif (attempt >= 2) {\n  return []; // Max Versuche erreicht\n}\n\nreturn [{ json: { _action: 'retry', calls: [], attempt } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        200
      ],
      "id": "check-calls-sg-01",
      "name": "Check Calls"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "action-check",
              "leftValue": "={{ $json._action }}",
              "rightValue": "transcribe",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        200
      ],
      "id": "has-rec-sg-01",
      "name": "Has Recording?"
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 2,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1440,
        400
      ],
      "id": "wait-sg-01",
      "name": "Wait 2min Retry"
    },
    {
      "parameters": {
        "jsCode": "// Attempt-Zaehler beibehalten fuer naechsten Loop\nconst prev = $('Check Calls').first().json;\nconst trigger = $('Execute Workflow Trigger').first().json;\nconst prepare = $('Prepare').first().json;\n\nreturn [{ json: { ...trigger, dayStart: prepare.dayStart, dayEnd: prepare.dayEnd, attempt: prev.attempt } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        400
      ],
      "id": "next-att-sg-01",
      "name": "Next Attempt"
    },
    {
      "parameters": {
        "jsCode": "// Calls mit Recording vorbereiten fuer HTTP Download\nconst calls = $('Check Calls').first().json.calls || [];\n\nif (calls.length === 0) {\n  return [{ json: { transcripts: [], count: 0, errors: [] } }];\n}\n\nconst call = calls[0];\nreturn [{ json: {\n  callId: call.id,\n  recordingUrl: call.recording_url,\n  callsCount: calls.length\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        100
      ],
      "id": "prep-dl-sg-01",
      "name": "Prepare Download"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.recordingUrl }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YXBpXzJKd0JqaHMwYmZCUmJ5d3dHeXA0blUuMWlWV0NZVUUyRzE3NWh6NjJmNEJMRzo="
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 10
            }
          },
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        100
      ],
      "id": "dl-rec-sg-01",
      "name": "Download Recording"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            }
          ]
        },
        "contentType": "multipart-form-data",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formData",
              "name": "model",
              "value": "whisper-1"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        100
      ],
      "id": "whisper-sg-01",
      "name": "Whisper Transcribe"
    },
    {
      "parameters": {
        "jsCode": "// Whisper-Ergebnis formatieren\nconst whisperResult = $json;\nconst callData = $('Prepare Download').first().json;\n\nfunction uuid() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n  });\n}\n\nconst transcriptText = typeof whisperResult === 'string'\n  ? whisperResult\n  : (whisperResult.text || JSON.stringify(whisperResult));\n\nconst transcript = {\n  source_type: 'call',\n  source_id: uuid(),\n  content: transcriptText,\n  call_type: 'strategiegespraech',\n  url: callData.recordingUrl,\n  synced_at: new Date().toISOString()\n};\n\nreturn [{ json: {\n  transcripts: [transcript],\n  count: 1,\n  errors: []\n}}];\n",
        "mode": "runOnceForAllItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        100
      ],
      "id": "fmt-tr-sg-01",
      "name": "Format Transcript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-transcripts",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2400,
        100
      ],
      "id": "has-tr-sg-01",
      "name": "Has Transcripts?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/transcripts",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_LEADS_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.transcripts) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        0
      ],
      "id": "save-sb-sg-01",
      "name": "Save Transcripts to Supabase"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o', messages: [{ role: 'system', content: 'Fasse die folgenden Gesprächstranskripte des Strategiegesprächs kurz und strukturiert zusammen. Gib die wichtigsten Punkte, besprochene Themen und relevante Ergebnisse an. Antworte auf Deutsch.' }, { role: 'user', content: $('Format Transcript').first().json.transcripts.map(t => t.content).join('\\n\\n---\\n\\n') }] }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        0
      ],
      "id": "ai-sum-sg-01",
      "name": "AI Summary"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.close.com/api/v1/activity/note/",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YXBpXzJKd0JqaHMwYmZCUmJ5d3dHeXA0blUuMWlWV0NZVUUyRzE3NWh6NjJmNEJMRzo="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ pinned: true, lead_id: $('Execute Workflow Trigger').first().json.leadId, note: 'Zusammenfassung Strategiegespräch\\n\\n' + $json.choices[0].message.content }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        0
      ],
      "id": "note-sg-01",
      "name": "Create Note in Close"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "GET Active Opportunity",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Active Opportunity": {
      "main": [
        [
          {
            "node": "Resolve Ergebnis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Ergebnis": {
      "main": [
        [
          {
            "node": "Update Opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Opportunity": {
      "main": [
        [
          {
            "node": "Log Error to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare": {
      "main": [
        [
          {
            "node": "GET Calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Calls": {
      "main": [
        [
          {
            "node": "Check Calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Calls": {
      "main": [
        [
          {
            "node": "Has Recording?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Recording?": {
      "main": [
        [
          {
            "node": "Prepare Download",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 2min Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2min Retry": {
      "main": [
        [
          {
            "node": "Next Attempt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Next Attempt": {
      "main": [
        [
          {
            "node": "GET Calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Download": {
      "main": [
        [
          {
            "node": "Download Recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Recording": {
      "main": [
        [
          {
            "node": "Whisper Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper Transcribe": {
      "main": [
        [
          {
            "node": "Format Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Transcript": {
      "main": [
        [
          {
            "node": "Has Transcripts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Transcripts?": {
      "main": [
        [
          {
            "node": "Save Transcripts to Supabase",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Save Transcripts to Supabase": {
      "main": [
        [
          {
            "node": "AI Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Summary": {
      "main": [
        [
          {
            "node": "Create Note in Close",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "y5PB6EFfeKYeLxqp",
    "callerPolicy": "any",
    "availableInMCP": false
  },
  "active": true
}