n8n/workflows/close-crm-sync/25-sg-noshow.json
{
  "name": "25 - Close CRM Sync - SG NoShow",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ],
      "id": "e5beb478-d675-47eb-8f23-ff27345cc073"
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\nconst ergebnis = (input.customFields || {})['custom.cf_1jQaceRH6hI9L0W635q7xDopqEbAbPyIy2RkOLPfk8o'] || '';\n\n// Leeres Ergebnis → nichts tun\nif (!ergebnis) {\n  return [];\n}\n\n// '2 - Absage mit neuem Termin' → Opp Status auf SG Anstehend zuruecksetzen\n// Alle anderen Ergebnisse werden in Prepare Opp Update behandelt\nreturn [{ json: { ...input, ergebnis } }];"
      },
      "name": "Resolve Ergebnis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "id": "43652cf5-b5d8-47ac-bb6d-8972f077566f"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.close.com/api/v1/opportunity/?lead_id={{ $json.leadId }}&status_type=active&_limit=1&_order_by=-date_created",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YXBpXzJKd0JqaHMwYmZCUmJ5d3dHeXA0blUuMWlWV0NZVUUyRzE3NWh6NjJmNEJMRzo="
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "name": "Get Active Opportunity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput",
      "id": "f790448a-07a4-4693-ba24-7ea841968e2c"
    },
    {
      "parameters": {
        "jsCode": "const input = $('Resolve Ergebnis').first().json;\nconst oppResponse = $json;\nconst opportunities = oppResponse.data || [];\n\nif (opportunities.length === 0) {\n  return [];\n}\n\nconst oppId = opportunities[0].id;\nconst ergebnis = input.ergebnis;\n\nlet body = {};\n\nif (ergebnis === '1 - Absage ohne neuen Termin') {\n  // No Show: Status auf SG - No Show setzen + Custom Field markieren\n  body = {\n    status_id: 'stat_aDxAHmrsfcFVJXvRQai1Rbb4TdGWkwbXsZ1JxRr2NcE',\n    'custom.cf_30D240z87Zko9PKJucdQabdhPNryXzHdmiASz2ABOuo': 'No Show'\n  };\n} else if (ergebnis === '3 - Komplette Absage') {\n  // Komplett verloren\n  body = { status_id: 'stat_2NjdTtgLsl931S2nrmOLTK7IWW7KV0JVsiTwS7zexT4' };\n}\n\n// Kein bekanntes Ergebnis -> nichts tun\nif (Object.keys(body).length === 0) {\n  return [];\n}\n\nreturn [{ json: { ...input, oppId, updateBody: body } }];"
      },
      "name": "Prepare Opp Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        200
      ],
      "id": "d304740a-f2e7-4b04-bf56-c3e48108952b"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.close.com/api/v1/opportunity/{{ $json.oppId }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YXBpXzJKd0JqaHMwYmZCUmJ5d3dHeXA0blUuMWlWV0NZVUUyRzE3NWh6NjJmNEJMRzo="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.updateBody) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "name": "Update Opportunity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        100
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput",
      "id": "31ea4422-aedf-4c33-938a-c94b353cb30e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/sync_runs",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_LEADS_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ entity: '25-sg-noshow', status: 'error', error_message: ($json.error?.message || $json.errorMessage || 'Failed to update opportunity').substring(0, 500), started_at: new Date().toISOString(), finished_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "name": "Log Opp Error to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        250
      ],
      "continueOnFail": true,
      "id": "536f1939-bf54-40d1-a4f0-fb7e20481da9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/sync_runs",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_LEADS_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ entity: '25-sg-noshow', status: 'error', error_message: ($json.error?.message || $json.errorMessage || 'Failed to get opportunity').substring(0, 500), started_at: new Date().toISOString(), finished_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "name": "Log Get Error to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        500
      ],
      "continueOnFail": true,
      "id": "a0e766cd-e218-44c2-88eb-f850bbcdad62"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Resolve Ergebnis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Ergebnis": {
      "main": [
        [
          {
            "node": "Get Active Opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Opportunity": {
      "main": [
        [
          {
            "node": "Prepare Opp Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Get Error to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Opp Update": {
      "main": [
        [
          {
            "node": "Update Opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Opportunity": {
      "main": [
        [],
        [
          {
            "node": "Log Opp Error to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "y5PB6EFfeKYeLxqp",
    "callerPolicy": "any",
    "availableInMCP": false
  },
  "active": true
}