n8n/workflows/close-crm-sync/27-kunde-gewonnen.json
{
  "name": "27 - Close CRM Sync - Kunde Gewonnen",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "trigger-27",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.close.com/api/v1/opportunity/?lead_id={{ $json.leadId }}&status_type=active&_limit=1&_order_by=-date_created",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YXBpXzJKd0JqaHMwYmZCUmJ5d3dHeXA0blUuMWlWV0NZVUUyRzE3NWh6NjJmNEJMRzo="
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "get-opp-27",
      "name": "Get Active Opportunity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $('Execute Workflow Trigger').first().json;\nconst oppResponse = $json;\nconst opportunities = oppResponse.data || [];\n\nif (opportunities.length === 0) {\n  return [];\n}\n\nreturn [{ json: { ...input, oppId: opportunities[0].id } }];"
      },
      "id": "extract-opp-27",
      "name": "Extract Opportunity",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        200
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.close.com/api/v1/opportunity/{{ $json.oppId }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YXBpXzJKd0JqaHMwYmZCUmJ5d3dHeXA0blUuMWlWV0NZVUUyRzE3NWh6NjJmNEJMRzo="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status_id: 'stat_whEM29RxVUWk9pucJMWhPtBrjjadPn4DzUsYxV06bCs', 'custom.cf_mL3iH9tiMxrcg3l4VP0DfdD0Lf2l39l6FAy0xujAgxm': new Date().toISOString().split('T')[0], 'custom.cf_cgWJXeUknNLKNBL4ym7GMVEzXYEcmIV5xnITqWVIL59': $('Execute Workflow Trigger').first().json.customFields['custom.cf_y77N9RdNSBKzJ2UsdT6dToILfysmqqDo92lRkyf6uLP'] || null, 'custom.cf_jiEZFHPh52olStJmzL2nirCl16ZQYkotID0btjPWIUp': $('Execute Workflow Trigger').first().json.customFields['custom.cf_68agTdhUHbuAoZMjk425YhEjIuy1puR8wRuypJnHdjM'] || null }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "put-opp-won-27",
      "name": "Set Opportunity Won",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        100
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $('Extract Opportunity').first().json;\nreturn [{ json: input }];"
      },
      "id": "passthrough-27",
      "name": "Pass Lead Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        100
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.close.com/api/v1/lead/{{ $json.leadId }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YXBpXzJKd0JqaHMwYmZCUmJ5d3dHeXA0blUuMWlWV0NZVUUyRzE3NWh6NjJmNEJMRzo="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status_id: 'stat_xVE9fp5WUCcKrnJRFVWzIZb1tlbNHYojeIJw1CMS7HI' }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "put-lead-27",
      "name": "Set Lead Kunde",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        100
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.close.com/api/v1/lead/{{ $('Extract Opportunity').first().json.leadId }}/?_fields=url,display_name",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YXBpXzJKd0JqaHMwYmZCUmJ5d3dHeXA0blUuMWlWV0NZVUUyRzE3NWh6NjJmNEJMRzo="
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "get-lead-27",
      "name": "Get Lead for Google URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        100
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "fromEmail": "bao.hoang@localweb.de",
        "toEmail": "bao.hoang@localweb.de",
        "subject": "=Neuer Kunde gewonnen - {{ $('Execute Workflow Trigger').first().json.customFields['custom.cf_3lPnpg4Krf7B81Ze5nOaQ3lmXXQqHVbeeXuv4lKlEa5'] || 'unbekannt' }}",
        "emailType": "html",
        "html": "=<p>Hallo :) Ich habe einen neuen Auftrag f&uuml;r euch &#127881;</p><hr><p><strong>Infos zu Auftrag:</strong> {{ $('Execute Workflow Trigger').first().json.customFields['custom.cf_7vIu7RlAfotGEpAdvxIX1L7qPGXO9UAbP9pY9hL7RBU'] || '' }}</p><p><strong>Closer:</strong> {{ $('Execute Workflow Trigger').first().json.customFields['custom.cf_NFxzYKxJwmiKsb98aMgCpTsjZRtvFaGppepIINl7ivO'] || '' }}</p><p><strong>Art des Auftrags:</strong> {{ $('Execute Workflow Trigger').first().json.customFields['custom.cf_Iu0vWFiRdYB3bQibQpIHGfHwV1S6uYUEelIoD2hgCyf'] || '' }}</p><p><strong>Google Maps:</strong> {{ $('Get Lead for Google URL').first().json.url ? '<a href=\"' + $('Get Lead for Google URL').first().json.url + '\">' + $('Get Lead for Google URL').first().json.url + '</a>' : 'nicht vorhanden' }}</p><h3>Kontaktdaten</h3><p>(Siehe Auftrag in Anlage)</p><table><tr><td><strong>Name:</strong></td><td>{{ $('Execute Workflow Trigger').first().json.customFields['custom.cf_3lPnpg4Krf7B81Ze5nOaQ3lmXXQqHVbeeXuv4lKlEa5'] || '' }}</td></tr><tr><td><strong>Telefon:</strong></td><td>{{ $('Execute Workflow Trigger').first().json.customFields['custom.cf_kfhRkvyBz85eNrpGgN34jeE6x3jBtQex5rP2B7BUvUy'] || '' }}</td></tr><tr><td><strong>Mail:</strong></td><td>{{ $('Execute Workflow Trigger').first().json.customFields['custom.cf_nbtPAUKD6rGldbEWoY06FErjrrNm7He1jd7IwksLdmv'] || '' }}</td></tr></table><h3>Vertragsdaten</h3><table><tr><td><strong>Start Datum:</strong></td><td>{{ $('Execute Workflow Trigger').first().json.customFields['custom.cf_Q3mQ10nUD9ByxZvBNVu77ybMG3tKHDnAkpZebUOH4CK'] || '' }}</td></tr><tr><td><strong>Netto-Umsatz/Monat:</strong></td><td>{{ $('Execute Workflow Trigger').first().json.customFields['custom.cf_y77N9RdNSBKzJ2UsdT6dToILfysmqqDo92lRkyf6uLP'] || '' }} &euro;</td></tr><tr><td><strong>Einrichtungsgeb&uuml;hr:</strong></td><td>{{ $('Execute Workflow Trigger').first().json.customFields['custom.cf_f1WCiujmk2aK9PuGU2KeJA3HY27VKuGJ5ytBIKydnl9'] || '' }} &euro;</td></tr><tr><td><strong>Ratenzahlung:</strong></td><td>{{ $('Execute Workflow Trigger').first().json.customFields['custom.cf_68agTdhUHbuAoZMjk425YhEjIuy1puR8wRuypJnHdjM'] || '' }}</td></tr><tr><td><strong>Mind. Vertragslaufzeit:</strong></td><td>{{ $('Execute Workflow Trigger').first().json.customFields['custom.cf_1nKi5zt6PwvtucYYaLAbp9CoqWlJ2oZInZD249iuGRb'] || '' }} Monate</td></tr></table><p><strong>Sondervertragsklauseln:</strong><br>{{ $('Execute Workflow Trigger').first().json.customFields['custom.cf_PcynTE5EuzPsCGhjyY8wpQyaEHhd7rMSzstUsUD0EBF'] || '' }}</p><p><strong>Leadkanal:</strong> {{ $('Execute Workflow Trigger').first().json.customFields['custom.cf_Mg5Ue1UfNqNX6eoYhAAxiZY8jAoRqrLfGYj6s0Mp8r8'] || '' }}</p><h3>Anmerkungen/Infos/Sonderkonditionen f&uuml;r Kundenbetreuer</h3><p>{{ $('Execute Workflow Trigger').first().json.customFields['custom.cf_xkkqb7fn30tjdpeYguda1HbzMYHXxpln4f2sOH00FzF'] || '' }}</p><hr><p>Bitte Onboarding Termin mit dem Kunden vereinbaren</p><p>Tausend Dank und viel Spa&szlig; bei der Betreuung!</p>",
        "options": {}
      },
      "id": "email-27",
      "name": "Send Email Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1680,
        100
      ],
      "credentials": {
        "smtp": {
          "id": "SMTP_CREDENTIAL_ID",
          "name": "Hetzner SMTP"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/sync_runs",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_LEADS_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ entity: '27-kunde-gewonnen', status: 'error', error_message: ($json.error?.message || $json.errorMessage || 'Failed to get opportunity').substring(0, 500), started_at: new Date().toISOString(), finished_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "error-log-27-get",
      "name": "Log Get Error to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        500
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/sync_runs",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_LEADS_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ entity: '27-kunde-gewonnen', status: 'error', error_message: ($json.error?.message || $json.errorMessage || 'Failed to set opportunity won').substring(0, 500), started_at: new Date().toISOString(), finished_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "error-log-27-opp",
      "name": "Log Opp Error to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/sync_runs",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_LEADS_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ entity: '27-kunde-gewonnen', status: 'error', error_message: ($json.error?.message || $json.errorMessage || 'Failed to set lead status Kunde').substring(0, 500), started_at: new Date().toISOString(), finished_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "error-log-27-lead",
      "name": "Log Lead Error to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        300
      ],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get Active Opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Opportunity": {
      "main": [
        [
          {
            "node": "Extract Opportunity",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Get Error to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Opportunity": {
      "main": [
        [
          {
            "node": "Set Opportunity Won",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Opportunity Won": {
      "main": [
        [
          {
            "node": "Pass Lead Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Opp Error to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Lead Data": {
      "main": [
        [
          {
            "node": "Set Lead Kunde",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Lead Kunde": {
      "main": [
        [
          {
            "node": "Get Lead for Google URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Lead Error to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lead for Google URL": {
      "main": [
        [
          {
            "node": "Send Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "OrTCUp8ufHjtmIcm"
  },
  "id": "9GG7yBEefplT3uwu"
}
