n8n/workflows/google-maps-pipeline/01b-check-running-scrapes.json
{
  "name": "01b - Google Maps Pipeline - Check Running Scrapes",
  "notes": "Polls locations with pipeline_stage 'scraping', checks Apify status, sets 'scraped' on success or 'failed_scrape' on failure. WF 02 picks up 'scraped' items independently.",
  "nodes": [
    {
      "id": "trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 288],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      }
    },
    {
      "id": "get-running",
      "name": "Get Running Locations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [224, 288],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_GOOGLE_URL }}/rest/v1/locations?pipeline_stage=eq.scraping&select=id,apify_run_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_GOOGLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_GOOGLE_KEY }}" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "check-empty",
      "name": "Has Running Runs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [448, 288],
      "parameters": {
        "conditions": {
          "options": { "version": 3, "leftValue": "", "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.apify_run_id || '' }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "loop",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [672, 208],
      "parameters": { "options": {} },
      "onError": "continueRegularOutput"
    },
    {
      "id": "check-apify",
      "name": "Check Apify Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [896, 208],
      "parameters": {
        "url": "=https://api.apify.com/v2/actor-runs/{{ $json.apify_run_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "credentials": {
        "httpBearerAuth": {
          "id": "H7EaKB5yYzqhBgZ8",
          "name": "Apify"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "switch-status",
      "name": "Run Status?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1120, 208],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
                "conditions": [
                  { "leftValue": "={{ $json.data.status }}", "rightValue": "SUCCEEDED", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
                "conditions": [
                  { "leftValue": "={{ $json.data.status }}", "rightValue": "RUNNING", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
                "conditions": [
                  { "leftValue": "={{ $json.data.status }}", "rightValue": "READY", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      }
    },
    {
      "id": "mark-scraped",
      "name": "Mark Location Scraped",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1344, 48],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_GOOGLE_URL }}/rest/v1/locations?id=eq.{{ $('Loop Over Items').first().json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_GOOGLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_GOOGLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pipeline_stage\": \"scraped\",\n  \"scrape_finished_at\": {{ JSON.stringify($now.toISO()) }}\n}",
        "options": {}
      }
    },
    {
      "id": "mark-failed",
      "name": "Mark Location Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1344, 368],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_GOOGLE_URL }}/rest/v1/locations?id=eq.{{ $('Loop Over Items').first().json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_GOOGLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_GOOGLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pipeline_stage\": \"failed_scrape\",\n  \"last_error\": {{ JSON.stringify('Apify status: ' + ($json.data?.status || 'unknown')) }},\n  \"retry_count\": {{ ($('Loop Over Items').first().json.retry_count || 0) + 1 }},\n  \"scrape_finished_at\": {{ JSON.stringify($now.toISO()) }}\n}",
        "options": {}
      }
    },
    {
      "id": "wait",
      "name": "Wait",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1568, 208],
      "parameters": {
        "jsCode": "await new Promise(r => setTimeout(r, 2000));\nreturn $input.all();"
      }
    },
    {
      "id": "trigger-wf02",
      "name": "Trigger WF 02",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1568, -80],
      "parameters": {
        "workflowId": { "value": "59tTad4B9Ryv2O67" },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": { "waitForSubWorkflow": false }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Get Running Locations", "type": "main", "index": 0 }]]
    },
    "Get Running Locations": {
      "main": [[{ "node": "Has Running Runs?", "type": "main", "index": 0 }]]
    },
    "Has Running Runs?": {
      "main": [
        [{ "node": "Loop Over Items", "type": "main", "index": 0 }],
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [{ "node": "Trigger WF 02", "type": "main", "index": 0 }],
        [{ "node": "Check Apify Status", "type": "main", "index": 0 }]
      ]
    },
    "Check Apify Status": {
      "main": [[{ "node": "Run Status?", "type": "main", "index": 0 }]]
    },
    "Run Status?": {
      "main": [
        [{ "node": "Mark Location Scraped", "type": "main", "index": 0 }],
        [{ "node": "Wait", "type": "main", "index": 0 }],
        [{ "node": "Wait", "type": "main", "index": 0 }],
        [{ "node": "Mark Location Failed", "type": "main", "index": 0 }]
      ]
    },
    "Mark Location Scraped": {
      "main": [[{ "node": "Wait", "type": "main", "index": 0 }]]
    },
    "Mark Location Failed": {
      "main": [[{ "node": "Wait", "type": "main", "index": 0 }]]
    },
    "Wait": {
      "main": [[{ "node": "Loop Over Items", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "75nGTzEeTlBQmlys",
    "executionTimeout": 600
  },
  "id": "ibjDXBkQER6ZT2up"
}
