n8n/workflows/google-maps-pipeline/02-import-apify-results.json
{
  "id": "59tTad4B9Ryv2O67",
  "name": "02 - Google Maps Pipeline - Import Apify Results",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 160]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_GOOGLE_URL }}/rest/v1/locations?pipeline_stage=eq.scraped&select=id,apify_run_id&limit=5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_GOOGLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_GOOGLE_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "get-scraped",
      "name": "Get Scraped Locations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [224, 80]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 3, "leftValue": "", "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-items",
              "leftValue": "={{ $json.apify_run_id || '' }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-items",
      "name": "Has Items?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [448, 80]
    },
    {
      "parameters": { "options": {} },
      "id": "loop-locations",
      "name": "Loop Locations",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [672, 0]
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/actor-runs/{{ $json.apify_run_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "id": "check-apify",
      "name": "Check Apify Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [896, 0],
      "credentials": {
        "httpBearerAuth": {
          "id": "H7EaKB5yYzqhBgZ8",
          "name": "Apify"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
                "conditions": [
                  { "leftValue": "={{ $json.data.status }}", "rightValue": "SUCCEEDED", "operator": { "type": "string", "operation": "equals" } }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "switch-status",
      "name": "Run Status?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1120, 0]
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{ $json.data.defaultDatasetId }}/items?limit=500",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "updateAParameterInEachRequest",
              "paginationCompleteWhen": "responseIsEmpty",
              "maxRequests": 20,
              "parameters": {
                "parameters": [
                  {
                    "name": "offset",
                    "value": "={{ $pageCount * 500 }}"
                  }
                ]
              }
            }
          }
        }
      },
      "id": "get-dataset",
      "name": "Get Dataset Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1344, -80],
      "credentials": {
        "httpBearerAuth": {
          "id": "H7EaKB5yYzqhBgZ8",
          "name": "Apify"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function normalizeWebsite(url) {\n  if (!url) return null;\n  const cleaned = String(url).trim();\n  if (!cleaned) return null;\n  const match = cleaned.match(/^(https?:\\/\\/[^\\/?#]+)/);\n  if (match) return match[1];\n  const withProtocol = 'https://' + cleaned;\n  const match2 = withProtocol.match(/^(https?:\\/\\/[^\\/?#]+)/);\n  return match2 ? match2[1] : null;\n}\n\nconst items = $input.all();\nconst filtered = items.filter(item => item.json.placeId && !item.json.permanentlyClosed);\n\nconst deduped = new Map();\nfor (const item of filtered) {\n  deduped.set(item.json.placeId, item);\n}\nconst unique = Array.from(deduped.values());\nconst totalCount = unique.length;\n\nreturn unique.map(item => {\n  const d = item.json;\n  return {\n    json: {\n      _totalCount: totalCount,\n      placeId: d.placeId,\n      title: d.title || null,\n      categoryName: d.categoryName || null,\n      address: d.address || null,\n      city: d.city || null,\n      postalCode: d.postalCode || null,\n      countryCode: d.countryCode || null,\n      phone: d.phone || null,\n      website: normalizeWebsite(d.website),\n      totalScore: d.totalScore || null,\n      reviewsCount: d.reviewsCount || null,\n      location: {\n        lat: d.location && d.location.lat ? d.location.lat : null,\n        lng: d.location && d.location.lng ? d.location.lng : null\n      },\n      permanentlyClosed: d.permanentlyClosed || false,\n      phoneUnformatted: d.phoneUnformatted || null,\n      fid: d.fid || null,\n      cid: d.cid || null,\n      searchString: d.searchString || null,\n      rank: d.rank || null\n    }\n  };\n});"
      },
      "id": "normalize-data",
      "name": "Normalize Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1568, -80]
    },
    {
      "parameters": {
        "batchSize": 1000,
        "options": {}
      },
      "id": "batch-items",
      "name": "Batch Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1792, -80]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst batch = items.map(item => {\n  const d = item.json;\n  return {\n    place_id: d.placeId,\n    name: d.title,\n    category: d.categoryName,\n    address: d.address,\n    city: d.city,\n    postal_code: d.postalCode,\n    country: d.countryCode,\n    phone: d.phone,\n    website: d.website,\n    rating: d.totalScore || null,\n    reviews_count: d.reviewsCount || null,\n    latitude: d.location && d.location.lat ? d.location.lat : null,\n    longitude: d.location && d.location.lng ? d.location.lng : null,\n    permanently_closed: d.permanentlyClosed || false,\n    phone_unformatted: d.phoneUnformatted || null,\n    fid: d.fid || null,\n    cid: d.cid || null,\n    search_string: d.searchString || null,\n    rank: d.rank || null,\n    pipeline_stage: 'new'\n  };\n});\n\nreturn [{ json: { batch } }];"
      },
      "id": "prepare-batch",
      "name": "Prepare Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1904, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_GOOGLE_URL }}/rest/v1/businesses?on_conflict=place_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_GOOGLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_GOOGLE_KEY }}" },
            { "name": "Prefer", "value": "return=representation,resolution=merge-duplicates" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.batch) }}",
        "options": {}
      },
      "id": "upsert-business",
      "name": "Upsert Business",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2128, 0],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {} }];"
      },
      "id": "reduce-to-one",
      "name": "Reduce to One",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2128, -160]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_GOOGLE_URL }}/rest/v1/locations?id=eq.{{ $('Loop Locations').first().json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_GOOGLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_GOOGLE_KEY }}" },
            { "name": "Prefer", "value": "return=representation" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pipeline_stage\": \"imported\",\n  \"scrape_finished_at\": {{ JSON.stringify($now.toISO()) }},\n  \"scrape_total_results\": {{ $('Normalize Data').first().json._totalCount || 0 }}\n}",
        "options": {}
      },
      "id": "mark-imported",
      "name": "Mark Location Imported",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2352, -160],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_GOOGLE_URL }}/rest/v1/locations?id=eq.{{ $('Loop Locations').first().json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_GOOGLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_GOOGLE_KEY }}" },
            { "name": "Prefer", "value": "return=representation" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pipeline_stage\": \"failed_scrape\",\n  \"last_error\": \"Import fehlgeschlagen: Apify Run nicht SUCCEEDED\",\n  \"retry_count\": {{ ($('Loop Locations').first().json.retry_count || 0) + 1 }}\n}",
        "options": {}
      },
      "id": "mark-failed",
      "name": "Mark Import Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1344, 160]
    },
    {
      "id": "trigger-wf03",
      "name": "Trigger WF 03",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [900, -200],
      "parameters": {
        "workflowId": { "value": "ovaC9LDlCyKoCUQf" },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": { "waitForSubWorkflow": false }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Get Scraped Locations", "type": "main", "index": 0 }]]
    },
    "Manual Trigger": {
      "main": [[{ "node": "Get Scraped Locations", "type": "main", "index": 0 }]]
    },
    "Get Scraped Locations": {
      "main": [[{ "node": "Has Items?", "type": "main", "index": 0 }]]
    },
    "Has Items?": {
      "main": [
        [{ "node": "Loop Locations", "type": "main", "index": 0 }],
        []
      ]
    },
    "Loop Locations": {
      "main": [
        [{ "node": "Trigger WF 03", "type": "main", "index": 0 }],
        [{ "node": "Check Apify Status", "type": "main", "index": 0 }]
      ]
    },
    "Check Apify Status": {
      "main": [[{ "node": "Run Status?", "type": "main", "index": 0 }]]
    },
    "Run Status?": {
      "main": [
        [{ "node": "Get Dataset Items", "type": "main", "index": 0 }],
        [{ "node": "Mark Import Failed", "type": "main", "index": 0 }]
      ]
    },
    "Get Dataset Items": {
      "main": [[{ "node": "Normalize Data", "type": "main", "index": 0 }]]
    },
    "Normalize Data": {
      "main": [[{ "node": "Batch Items", "type": "main", "index": 0 }]]
    },
    "Batch Items": {
      "main": [
        [{ "node": "Reduce to One", "type": "main", "index": 0 }],
        [{ "node": "Prepare Batch", "type": "main", "index": 0 }]
      ]
    },
    "Reduce to One": {
      "main": [[{ "node": "Mark Location Imported", "type": "main", "index": 0 }]]
    },
    "Prepare Batch": {
      "main": [[{ "node": "Upsert Business", "type": "main", "index": 0 }]]
    },
    "Upsert Business": {
      "main": [[{ "node": "Batch Items", "type": "main", "index": 0 }]]
    },
    "Mark Location Imported": {
      "main": [[{ "node": "Loop Locations", "type": "main", "index": 0 }]]
    },
    "Mark Import Failed": {
      "main": [[{ "node": "Loop Locations", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "75nGTzEeTlBQmlys",
    "executionTimeout": 600
  }
}
