documents/n8n/projects/close-supabase-sync/workflows/01-sync-users.json
{
  "id": "XuPdrCJXWzWb5LOZ",
  "name": "01-sync-users",
  "nodes": [
    {
      "id": "trigger-01",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 300],
      "parameters": {
        "inputSource": "passthrough"
      }
    },
    {
      "id": "sync-start-01",
      "name": "Sync Start",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/sync_runs",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_LEADS_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"entity\": \"users\", \"status\": \"running\", \"started_at\": \"{{ $now.toISO() }}\", \"sync_since\": \"{{ $json.since }}\", \"sync_until\": \"{{ $json.until }}\"}",
        "options": {}
      }
    },
    {
      "id": "get-users-01",
      "name": "GET Close Users",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "url": "https://api.close.com/api/v1/user/",
        "authentication": "none",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "_limit", "value": "1000" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YXBpXzJKd0JqaHMwYmZCUmJ5d3dHeXA0blUuMWlWV0NZVUUyRzE3NWh6NjJmNEJMRzo="
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "transform-01",
      "name": "Transform Users",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300],
      "parameters": {
        "jsCode": "const users = $input.first().json.data || [];\n\nreturn users.map(user => ({\n  json: {\n    close_user_id: user.id,\n    email: user.email || '',\n    first_name: user.first_name || null,\n    last_name: user.last_name || null,\n    synced_at: new Date().toISOString()\n  }\n}));"
      }
    },
    {
      "id": "aggregate-01",
      "name": "Aggregate Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300],
      "parameters": {
        "jsCode": "const allUsers = $input.all().map(i => i.json);\nreturn [{ json: { batch: allUsers, count: allUsers.length } }];"
      }
    },
    {
      "id": "upsert-users-01",
      "name": "Upsert Users",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/users?on_conflict=close_user_id",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_LEADS_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.batch) }}",
        "options": {}
      }
    },
    {
      "id": "count-01",
      "name": "Count Records",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 300],
      "parameters": {
        "jsCode": "const count = $input.first().json.length || $input.all().length;\nconst syncRunId = $('Sync Start').first().json.id;\n\nreturn [{ json: { count, syncRunId } }];"
      }
    },
    {
      "id": "sync-success-01",
      "name": "Sync Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 300],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/sync_runs?id=eq.{{ $json.syncRunId }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_LEADS_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"status\": \"success\", \"records_synced\": {{ $json.count }}, \"finished_at\": \"{{ $now.toISO() }}\"}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [[{ "node": "Sync Start", "type": "main", "index": 0 }]]
    },
    "Sync Start": {
      "main": [[{ "node": "GET Close Users", "type": "main", "index": 0 }]]
    },
    "GET Close Users": {
      "main": [[{ "node": "Transform Users", "type": "main", "index": 0 }]]
    },
    "Transform Users": {
      "main": [[{ "node": "Aggregate Batch", "type": "main", "index": 0 }]]
    },
    "Aggregate Batch": {
      "main": [[{ "node": "Upsert Users", "type": "main", "index": 0 }]]
    },
    "Upsert Users": {
      "main": [[{ "node": "Count Records", "type": "main", "index": 0 }]]
    },
    "Count Records": {
      "main": [[{ "node": "Sync Success", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "OrTCUp8ufHjtmIcm"
  }
}
