documents/n8n/projects/close-supabase-sync/workflows/03-get-custom-activities.json
{
  "id": "NAo1zIkjNwYMbHmv",
  "name": "03-get-custom-activities",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "id": "11f45c78-00bc-49c2-83b1-a6732a8d55d7",
      "name": "Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [-1264, 1936]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "chat-trigger-activities",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [-1264, 2192],
      "webhookId": "activities-test"
    },
    {
      "parameters": {
        "jsCode": "// Parse chat input for test\nconst chatInput = $input.first()?.json?.chatInput || '';\nlet params = {};\n\ntry {\n  params = JSON.parse(chatInput);\n} catch (e) {\n  // Use defaults\n}\n\nreturn [{ json: params }];"
      },
      "id": "parse-chat-activities",
      "name": "Parse Chat Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1040, 2192]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json || {};\n\nif (input.date_gt && input.date_lt) {\n  return [{\n    json: {\n      date_gt: input.date_gt,\n      date_lt: input.date_lt,\n      date_record_id: input.date_record_id || '',\n      test_mode: input.test_mode || false,\n      limit: input.limit || 0\n    }\n  }];\n}\n\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\nconst tomorrow = new Date(today);\ntomorrow.setDate(tomorrow.getDate() + 1);\n\nreturn [{\n  json: {\n    date_gt: today.toISOString(),\n    date_lt: tomorrow.toISOString(),\n    date_record_id: '',\n    test_mode: true,\n    limit: 0\n  }\n}];"
      },
      "id": "8070f030-9f40-4394-95b2-e279621b4562",
      "name": "Init Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-848, 1936]
    },
    {
      "parameters": {
        "url": "https://api.close.com/api/v1/activity/custom/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "date_created__gt", "value": "={{ $json.date_gt }}" },
            { "name": "date_created__lt", "value": "={{ $json.cursor }}" },
            { "name": "_limit", "value": "100" },
            { "name": "_order_by", "value": "date_created" }
          ]
        },
        "options": { "response": { "response": { "fullResponse": true } }, "timeout": 30000 }
      },
      "id": "f522733b-a42c-48ea-b0e4-6fcc0c1afdac",
      "name": "Get Activities",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-368, 1936],
      "credentials": { "httpBasicAuth": { "id": "c1zqLlNCaOTBnrvH", "name": "Close.io" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/custom_activities?on_conflict=close_id",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_LEADS_KEY }}" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "6eaa404b-fdc9-4b54-bad3-5ef499e8e346",
      "name": "Upsert Activities",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2768, 1648],
      "credentials": {
        "httpHeaderAuth": { "id": "SUPABASE_HTTP_CREDENTIAL_ID", "name": "Supabase API" }
      }
    }
  ],
  "connections": {
    "Workflow Trigger": {
      "main": [[{ "node": "Init Params", "type": "main", "index": 0 }]]
    },
    "Chat Trigger": {
      "main": [[{ "node": "Parse Chat Input", "type": "main", "index": 0 }]]
    },
    "Parse Chat Input": {
      "main": [[{ "node": "Init Params", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "OrTCUp8ufHjtmIcm",
    "callerPolicy": "workflowsFromSameOwner"
  }
}
