documents/n8n/projects/close-supabase-sync/workflows/05-sync-calls.json
{
  "id": "yTKEleR62nPoSjDU",
  "name": "05-sync-calls",
  "nodes": [
    {
      "id": "trigger-05",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 300],
      "parameters": { "inputSource": "passthrough" }
    },
    {
      "id": "sync-start-05",
      "name": "Sync Start",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/sync_runs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_LEADS_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"entity\": \"calls\", \"status\": \"running\", \"started_at\": \"{{ $now.toISO() }}\", \"sync_since\": \"{{ $json.since }}\", \"sync_until\": \"{{ $json.until }}\"}",
        "options": {}
      }
    },
    {
      "id": "get-users-05",
      "name": "GET Users Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300],
      "parameters": {
        "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/users?select=id,close_user_id&limit=10000",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_LEADS_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "build-lookups-05",
      "name": "Build Lookups",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300],
      "parameters": {
        "jsCode": "const usersRaw = $('GET Users Lookup').all().map(i => i.json);\nconst users = usersRaw.length === 1 && Array.isArray(usersRaw[0]) ? usersRaw[0] : usersRaw;\n\nconst userMap = {};\nusers.forEach(u => { if (u.close_user_id) userMap[u.close_user_id] = u.id; });\n\nconst triggerData = $('Start').first().json;\nconst since = triggerData.since || new Date().toISOString();\nconst until = triggerData.until || new Date().toISOString();\nconst currentDate = since.split('T')[0];\nconst endDate = until.split('T')[0];\n\nreturn [{ json: { userMap, cursor: '', totalSynced: 0, currentDate, endDate, pageCount: 0 } }];"
      }
    },
    {
      "id": "build-body-05",
      "name": "Build Search Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst queries = [\n  { type: 'object_type', object_type: 'activity.call' },\n  {\n    type: 'field_condition',\n    field: { type: 'regular_field', object_type: 'activity.call', field_name: 'date_created' },\n    condition: {\n      type: 'moment_range',\n      on_or_after: { type: 'fixed_local_date', value: data.currentDate, which: 'start' },\n      before: { type: 'fixed_local_date', value: data.currentDate, which: 'end' }\n    }\n  }\n];\n\nconst body = {\n  query: { type: 'and', queries },\n  sort: [{ direction: 'asc', field: { object_type: 'activity.call', type: 'regular_field', field_name: 'date_created' } }],\n  _fields: { 'activity.call': ['id', 'lead_id', 'user_id', 'date_created', 'date_updated', 'duration', 'direction', 'disposition', 'phone', 'note', 'recording_url'] },\n  _limit: 200\n};\nif (data.cursor) body.cursor = data.cursor;\nreturn [{ json: { requestBody: JSON.stringify(body) } }];"
      }
    },
    {
      "id": "fetch-calls-05",
      "name": "Search Close Calls",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "method": "POST",
        "url": "https://api.close.com/api/v1/data/search/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YXBpXzJKd0JqaHMwYmZCUmJ5d3dHeXA0blUuMWlWV0NZVUUyRzE3NWh6NjJmNEJMRzo="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {}
      }
    },
    {
      "id": "transform-05",
      "name": "Transform Calls",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 300],
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst calls = response.data || [];\nconst { userMap } = $('Build Lookups').first().json;\n\nif (calls.length === 0) return [{ json: { _empty: true } }];\n\nreturn calls.map(call => ({\n  json: {\n    close_call_id: call.id,\n    user_id: userMap[call.user_id] || null,\n    close_lead_id: call.lead_id || null,\n    direction: call.direction || null,\n    disposition: call.disposition || null,\n    duration: call.duration != null ? call.duration : null,\n    phone_number: call.phone || null,\n    note: call.note || null,\n    recording_url: call.recording_url || null,\n    close_created_at: call.date_created || null,\n    synced_at: new Date().toISOString()\n  }\n}));"
      }
    },
    {
      "id": "aggregate-05",
      "name": "Aggregate Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 300],
      "parameters": {
        "jsCode": "const all = $input.all().map(i => i.json).filter(i => !i._empty);\nconst nullUserIds = all.filter(r => r.user_id === null).length;\nreturn [{ json: { batch: all, count: all.length, nullUserIds } }];"
      }
    },
    {
      "id": "upsert-05",
      "name": "Upsert Calls",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/calls?on_conflict=close_call_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_LEADS_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}" },
            { "name": "Prefer", "value": "resolution=merge-duplicates" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.batch) }}",
        "options": {}
      }
    },
    {
      "id": "check-more-05",
      "name": "Check More Pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 300],
      "parameters": {
        "jsCode": "const response = $('Search Close Calls').first().json;\nconst items = response.data || [];\nconst cursor = response.cursor || null;\n\nconst prev = $('Check More Pages').isExecuted\n  ? $('Check More Pages').last().json\n  : $('Build Lookups').first().json;\n\nconst batchCount = $('Aggregate Batch').first().json.count;\nconst cursorValid = cursor !== null && cursor !== undefined && cursor !== '';\n\n// Noch mehr Daten für DIESEN Tag?\nif (cursorValid && items.length > 0) {\n  return [{ json: {\n    currentDate: prev.currentDate,\n    endDate: prev.endDate,\n    cursor: cursor,\n    totalSynced: prev.totalSynced + batchCount,\n    pageCount: (prev.pageCount || 0) + 1,\n    hasMore: true\n  } }];\n}\n\n// Tag fertig → nächster Tag\nconst next = new Date(prev.currentDate + 'T00:00:00Z');\nnext.setUTCDate(next.getUTCDate() + 1);\nconst nextDate = next.toISOString().split('T')[0];\nconst hasMore = nextDate <= prev.endDate;\n\nreturn [{ json: {\n  currentDate: nextDate,\n  endDate: prev.endDate,\n  cursor: '',\n  totalSynced: prev.totalSynced + batchCount,\n  pageCount: 0,\n  hasMore\n} }];"
      }
    },
    {
      "id": "if-more-05",
      "name": "Has More?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2420, 376],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "combinator": "and",
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.hasMore }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "count-05",
      "name": "Count Records",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, 376],
      "parameters": {
        "jsCode": "const check = $('Check More Pages').last().json;\nconst totalSynced = check.totalSynced;\nconst syncRunId = $('Sync Start').first().json.id;\nconst nullUsers = check.totalNullUserIds || 0;\nlet warning = '';\nif (nullUsers > 0) {\n  warning = 'FK Warning: ' + nullUsers + '/' + totalSynced + ' null user_ids';\n}\nreturn [{ json: { count: totalSynced, syncRunId, warning } }];"
      }
    },
    {
      "id": "sync-success-05",
      "name": "Sync Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2860, 376],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/sync_runs?id=eq.{{ $json.syncRunId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_LEADS_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"status\": \"success\", \"records_synced\": {{ $json.count }}, \"error_message\": \"{{ $json.warning }}\", \"finished_at\": \"{{ $now.toISO() }}\"}",
        "options": {}
      }
    },
    {
      "id": "wait-pagination-05",
      "name": "Wait 500ms",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, 200],
      "parameters": {
        "jsCode": "await new Promise(resolve => setTimeout(resolve, 500));\nreturn $input.all();"
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [[{ "node": "Sync Start", "type": "main", "index": 0 }]]
    },
    "Sync Start": {
      "main": [[{ "node": "GET Users Lookup", "type": "main", "index": 0 }]]
    },
    "GET Users Lookup": {
      "main": [[{ "node": "Build Lookups", "type": "main", "index": 0 }]]
    },
    "Build Lookups": {
      "main": [[{ "node": "Build Search Body", "type": "main", "index": 0 }]]
    },
    "Build Search Body": {
      "main": [[{ "node": "Search Close Calls", "type": "main", "index": 0 }]]
    },
    "Search Close Calls": {
      "main": [[{ "node": "Transform Calls", "type": "main", "index": 0 }]]
    },
    "Transform Calls": {
      "main": [[{ "node": "Aggregate Batch", "type": "main", "index": 0 }]]
    },
    "Aggregate Batch": {
      "main": [[{ "node": "Upsert Calls", "type": "main", "index": 0 }]]
    },
    "Upsert Calls": {
      "main": [[{ "node": "Check More Pages", "type": "main", "index": 0 }]]
    },
    "Check More Pages": {
      "main": [[{ "node": "Has More?", "type": "main", "index": 0 }]]
    },
    "Has More?": {
      "main": [
        [{ "node": "Wait 500ms", "type": "main", "index": 0 }],
        [{ "node": "Count Records", "type": "main", "index": 0 }]
      ]
    },
    "Wait 500ms": {
      "main": [[{ "node": "Build Search Body", "type": "main", "index": 0 }]]
    },
    "Count Records": {
      "main": [[{ "node": "Sync Success", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "OrTCUp8ufHjtmIcm"
  }
}
