documents/n8n/projects/close-supabase-sync/workflows/06-sync-meetings.json
{
  "id": "IlARmuyC2IJ1ciLd",
  "name": "06-sync-meetings",
  "nodes": [
    {
      "id": "trigger-06",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 300],
      "parameters": { "inputSource": "passthrough" }
    },
    {
      "id": "sync-start-06",
      "name": "Sync Start",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/sync_runs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_LEADS_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"entity\": \"meetings\", \"status\": \"running\", \"started_at\": \"{{ $now.toISO() }}\", \"sync_since\": \"{{ $json.since }}\", \"sync_until\": \"{{ $json.until }}\"}",
        "options": {}
      }
    },
    {
      "id": "fetch-users-06",
      "name": "Fetch Users",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300],
      "parameters": {
        "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/users?select=id,close_user_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_LEADS_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "build-user-map-06",
      "name": "Build User Map",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300],
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\nconst users = items.length === 1 && Array.isArray(items[0]) ? items[0] : items;\nconst userMap = {};\nfor (const u of users) {\n  if (u && u.close_user_id) userMap[u.close_user_id] = u.id;\n}\nreturn [{ json: { userMap } }];"
      }
    },
    {
      "id": "init-06",
      "name": "Init Pagination",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300],
      "parameters": {
        "jsCode": "const triggerData = $('Start').first().json;\nconst since = triggerData.since || new Date().toISOString();\nconst until = triggerData.until || new Date().toISOString();\nconst currentDate = since.split('T')[0];\nconst endDate = until.split('T')[0];\nreturn [{ json: { cursor: '', totalSynced: 0, currentDate, endDate, pageCount: 0 } }];"
      }
    },
    {
      "id": "build-body-06",
      "name": "Build Search Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst queries = [\n  { type: 'object_type', object_type: 'activity.meeting' },\n  {\n    type: 'field_condition',\n    field: { type: 'regular_field', object_type: 'activity.meeting', field_name: 'date_updated' },\n    condition: {\n      type: 'moment_range',\n      on_or_after: { type: 'fixed_local_date', value: data.currentDate, which: 'start' },\n      before: { type: 'fixed_local_date', value: data.currentDate, which: 'end' }\n    }\n  }\n];\n\nconst body = {\n  query: { type: 'and', queries },\n  sort: [{ direction: 'asc', field: { object_type: 'activity.meeting', type: 'regular_field', field_name: 'date_updated' } }],\n  _fields: { 'activity.meeting': ['id', 'lead_id', 'user_id', 'date_created', 'date_updated', 'starts_at', 'ends_at', 'duration', 'title', 'note'] },\n  _limit: 200\n};\nif (data.cursor) body.cursor = data.cursor;\nreturn [{ json: { requestBody: JSON.stringify(body) } }];"
      }
    },
    {
      "id": "fetch-meetings-06",
      "name": "Search Close Meetings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "parameters": {
        "method": "POST",
        "url": "https://api.close.com/api/v1/data/search/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YXBpXzJKd0JqaHMwYmZCUmJ5d3dHeXA0blUuMWlWV0NZVUUyRzE3NWh6NjJmNEJMRzo="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {}
      }
    },
    {
      "id": "transform-06",
      "name": "Transform Meetings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 300],
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst meetings = response.data || [];\nconst userMap = $('Build User Map').first().json.userMap;\n\nif (meetings.length === 0) {\n  return [{ json: { _empty: true } }];\n}\n\nreturn meetings.map(m => ({\n  json: {\n    close_meeting_id: m.id,\n    user_id: userMap[m.user_id] || null,\n    close_lead_id: m.lead_id || null,\n    title: m.title || null,\n    duration: m.duration != null ? m.duration : null,\n    note: m.note || null,\n    starts_at: m.starts_at || null,\n    ends_at: m.ends_at || null,\n    close_created_at: m.date_created || null,\n    synced_at: new Date().toISOString()\n  }\n}));"
      }
    },
    {
      "id": "agg-06",
      "name": "Aggregate Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 300],
      "parameters": {
        "jsCode": "const all = $input.all().map(i => i.json).filter(i => !i._empty);\nconst nullUserIds = all.filter(r => r.user_id === null).length;\nreturn [{ json: { batch: all, count: all.length, nullUserIds } }];"
      }
    },
    {
      "id": "upsert-06",
      "name": "Upsert Meetings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2420, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/meetings?on_conflict=close_meeting_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_LEADS_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.batch) }}",
        "options": {}
      }
    },
    {
      "id": "check-more-06",
      "name": "Check More Pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, 300],
      "parameters": {
        "jsCode": "const response = $('Search Close Meetings').first().json;\nconst items = response.data || [];\nconst cursor = response.cursor || null;\n\nconst prev = $('Check More Pages').isExecuted\n  ? $('Check More Pages').first().json\n  : $('Init Pagination').first().json;\n\nconst batchCount = $('Aggregate Batch').first().json.count;\nconst cursorValid = cursor !== null && cursor !== undefined && cursor !== '';\n\nif (cursorValid && items.length > 0) {\n  return [{ json: {\n    currentDate: prev.currentDate,\n    endDate: prev.endDate,\n    cursor: cursor,\n    totalSynced: prev.totalSynced + batchCount,\n    pageCount: (prev.pageCount || 0) + 1,\n    hasMore: true\n  } }];\n}\n\nconst next = new Date(prev.currentDate + 'T00:00:00Z');\nnext.setUTCDate(next.getUTCDate() + 1);\nconst nextDate = next.toISOString().split('T')[0];\nconst hasMore = nextDate <= prev.endDate;\n\nreturn [{ json: {\n  currentDate: nextDate,\n  endDate: prev.endDate,\n  cursor: '',\n  totalSynced: prev.totalSynced + batchCount,\n  pageCount: 0,\n  hasMore\n} }];"
      }
    },
    {
      "id": "if-more-06",
      "name": "Has More?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2860, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "combinator": "and",
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.hasMore }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ]
        }
      }
    },
    {
      "id": "count-06",
      "name": "Count Records",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3080, 520],
      "parameters": {
        "jsCode": "const check = $('Check More Pages').last().json;\nconst totalSynced = check.totalSynced;\nconst syncRunId = $('Sync Start').first().json.id;\nconst nullUsers = check.totalNullUserIds || 0;\nlet warning = '';\nif (nullUsers > 0) {\n  warning = 'FK Warning: ' + nullUsers + '/' + totalSynced + ' null user_ids';\n}\nreturn [{ json: { count: totalSynced, syncRunId, warning } }];"
      }
    },
    {
      "id": "sync-success-06",
      "name": "Sync Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3300, 520],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/sync_runs?id=eq.{{ $json.syncRunId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_LEADS_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"status\": \"success\", \"records_synced\": {{ $json.count }}, \"error_message\": \"{{ $json.warning }}\", \"finished_at\": \"{{ $now.toISO() }}\"}",
        "options": {}
      }
    },
    {
      "id": "wait-pagination-06",
      "name": "Wait 500ms",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3080, 200],
      "parameters": {
        "jsCode": "await new Promise(resolve => setTimeout(resolve, 500));\nreturn $input.all();"
      }
    }
  ],
  "connections": {
    "Start": { "main": [[{ "node": "Sync Start", "type": "main", "index": 0 }]] },
    "Sync Start": { "main": [[{ "node": "Fetch Users", "type": "main", "index": 0 }]] },
    "Fetch Users": { "main": [[{ "node": "Build User Map", "type": "main", "index": 0 }]] },
    "Build User Map": { "main": [[{ "node": "Init Pagination", "type": "main", "index": 0 }]] },
    "Init Pagination": { "main": [[{ "node": "Build Search Body", "type": "main", "index": 0 }]] },
    "Build Search Body": { "main": [[{ "node": "Search Close Meetings", "type": "main", "index": 0 }]] },
    "Search Close Meetings": { "main": [[{ "node": "Transform Meetings", "type": "main", "index": 0 }]] },
    "Transform Meetings": { "main": [[{ "node": "Aggregate Batch", "type": "main", "index": 0 }]] },
    "Aggregate Batch": { "main": [[{ "node": "Upsert Meetings", "type": "main", "index": 0 }]] },
    "Upsert Meetings": { "main": [[{ "node": "Check More Pages", "type": "main", "index": 0 }]] },
    "Check More Pages": { "main": [[{ "node": "Has More?", "type": "main", "index": 0 }]] },
    "Has More?": {
      "main": [
        [{ "node": "Wait 500ms", "type": "main", "index": 0 }],
        [{ "node": "Count Records", "type": "main", "index": 0 }]
      ]
    },
    "Wait 500ms": { "main": [[{ "node": "Build Search Body", "type": "main", "index": 0 }]] },
    "Count Records": { "main": [[{ "node": "Sync Success", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "OrTCUp8ufHjtmIcm"
  }
}
