documents/n8n/projects/close-supabase-sync/workflows/07-sync-custom-activities.json
{
  "id": "6hVvL0XTQr4kMEQX",
  "name": "07-sync-custom-activities",
  "nodes": [
    { "id": "trigger-07", "name": "Start", "type": "n8n-nodes-base.executeWorkflowTrigger", "typeVersion": 1.1, "position": [0, 300], "parameters": { "inputSource": "passthrough" } },
    { "id": "sync-start-07", "name": "Sync Start", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [220, 300], "parameters": { "method": "POST", "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/sync_runs", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{ $env.SUPABASE_LEADS_KEY }}" }, { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}" }, { "name": "Prefer", "value": "return=representation" }] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={\"entity\": \"custom_activities\", \"status\": \"running\", \"started_at\": \"{{ $now.toISO() }}\", \"sync_since\": \"{{ $json.since }}\", \"sync_until\": \"{{ $json.until }}\"}", "options": {} } },
    { "id": "fetch-users-07", "name": "Fetch Users", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [440, 300], "parameters": { "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/users?select=id,close_user_id", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{ $env.SUPABASE_LEADS_KEY }}" }, { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}" }] }, "options": {} } },
    { "id": "build-user-map-07", "name": "Build User Map", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [660, 300], "parameters": { "jsCode": "const items = $input.all().map(i => i.json);\nconst users = items.length === 1 && Array.isArray(items[0]) ? items[0] : items;\nconst userMap = {};\nfor (const u of users) {\n  if (u && u.close_user_id) userMap[u.close_user_id] = u.id;\n}\nreturn [{ json: { userMap } }];" } },
    { "id": "fetch-types-07", "name": "Fetch Activity Types", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [880, 300], "parameters": { "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/custom_activity_types?select=id,close_type_id", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{ $env.SUPABASE_LEADS_KEY }}" }, { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}" }] }, "options": {} } },
    { "id": "build-lookups-07", "name": "Build Lookups", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1100, 300], "parameters": { "jsCode": "const userMap = $('Build User Map').first().json.userMap;\nconst typeItems = $input.all().map(i => i.json);\nconst types = typeItems.length === 1 && Array.isArray(typeItems[0]) ? typeItems[0] : typeItems;\nconst typeMap = {};\nfor (const t of types) {\n  if (t && t.close_type_id) typeMap[t.close_type_id] = t.id;\n}\nreturn [{ json: { userMap, typeMap } }];" } },
    { "id": "init-07", "name": "Init Pagination", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1320, 300], "parameters": { "jsCode": "const triggerData = $('Start').first().json;\nconst since = triggerData.since || new Date().toISOString();\nconst until = triggerData.until || new Date().toISOString();\nconst currentDate = since.split('T')[0];\nconst endDate = until.split('T')[0];\nreturn [{ json: { cursor: '', totalSynced: 0, currentDate, endDate, pageCount: 0 } }];" } },
    { "id": "build-body-07", "name": "Build Search Body", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1540, 300], "parameters": { "jsCode": "const data = $input.first().json;\nconst queries = [\n  { type: 'object_type', object_type: 'activity.custom_activity' },\n  {\n    type: 'field_condition',\n    field: { type: 'regular_field', object_type: 'activity.custom_activity', field_name: 'date_updated' },\n    condition: {\n      type: 'moment_range',\n      on_or_after: { type: 'fixed_local_date', value: data.currentDate, which: 'start' },\n      before: { type: 'fixed_local_date', value: data.currentDate, which: 'end' }\n    }\n  }\n];\n\nconst body = {\n  query: { type: 'and', queries },\n  sort: [{ direction: 'asc', field: { object_type: 'activity.custom_activity', type: 'regular_field', field_name: 'date_updated' } }],\n  _fields: { 'activity.custom_activity': ['id', 'lead_id', 'user_id', 'created_by', 'custom_activity_type_id', 'date_created', 'date_updated', 'custom'] },\n  _limit: 200\n};\nif (data.cursor) body.cursor = data.cursor;\nreturn [{ json: { requestBody: JSON.stringify(body) } }];" } },
    { "id": "fetch-activities-07", "name": "Search Close Activities", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1760, 300], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 5000, "parameters": { "method": "POST", "url": "https://api.close.com/api/v1/data/search/", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "Authorization", "value": "Basic YXBpXzJKd0JqaHMwYmZCUmJ5d3dHeXA0blUuMWlWV0NZVUUyRzE3NWh6NjJmNEJMRzo=" }, { "name": "Content-Type", "value": "application/json" }] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ $json.requestBody }}", "options": {} } },
    { "id": "transform-07", "name": "Transform Activities", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1980, 300], "parameters": { "jsCode": "const response = $input.first().json;\nconst activities = response.data || [];\nconst lookups = $('Build Lookups').first().json;\n\nif (activities.length === 0) {\n  return [{ json: { _empty: true } }];\n}\n\nconst stdFields = new Set(['id','lead_id','user_id','created_by','custom_activity_type_id','date_created','date_updated','organization_id','_type','lead_name','user_name','created_by_name','__object_type']);\n\nreturn activities.map(act => {\n  const cf = {};\n  for (const [k, v] of Object.entries(act)) {\n    if (!stdFields.has(k)) cf[k] = v;\n  }\n  return {\n    json: {\n      close_activity_id: act.id,\n      type_id: lookups.typeMap[act.custom_activity_type_id] || null,\n      user_id: lookups.userMap[act.user_id] || null,\n      close_lead_id: act.lead_id || null,\n      custom_fields: Object.keys(cf).length > 0 ? cf : null,\n      close_created_at: act.date_created || null,\n      synced_at: new Date().toISOString()\n    }\n  };\n});" } },
    { "id": "agg-07", "name": "Aggregate Batch", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2200, 300], "parameters": { "jsCode": "const all = $input.all().map(i => i.json).filter(i => !i._empty);\nconst nullUserIds = all.filter(r => r.user_id === null).length;\nconst nullTypeIds = all.filter(r => r.type_id === null).length;\nreturn [{ json: { batch: all, count: all.length, nullUserIds, nullTypeIds } }];" } },
    { "id": "upsert-07", "name": "Upsert Activities", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2860, 300], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 3000, "parameters": { "method": "POST", "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/custom_activities?on_conflict=close_activity_id", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{ $env.SUPABASE_LEADS_KEY }}" }, { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}" }, { "name": "Content-Type", "value": "application/json" }, { "name": "Prefer", "value": "resolution=merge-duplicates" }] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify($json.batch) }}", "options": {} } },
    { "id": "check-more-07", "name": "Check More Pages", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2640, 300], "parameters": { "jsCode": "const response = $('Search Close Activities').first().json;\nconst items = response.data || [];\nconst cursor = response.cursor || null;\n\nconst prev = $('Check More Pages').isExecuted\n  ? $('Check More Pages').first().json\n  : $('Init Pagination').first().json;\n\nconst batchCount = $('Aggregate Batch').first().json.count;\nconst cursorValid = cursor !== null && cursor !== undefined && cursor !== '';\n\nif (cursorValid && items.length > 0) {\n  return [{ json: {\n    currentDate: prev.currentDate,\n    endDate: prev.endDate,\n    cursor: cursor,\n    totalSynced: prev.totalSynced + batchCount,\n    pageCount: (prev.pageCount || 0) + 1,\n    hasMore: true\n  } }];\n}\n\nconst next = new Date(prev.currentDate + 'T00:00:00Z');\nnext.setUTCDate(next.getUTCDate() + 1);\nconst nextDate = next.toISOString().split('T')[0];\nconst hasMore = nextDate <= prev.endDate;\n\nreturn [{ json: {\n  currentDate: nextDate,\n  endDate: prev.endDate,\n  cursor: '',\n  totalSynced: prev.totalSynced + batchCount,\n  pageCount: 0,\n  hasMore\n} }];" } },
    { "id": "if-more-07", "name": "Has More?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [3300, 300], "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" }, "combinator": "and", "conditions": [{ "id": "1", "leftValue": "={{ $json.hasMore }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" } }] } } },
    { "id": "count-07", "name": "Count Records", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3080, 520], "parameters": { "jsCode": "const check = $('Check More Pages').last().json;\nconst totalSynced = check.totalSynced;\nconst syncRunId = $('Sync Start').first().json.id;\nconst nullUsers = check.totalNullUserIds || 0;\nconst nullTypes = check.totalNullTypeIds || 0;\nlet warning = '';\nif (nullUsers > 0 || nullTypes > 0) {\n  warning = 'FK Warning: ' + nullUsers + ' null user_ids, ' + nullTypes + ' null type_ids (of ' + totalSynced + ' total)';\n}\nreturn [{ json: { count: totalSynced, syncRunId, warning } }];" } },
    { "id": "wait-pagination-07", "name": "Wait 500ms", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3520, 200], "parameters": { "jsCode": "await new Promise(resolve => setTimeout(resolve, 500));\nreturn $input.all();" } },
    { "id": "sync-success-07", "name": "Sync Success", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [3740, 520], "parameters": { "method": "PATCH", "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/sync_runs?id=eq.{{ $json.syncRunId }}", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{ $env.SUPABASE_LEADS_KEY }}" }, { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}" }, { "name": "Prefer", "value": "return=representation" }] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={\"status\": \"success\", \"records_synced\": {{ $json.count }}, \"error_message\": \"{{ $json.warning }}\", \"finished_at\": \"{{ $now.toISO() }}\"}", "options": {} } }
  ],
  "connections": {
    "Start": { "main": [[{ "node": "Sync Start", "type": "main", "index": 0 }]] },
    "Sync Start": { "main": [[{ "node": "Fetch Users", "type": "main", "index": 0 }]] },
    "Fetch Users": { "main": [[{ "node": "Build User Map", "type": "main", "index": 0 }]] },
    "Build User Map": { "main": [[{ "node": "Fetch Activity Types", "type": "main", "index": 0 }]] },
    "Fetch Activity Types": { "main": [[{ "node": "Build Lookups", "type": "main", "index": 0 }]] },
    "Build Lookups": { "main": [[{ "node": "Init Pagination", "type": "main", "index": 0 }]] },
    "Init Pagination": { "main": [[{ "node": "Build Search Body", "type": "main", "index": 0 }]] },
    "Build Search Body": { "main": [[{ "node": "Search Close Activities", "type": "main", "index": 0 }]] },
    "Search Close Activities": { "main": [[{ "node": "Transform Activities", "type": "main", "index": 0 }]] },
    "Transform Activities": { "main": [[{ "node": "Aggregate Batch", "type": "main", "index": 0 }]] },
    "Aggregate Batch": { "main": [[{ "node": "Upsert Activities", "type": "main", "index": 0 }]] },
    "Upsert Activities": { "main": [[{ "node": "Check More Pages", "type": "main", "index": 0 }]] },
    "Check More Pages": { "main": [[{ "node": "Has More?", "type": "main", "index": 0 }]] },
    "Has More?": { "main": [[{ "node": "Wait 500ms", "type": "main", "index": 0 }], [{ "node": "Count Records", "type": "main", "index": 0 }]] },
    "Wait 500ms": { "main": [[{ "node": "Build Search Body", "type": "main", "index": 0 }]] },
    "Count Records": { "main": [[{ "node": "Sync Success", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "OrTCUp8ufHjtmIcm"
  }
}
