documents/n8n/projects/close-supabase-sync/workflows/07-sync-activity-types.json
{
  "id": "EoWyjoFxE2W3bwfZ",
  "name": "Sync Custom Activity Types to Supabase",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "chat-trigger-activity-types",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [0, 256],
      "webhookId": "activity-types-test"
    },
    {
      "parameters": {
        "url": "https://api.close.com/api/v1/custom_activity/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "http-close",
      "name": "GET Close Activity Types",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [224, 0],
      "credentials": { "httpBasicAuth": { "id": "c1zqLlNCaOTBnrvH", "name": "Close.io" } }
    },
    {
      "parameters": { "fieldToSplitOut": "data", "options": {} },
      "id": "split-001",
      "name": "Split Activity Types",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [448, 0]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            { "id": "1", "name": "close_id", "value": "={{ $json.id }}", "type": "string" },
            { "id": "2", "name": "name", "value": "={{ $json.name }}", "type": "string" },
            { "id": "3", "name": "description", "value": "={{ $json.description }}", "type": "string" },
            { "id": "4", "name": "api_create_only", "value": "={{ $json.api_create_only }}", "type": "boolean" },
            { "id": "5", "name": "is_archived", "value": "={{ $json.is_archived }}", "type": "boolean" },
            { "id": "6", "name": "fields", "value": "={{ $json.fields }}", "type": "array" },
            { "id": "7", "name": "organization_id", "value": "={{ $json.organization_id }}", "type": "string" },
            { "id": "8", "name": "created_by", "value": "={{ $json.created_by }}", "type": "string" },
            { "id": "9", "name": "updated_by", "value": "={{ $json.updated_by }}", "type": "string" },
            { "id": "10", "name": "close_date_created", "value": "={{ $json.date_created }}", "type": "string" },
            { "id": "11", "name": "close_date_updated", "value": "={{ $json.date_updated }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "set-001",
      "name": "Map Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [672, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/custom_activity_types?on_conflict=close_id",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_LEADS_KEY }}" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "http-supabase",
      "name": "Upsert to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 0],
      "credentials": {
        "httpHeaderAuth": { "id": "SUPABASE_HTTP_CREDENTIAL_ID", "name": "Supabase API" }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "GET Close Activity Types", "type": "main", "index": 0 }]]
    },
    "Chat Trigger": {
      "main": [[{ "node": "GET Close Activity Types", "type": "main", "index": 0 }]]
    },
    "GET Close Activity Types": {
      "main": [[{ "node": "Split Activity Types", "type": "main", "index": 0 }]]
    },
    "Split Activity Types": {
      "main": [[{ "node": "Map Fields", "type": "main", "index": 0 }]]
    },
    "Map Fields": {
      "main": [[{ "node": "Upsert to Supabase", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1", "callerPolicy": "workflowsFromSameOwner" }
}
