documents/n8n/projects/close-supabase-sync/workflows/26-angebot-erstellen.json
{
  "name": "26-angebot-erstellen",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "trigger-26",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "url": "=https://api.close.com/api/v1/user/{{ $json.userId }}/",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Basic YXBpXzJKd0JqaHMwYmZCUmJ5d3dHeXA0blUuMWlWV0NZVUUyRzE3NWh6NjJmNEJMRzo=" },
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "options": {}
      },
      "id": "get-user-26",
      "name": "GET Closer Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const input = $('Execute Workflow Trigger').first().json;\nconst user = $('GET Closer Info').first().json;\nconst cf = input.customFields || {};\n\nconst closerEmail = user.email || '';\nconst closerFirstName = user.first_name || '';\nconst closerLastName = user.last_name || '';\nconst closerFullName = (closerFirstName + ' ' + closerLastName).trim();\n\nconst produkt = cf['custom.cf_mfvkzeuvTTCslhGkBxcitD5j2bL0CgPwOjv4VfzKbm1'] || '';\nconst firmenName = cf['custom.cf_Q2cnwV5LpPO1NvlgA6OU1NGn5NOCO8lJmurLL7KAkoj'] || '';\nconst strasse = cf['custom.cf_u5YCH2sXANUtIYnv3FPfg3aJ4PLOdaW1PcZzPBF4Phl'] || '';\nconst plzOrt = cf['custom.cf_cUAqhLqYQXOv7MNgx8l2vqnWy8IQJjbLin8gk7PFkAg'] || '';\nconst kundenEmail = cf['custom.cf_9SfAdyRwGi8uTBMoLOc2ZxrJdgsIjALd3l6RXSRFdIE'] || '';\nconst einrichtungsgebuehr = cf['custom.cf_PFe9UdXNxK2X6E1gT7NAj2zKvICmC2K3M9Fc6uydSTu'] || '';\nconst laufzeit = cf['custom.cf_WH8sILS0Ol8gDhMhURn9cLR38iMT2laR77jHGSLSgmU'] || '';\nconst sondervereinbarung = cf['custom.cf_tSj5Q2QjLyeVvXjJQqEQ5cFKNAF3pDgl9pbGcoUGb79'] || '';\n\nconst TEMPLATE_MAP = {\n  'Firmenprofil Premium': 378486,\n  'Firmenprofil Starter': 377939\n};\nconst templateId = TEMPLATE_MAP[produkt];\n\nif (!templateId) {\n  throw new Error('Unknown Produkt: ' + produkt + '. Cannot determine template_id.');\n}\n\nconst now = new Date();\nconst todayFormatted = String(now.getDate()).padStart(2, '0') + '.' + String(now.getMonth() + 1).padStart(2, '0') + '.' + now.getFullYear();\n\nconst einrichtungsgebuehrNumber = parseFloat(String(einrichtungsgebuehr).replace(',', '.')) || 0;\n\nreturn [{\n  json: {\n    leadId: input.leadId,\n    templateId,\n    closerEmail,\n    closerFullName,\n    kundenEmail,\n    firmenName,\n    strasse,\n    plzOrt,\n    laufzeit,\n    sondervereinbarung,\n    einrichtungsgebuehr: einrichtungsgebuehrNumber,\n    todayFormatted\n  }\n}];"
      },
      "id": "prepare-26",
      "name": "Prepare DocuSeal Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.docuseal.eu/submissions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.DOCUSEAL_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ template_id: $json.templateId, send_email: true, bcc_completed: $json.closerEmail + ',' + $json.kundenEmail, submitters: [{ email: $json.closerEmail, role: 'First Party', values: { CloserName: $json.closerFullName, CloserEmail: 'auftrag@localweb.de', Laufzeit: $json.laufzeit, Sondervereinbarung: $json.sondervereinbarung, StadtDatumAuftragnehmer: 'Grünwald, den ' + $json.todayFormatted } }, { email: $json.kundenEmail, role: 'Second Party', values: { KundenName: $json.firmenName, KundenStrasse: $json.strasse, KundenStadt: $json.plzOrt, StadtDatumAuftraggeber: '' } }] }) }}",
        "options": {}
      },
      "id": "docuseal-26",
      "name": "Create DocuSeal Submission",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const response = $('Create DocuSeal Submission').first().json;\nconst prepare = $('Prepare DocuSeal Data').first().json;\n\n// DocuSeal returns an array of submitter objects\nconst submitters = Array.isArray(response) ? response : (response.submitters || response.data || [response]);\n\nlet recipient1Url = '';\nlet recipient2Url = '';\n\nfor (const s of submitters) {\n  const role = (s.role || '').toLowerCase();\n  const url = s.embed_src || s.slug || s.url || '';\n  if (role === 'first party' || role.includes('first')) {\n    recipient1Url = url;\n  } else if (role === 'second party' || role.includes('second')) {\n    recipient2Url = url;\n  }\n}\n\n// Fallback: assign by index if roles not matched\nif (!recipient1Url && submitters.length > 0) {\n  recipient1Url = submitters[0].embed_src || submitters[0].slug || submitters[0].url || '';\n}\nif (!recipient2Url && submitters.length > 1) {\n  recipient2Url = submitters[1].embed_src || submitters[1].slug || submitters[1].url || '';\n}\n\nreturn [{\n  json: {\n    leadId: prepare.leadId,\n    recipient1Url,\n    recipient2Url,\n    laufzeit: prepare.laufzeit,\n    einrichtungsgebuehr: prepare.einrichtungsgebuehr\n  }\n}];"
      },
      "id": "parse-docuseal-26",
      "name": "Parse DocuSeal Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.close.com/api/v1/lead/{{ $json.leadId }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Basic YXBpXzJKd0JqaHMwYmZCUmJ5d3dHeXA0blUuMWlWV0NZVUUyRzE3NWh6NjJmNEJMRzo=" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ 'custom.cf_8x25bJXLGwY6fi5QUH3cPN4fDgFWAnUqsAfDM8sy8QF': $json.recipient1Url, 'custom.cf_7HJAEPWEDZRSXCYO77ISvjtJ38uMhSfSx7YrY5vjDyo': $json.recipient2Url }) }}",
        "options": {}
      },
      "id": "update-lead-26",
      "name": "Update Lead with Contract URLs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "url": "=https://api.close.com/api/v1/opportunity/?lead_id={{ $json.leadId }}&status_type=active&_limit=1&_order_by=-date_created",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Basic YXBpXzJKd0JqaHMwYmZCUmJ5d3dHeXA0blUuMWlWV0NZVUUyRzE3NWh6NjJmNEJMRzo=" },
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "options": {}
      },
      "id": "get-opp-26",
      "name": "GET Active Opportunity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const oppResponse = $('GET Active Opportunity').first().json;\nconst prev = $('Parse DocuSeal Response').first().json;\nconst opportunities = oppResponse.data || [];\n\nif (opportunities.length === 0) {\n  return [{ json: { _skip: true, _reason: 'No active opportunity found for lead ' + prev.leadId } }];\n}\n\nconst opp = opportunities[0];\n\nreturn [{\n  json: {\n    _skip: false,\n    oppId: opp.id,\n    laufzeit: prev.laufzeit,\n    einrichtungsgebuehr: prev.einrichtungsgebuehr,\n    recipient2Url: prev.recipient2Url\n  }\n}];"
      },
      "id": "check-opp-26",
      "name": "Check Opportunity",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "combinator": "and",
          "conditions": [
            {
              "id": "skip-check-26",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notTrue" }
            }
          ]
        }
      },
      "id": "if-opp-26",
      "name": "Has Opportunity?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1920, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.close.com/api/v1/opportunity/{{ $json.oppId }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Basic YXBpXzJKd0JqaHMwYmZCUmJ5d3dHeXA0blUuMWlWV0NZVUUyRzE3NWh6NjJmNEJMRzo=" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status_id: 'stat_9RpuVOlozwXRQBM2dslIjXxZ0u8clBefcN3CpqLtWtF', 'custom.cf_HzGEkxy4HPF03ZyoIREA1nqdwkcU88ZVuYzukW3Vxz5': $json.einrichtungsgebuehr, 'custom.cf_iansZUWRLsuekI5ZbgZL6EjoqrAMwItKxYz2GRgoQCL': $json.laufzeit, 'custom.cf_aMWs0R4RzPkj7VU9qAdLdXR2BKcuHfFPNCu0LaMfhwC': $json.recipient2Url }) }}",
        "options": {}
      },
      "id": "put-opp-26",
      "name": "Update Opportunity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2160, 200],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_LEADS_URL }}/rest/v1/sync_runs",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_LEADS_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_LEADS_KEY }}" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ entity: 'webhook_26_angebot_erstellen', status: 'error', error_message: ($json.error?.message || $json.errorMessage || 'Failed to update opportunity').substring(0, 500), started_at: new Date().toISOString(), finished_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "error-log-26",
      "name": "Log Error to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2400, 350],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{ "node": "GET Closer Info", "type": "main", "index": 0 }]]
    },
    "GET Closer Info": {
      "main": [[{ "node": "Prepare DocuSeal Data", "type": "main", "index": 0 }]]
    },
    "Prepare DocuSeal Data": {
      "main": [[{ "node": "Create DocuSeal Submission", "type": "main", "index": 0 }]]
    },
    "Create DocuSeal Submission": {
      "main": [[{ "node": "Parse DocuSeal Response", "type": "main", "index": 0 }]]
    },
    "Parse DocuSeal Response": {
      "main": [[{ "node": "Update Lead with Contract URLs", "type": "main", "index": 0 }]]
    },
    "Update Lead with Contract URLs": {
      "main": [[{ "node": "GET Active Opportunity", "type": "main", "index": 0 }]]
    },
    "GET Active Opportunity": {
      "main": [[{ "node": "Check Opportunity", "type": "main", "index": 0 }]]
    },
    "Check Opportunity": {
      "main": [[{ "node": "Has Opportunity?", "type": "main", "index": 0 }]]
    },
    "Has Opportunity?": {
      "main": [
        [{ "node": "Update Opportunity", "type": "main", "index": 0 }],
        []
      ]
    },
    "Update Opportunity": {
      "main": [
        [],
        [{ "node": "Log Error to Supabase", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "OrTCUp8ufHjtmIcm"
  }
}